<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-objectNumberSearch-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-object-identification-object-number-search"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-objectNumberRangeSearch-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-collection-object-objectNumberRangeSearchStart-label"></td>
                                    <td class="csc-collection-object-objectNumberRangeSearchEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-collection-object-objectNumberRangeSearchStart" /></td>
                                    <td><input type="text" class="csc-collection-object-objectNumberRangeSearchEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="hidden">
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-collection-object-sortableObjectNumberStart" /></td>
                                    <td><input type="text" class="csc-collection-object-sortableObjectNumberEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-legalStatus-label"></div>
                    </div>
                    <div class="content">
                        <select class="csc-collection-object-legalStatus input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-itemClass-label"></div>
                    </div>
                    <div class="content">
                        <select class="csc-collection-object-itemClass input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-bampfaObjectProductionPerson-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-bampfaObjectProductionPersonGroup">
                        <input type="text" class="csc-collection-object-bampfaObjectProductionPerson"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-objectProductionPeople-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-objectProductionPeopleGroup">
                        <input type="text" class="csc-object-production-people"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-bampfaTitleSearch-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-bampfaTitleGroup">
                        <input type="text" class="csc-collection-object-bampfaTitleSearch"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-physicalDescription-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-object-description-physical-description">
                    </div>
                </div>                
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-numberValue-label"></div>
                    </div>
                    <div class="content clearfix csc-object-identification-otherNumbers">
                        <input type="text" class="csc-object-identification-other-number"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-computedCurrentLocationSearch-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-collection-object-computedCurrentLocationSearch">
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-computedCrateSearch-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-collection-object-computedCrateSearch">
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-objectProductionDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                            <tr>
                                <td class="csc-collection-object-objectProductionDateStart-label"></td>
                                <td class="csc-collection-object-objectProductionDateEnd-label"></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="text" class="csc-collection-object-objectProductionDateStart" /></td>
                                <td><input type="text" class="csc-collection-object-objectProductionDateEnd" /></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-objectProductionPlace-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-objectProductionPlaceGroup">
                        <input type="text" class="csc-object-production-place"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-editionNumber-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-object-description-edition-number"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-stateGeneration-label"></div>
                    </div>
                    <div class="content">
                        <input type="text" class="csc-collection-object-stateGeneration"/>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-soundOrSilent-label"></div>
                    </div>
                    <div class="content">
                        <select class="csc-collection-object-soundOrSilent input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-bwOrColor-label"></div>
                    </div>
                    <div class="content">
                        <select class="csc-collection-object-bwOrColor input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-acquisitionMethod-label"></div>
                    </div>
                    <div class="content">
                        <td><select class="csc-collection-object-acquisitionMethod input-select"><option value="">Options not loaded</option></select></td>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-acquisitionDateGroup-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                            <tr>
                                <td class="csc-collection-object-acquisitionDateGroupStart-label"></td>
                                <td class="csc-collection-object-acquisitionDateGroupEnd-label"></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="text" class="csc-collection-object-acquisitionDateGroupStart" /></td>
                                <td><input type="text" class="csc-collection-object-acquisitionDateGroupEnd" /></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-acquisitionSource-label"></div>
                    </div>
                    <div class="content">
                        <input type="text" class="csc-collection-object-acquisitionSource" />
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-bampfaAcquisitionReason-label"></div>
                    </div>
                    <div class="content">
                        <select class="csc-collection-object-bampfaAcquisitionReason input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-bampfaCollection-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-collection-object-bampfaCollection"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-subjectTheme-label"></div>
                    </div>
                    <div class="content">
                        <select class="csc-collection-object-subjectTheme input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-style-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-object-description-style input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-seriesTitle-label"></div>
                    </div>
                    <div class="content">
                        <input type="text" class="csc-collection-object-seriesTitle" />
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-partOf-label"></div>
                    </div>
                    <div class="content">
                        <input type="text" class="csc-collection-object-partOf" />
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-permissionToReproduce-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-collection-object-permissionToReproduce input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-updatedBy-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-collection-object-updatedBy"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-collection-object-updatedAtStart-label"></td>
                                    <td class="csc-collection-object-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-collection-object-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-collection-object-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
