<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-objectNumber-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-object-identification-object-number"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-objectNumberRangeSearch-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-collection-object-objectNumberRangeSearchStart-label"></td>
                                    <td class="csc-collection-object-objectNumberRangeSearchEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-collection-object-objectNumberRangeSearchStart" /></td>
                                    <td><input type="text" class="csc-collection-object-objectNumberRangeSearchEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-objectName-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-objectNameGroup">
                        <input type="text" class="csc-object-identification-object-name"/>
                    </div>        
                </div> -->
                <!-- <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-responsibleDepartment-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-object-identification-responsible-department"><option value="">Options not loaded</option></select>
                    </div>        
                </div> -->
                <!-- <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-collection-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-object-identification-collection"><option value="">Options not loaded</option></select>
                    </div>        
                </div> -->
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-taxon-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-taxonomicIdentGroup">
                        <input type="text" class="csc-taxonomic-identification-taxon"/>
                    </div>
                </div>
                <!-- <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-title-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-titleGroup">
                        <input type="text" class="csc-object-identification-object-title"/>
                    </div>        
                </div> -->
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-recordStatus-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-object-identification-record-status input-select"><option value="">Options not loaded</option></select>
                    </div>        
                </div>
                <!-- <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-copyNumber-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-object-description-copy-number"/>
                    </div>
                </div> -->
                <!-- <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-editionNumber-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-object-description-edition-number"/>
                    </div>
                </div> -->
                <!-- <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-typeSpecimenKind-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-typeSpecimenGroup">
                        <select class="csc-object-identification-object-typeSpecimenKind input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div> -->
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-fieldCollector-label"></div>
                    </div>                            
                    <div class="content clearfix csc-collection-object-fieldCollectors">
                        <input type="text" class="csc-collection-object-fieldCollector" />
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-fieldLocVerbatim-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-localityGroup">
                        <input type="text" class="csc-collection-object-fieldLocVerbatim"/>
                    </div>
                </div>
                <!-- <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-fieldLocCounty-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-localityGroup">
                        <select class="csc-collection-object-fieldLocCounty input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-fieldLocState-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-localityGroup">
                        <select class="csc-collection-object-fieldLocState input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-fieldLocCountry-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-localityGroup">
                        <select class="csc-collection-object-fieldLocCountry input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div> -->
                <!-- <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-form-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-object-description-form input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div> -->
                <!-- Commenting these out for now, to avoid CSPACE-4903. -->
                <!--
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-inscriptionDescriptionInscriber-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-nonTextualInscriptionGroup">
                        <input type="text" class="csc-object-description-inscription-description-inscriber"/>
                    </div>
                </div>
                <div class="info-pair" style="display:none;">
                    <div class="header">
                        <div class="label csc-collection-object-inscriptionDescriptionMethod-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-nonTextualInscriptionGroup">
                        <input type="text" class="csc-object-description-inscription-description-method"/>
                    </div>
                </div>
                -->
                <!-- <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-material-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-materialGroup">
                        <input type="text" class="csc-object-description-material"/>
                    </div>
                </div> -->
                <!-- <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-objectStatus-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-object-description-object-status input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div> -->
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-phase-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-object-description-phase input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <!-- <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-sex-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-object-description-sex input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div> -->
                <!-- <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-style-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-object-description-style"/>
                    </div>
                </div> -->
                <!-- <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-technicalAttribute-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-technicalAttributeGroup">
                        <select class="csc-object-description-technical-attribute input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div> -->
                <!-- <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-objectComponentName-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-objectComponentGroup">
                        <select class="csc-object-description-object-component-name input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div> -->
                <!--
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-objectProductionDate-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-object-production-date"/>
                    </div>
                </div>
                -->
                <!-- <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-objectProductionOrganization-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-objectProductionOrganizationGroup">
                        <input type="text" class="csc-object-production-organization"/>
                    </div>
                </div> -->
                <!-- <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-objectProductionPeople-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-objectProductionPeopleGroup">
                        <input type="text" class="csc-object-production-people"/>
                    </div>
                </div> -->
                <!-- <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-objectProductionPerson-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-objectProductionPersonGroup">
                        <input type="text" class="csc-object-production-person"/>
                    </div>
                </div> -->
                <!-- <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-objectProductionPlace-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-objectProductionPlaceGroup">
                        <input type="text" class="csc-object-production-place"/>
                    </div>
                </div> -->
                <!-- <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-technique-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-techniqueGroup">
                        <input type="text" class="csc-object-production-technique"/>
                    </div>
                </div> -->
                <!-- <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-fieldColEventName-label"></div>
                    </div>                            
                    <div class="content clearfix">
                        <input type="text" class="input-alpha csc-collection-object-fieldColEventName" />
                    </div>
                </div> -->
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-deadDateSearch-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-collection-object-deadDateSearchStart-label"></td>
                                    <td class="csc-collection-object-deadDateSearchEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-collection-object-deadDateSearchStart" /></td>
                                    <td><input type="text" class="csc-collection-object-deadDateSearchEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-deadFlag-label"></div>
                    </div>
                    <div class="content clearfix">
                        <!-- <input type="checkbox" class="csc-collection-object-deadFlag"/> -->
						<select class="csc-collection-object-deadFlag input-select">
							<option value="">Options not loaded</option>
						</select>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-rare-label"></div>
                    </div>
                    <div class="content clearfix">
                        <!-- <input type="checkbox" class="csc-collection-object-rare"/> -->
						<select class="csc-collection-object-rare input-select">
							<option value="">Options not loaded</option>
						</select>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-cultivated-label"></div>
                    </div>
                    <div class="content clearfix">
                        <!-- <input type="checkbox" class="csc-collection-object-rare"/> -->
						<select class="csc-collection-object-cultivated input-select">
							<option value="">Options not loaded</option>
						</select>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-fieldLocPlace-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-localityGroup">
                        <input type="text" class="csc-collection-object-fieldLocPlace"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-fieldLocPlace-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-localityGroup">
                        <input type="text" class="csc-collection-object-fieldLocPlace"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-taxonomicRange-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-localityGroup">
                        <input type="text" class="csc-collection-object-taxonomicRange"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-updatedBy-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-collection-object-updatedBy"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-collection-object-updatedAtStart-label"></td>
                                    <td class="csc-collection-object-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-collection-object-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-collection-object-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair" style="display:none;">
                    <div class="header">
                        <div class="label csc-collection-object-numberOfObjects-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-collection-object-numberOfObjectsStart-label"></td>
                                    <td class="csc-collection-object-numberOfObjectsEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-collection-object-numberOfObjectsStart" /></td>
                                    <td><input type="text" class="csc-collection-object-numberOfObjectsEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
