<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanout-loanOutNumber-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-loanOut-loanOutNumber"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanout-loanOutDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-loanout-loanOutDateStart-label"></td>
                                    <td class="csc-loanout-loanOutDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-loanout-loanOutDateStart" /></td>
                                    <td><input type="text" class="csc-loanout-loanOutDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-loanout-loanPurpose-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-loanOut-loanPurpose"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanout-borrower-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-loanOut-borrower"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanout-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-loanout-updatedAtStart-label"></td>
                                    <td class="csc-loanout-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-loanout-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-loanout-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                                                                     
            </div>
        </div>
    </div>
</div>    
