<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-taxon-termDisplayName-label"></div>
                    </div>
                    <div class="content clearfix csc-preferredTA-taxonTermGroup">
                        <input type="text" class="csc-taxonAuthority-termDisplayName">
                    </div>
                </div>
                <!-- FIXME: Un-hide by removing 'style' attribute when CSPACE-5184/CSPACE-5185 is fixed -->
                <div class="info-pair" style="display:none;">
                    <div class="header">
                        <div class="label csc-taxon-termName-label"></div>
                    </div>
                    <div class="content clearfix csc-preferredTA-taxonTermGroup">
                        <input type="text" class="csc-taxonAuthority-termName">
                    </div>
                </div>
                <!-- FIXME: Un-hide by removing 'style' attribute when CSPACE-5184/CSPACE-5185 is fixed -->
                <div class="info-pair" style="display:none;">
                    <div class="header">
                        <div class="label csc-taxon-taxonRank-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-taxon-taxonRank input-select"><option value=""></option></select>
                    </div>
                </div>
                <!-- <div class="info-pair">
                    <div class="header">
                        <div class="label csc-taxon-taxonCurrency-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-taxon-taxonCurrency input-select"><option value=""></option></select>
                    </div>
                </div> -->
                <div class="info-pair">
                    <div class="header">
                        <div class="csc-taxon-taxonAuthor-label label"></div>
                    </div>
                    <div class="content clearfix csc-taxon-taxonAuthorGroup">
                        <input type="text" class="csc-taxon-taxonAuthor" />
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="csc-taxon-taxonYear-label label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-taxon-taxonYear" />
                    </div>
                </div>
                <!-- FIXME: Need to clarify what markup is needed for this now-Boolean field and -->
                <!-- verify that the generated advanced search query is appropriate for this field type. -->
                <div class="info-pair" style="display:none;">
                    <div class="header">
                        <div class="csc-taxon-taxonIsNamedHybrid-label label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-taxon-taxonIsNamedHybrid input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <!-- <div class="info-pair">
                    <div class="header">
                        <div class="csc-taxon-taxonCitation-label label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-taxon-taxonCitation" />
                    </div>
                </div> -->
                <div class="info-pair">
                    <div class="header">
                        <div class="csc-taxon-commonName-label label"></div>
                    </div>
                    <div class="content clearfix csc-taxon-commonNameGroup">
                        <input type="text" class="csc-taxon-commonName" />
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="csc-taxon-family-label label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-taxon-family" />
                    </div>
                </div>
				<div class="info-pair-select">
                    <div class="header">
                        <div class="csc-taxon-accessRestrictions-label label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-taxon-accessRestrictions input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
				<div class="info-pair">
					<div class="header">
						<div class="label csc-taxon-conservationOrganization-label"></div>
					</div>
					<div class="content clearfix csc-taxon-plantAttributesGroup">
						<input type="text" class="csc-taxon-conservationOrganization"/>
					</div>
				</div>
				<div class="info-pair">
					<div class="header">
						<div class="label csc-taxon-conservationCategory-label"></div>
					</div>
					<div class="content clearfix csc-taxon-plantAttributesGroup">
						<input type="text" class="csc-taxon-conservationCategory"/>
					</div>
				</div>

                <!-- FIXME: Un-hide by removing 'style' attribute when CSPACE-5184/CSPACE-5185 is fixed -->
                <div class="info-pair-select" style="display:none;">
                    <div class="header">
                        <div class="csc-taxon-taxonomicStatus-label label"></div>
                    </div>
                    <div class="content clearfix csc-preferredTA-taxonTermGroup">
                        <select class="csc-taxonAuthority-taxonomicStatus input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <!-- FIXME: Un-hide by removing 'style' attribute when CSPACE-5184/CSPACE-5185 is fixed -->
                <div class="info-pair-select" style="display:none;">
                    <div class="header">
                        <div class="label csc-taxon-termStatus-label"></div>
                    </div>
                    <div class="content clearfix csc-preferredTA-taxonTermGroup">
                        <select class="csc-taxonAuthority-termStatus input-select"><option value="">Options not loaded</option></select>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-taxon-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-taxon-updatedAtStart-label"></td>
                                    <td class="csc-taxon-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-taxon-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-taxon-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
