<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-objectNumber-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-object-identification-object-number"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-objectNumberRangeSearch-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-collection-object-objectNumberRangeSearchStart-label"></td>
                                    <td class="csc-collection-object-objectNumberRangeSearchEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-collection-object-objectNumberRangeSearchStart" /></td>
                                    <td><input type="text" class="csc-collection-object-objectNumberRangeSearchEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-taxon-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-taxonomicIdentGroup">
                        <input type="text" class="csc-taxonomic-identification-taxon"/>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-deadFlag-label"></div>
                    </div>
                    <div class="content clearfix">
                        <!-- <input type="checkbox" class="csc-collection-object-deadFlag"/> -->
						<select class="csc-collection-object-deadFlag input-select">
							<option value="">Options not loaded</option>
						</select>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-recordStatus-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-object-identification-record-status input-select"><option value="">Options not loaded</option></select>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-fieldCollector-label"></div>
                    </div>                            
                    <div class="content clearfix csc-collection-object-fieldCollectors">
                        <input type="text" class="csc-collection-object-fieldCollector" />
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-fieldLocVerbatim-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-localityGroup">
                        <input type="text" class="csc-collection-object-fieldLocVerbatim"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-source-label"></div>
                    </div>
                    <div class="content">
                        <input type="text" class="csc-collection-object-source"/>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-phase-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-object-description-phase input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-deadDateSearch-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-collection-object-deadDateSearchStart-label"></td>
                                    <td class="csc-collection-object-deadDateSearchEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-collection-object-deadDateSearchStart" /></td>
                                    <td><input type="text" class="csc-collection-object-deadDateSearchEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-rare-label"></div>
                    </div>
                    <div class="content clearfix">
                        <!-- <input type="checkbox" class="csc-collection-object-rare"/> -->
						<select class="csc-collection-object-rare input-select">
							<option value="">Options not loaded</option>
						</select>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-cultivated-label"></div>
                    </div>
                    <div class="content clearfix">
                        <!-- <input type="checkbox" class="csc-collection-object-rare"/> -->
						<select class="csc-collection-object-cultivated input-select">
							<option value="">Options not loaded</option>
						</select>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-fieldLocPlace-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-localityGroup">
                        <input type="text" class="csc-collection-object-fieldLocPlace"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-taxonomicRange-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-localityGroup">
                        <input type="text" class="csc-collection-object-taxonomicRange"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-usedIn-label"></div>
                    </div>
                    <div class="content clearfix csc-collection-object-accessionUseGroup">
                        <input type="text" class="csc-collection-object-usedIn" />
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-updatedBy-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-collection-object-updatedBy"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-collection-object-updatedAtStart-label"></td>
                                    <td class="csc-collection-object-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-collection-object-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-collection-object-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair" style="display:none;">
                    <div class="header">
                        <div class="label csc-collection-object-numberOfObjects-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-collection-object-numberOfObjectsStart-label"></td>
                                    <td class="csc-collection-object-numberOfObjectsEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-collection-object-numberOfObjectsStart" /></td>
                                    <td><input type="text" class="csc-collection-object-numberOfObjectsEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
