<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-pottag-family-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-pottag-family"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-pottag-commonName-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-pottag-commonName"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-pottag-locale-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-pottag-locale"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-pottag-taxonName-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-pottag-taxonName"/>
                    </div>        
                </div>
                <div class="info-pair-select">
					<div class="header">
						<div class="label csc-pottag-printLabels-label"></div>
					</div>
					<div class="content">
						<select class="csc-pottag-printLabels input-select"><option value="">Options not loaded</option></select>
					</div>
				</div>
				
                
                <div class="info-pair" style="display:none;">
                    <div class="header">
                        <div class="label csc-pottag-updatedBy-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-pottag-updatedBy"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-pottag-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-pottag-updatedAtStart-label"></td>
                                    <td class="csc-pottag-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-pottag-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-pottag-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                                                                     
            </div>
        </div>
    </div>
</div>