<div class="info-pair">
	<div class="header">
		<div class="label csc-dimension-measuredPartGroup-label"></div>
	</div>
	<div class="content csc-dimension-measuredPartGroup">
        <div class="info-column">
			<div class="info-column2-30 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-dimension-measuredPart-label"></div>
					</div>
					<div class="content">
						<!-- measuredPart is not a select field for PAMHA -->
						<input type="text" class="csc-dimension-measuredPart"/>
					</div>
				</div>
			</div>
			<!-- DIMENSION SUMMARY HIDDEN UNTIL IT IS AUTO-FILLED FROM DIMENSIONS -->
			<!-- <div class="info-column2-50 fl-force-right">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-dimension-dimensionSummary-label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-dimension-dimensionSummary"/>
					</div>
				</div>
			</div> -->
		</div>
		<div class="info-column">
			<div class="info-pair">
			    <div class="header">
            		<div class="label csc-measuredPartGroup-dimensionSubGroup-label"></div>
            	</div>
				<div class="content pahmaCustomColumnWidth">
					<table>
						<thead>
							<tr>
								<td class="csc-dimension-dimension-label"></td>
								<td class="csc-dimension-measuredBy-label"></td>
								<td class="csc-dimension-value-label"></td>
								<td class="csc-dimension-measurementUnit-label"></td>
								<td class="csc-dimension-valueQualifier-label"></td>
								<td class="csc-dimension-valueDate-label"></td>
								<td class="csc-dimension-dimensionNote-label"></td>
							</tr>
						</thead>
						<tbody>
							<tr class="csc-measuredPartGroup-dimensionSubGroup">
								<td><select class="csc-dimension-dimension input-select"><option value="">Options not loaded</option></select></td>
								<td><input type="text" class="csc-dimension-measuredBy" /></td>
								<td><input type="text" class="csc-dimension-value"/></td>
								<td><select class="csc-dimension-measurementUnit input-select-shorter"><option value="">Options not loaded</option></select></td>
								<td><input type="text" class="csc-dimension-valueQualifier"/></td>
								<td class="caldatefieldsm"><input type="text" class="csc-dimension-valueDate caldatefieldsm" style="float: left"/></td>
								<td><input type="text" class="csc-dimension-dimensionNote"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>