<div class="fl-container-flex fl-fix information-group info-column">
	<div class="fl-container-flex fl-fix content main">
		<div class="info-column">
			<div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-osteology-InventoryID-label"></div>
                    </div>
                    <div class="content">
                        <input type="text" class="csc-osteology-InventoryID" />
                    </div>
                </div>
                <div class="info-column2-50 fl-force-left">
                    <div class="info-pair">
                        <div class="header">
                            <div class="label csc-osteology-inventoryAnalyst-label"></div>
                        </div>
                        <div class="content">
                            <input type="text" class="csc-osteology-inventoryAnalyst csc-required" />
                        </div>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-osteology-inventoryDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-osteology-inventoryDateStart-label"></td>
                                    <td class="csc-osteology-inventoryDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-osteology-inventoryDateStart" /></td>
                                    <td><input type="text" class="csc-osteology-inventoryDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-osteology-updatedBy-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-osteology-updatedBy"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-osteology-createdAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-osteology-createdAtStart-label"></td>
                                    <td class="csc-osteology-createdAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-osteology-createdAtStart" /></td>
                                    <td><input type="text" class="csc-osteology-createdAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-osteology-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-osteology-updatedAtStart-label"></td>
                                    <td class="csc-osteology-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-osteology-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-osteology-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>