<div class="content csc-preferredTA-taxonTermGroup">
    <div class="label csc-preferred-label"></div>
    <div class="info-column">
        <div class="info-pair">
            <div class="content">
                <table>
                    <thead>
                        <tr>
                            <td><span class="csc-preferredTA-termDisplayName-label label required"></span><span class="required">*</span></td>
                            <td class="csc-preferredTA-termQualifier-label label"></td>
                            <td class="csc-preferredTA-termType-label label"></td>
                            <td class="csc-preferredTA-termStatus-label label"></td>
                        </tr>
                    </thead>                                                        
                    <tbody>
                        <tr>
                            <td><input type="text" class="csc-taxonAuthority-termDisplayName"/></td>
                            <td><input type="text" class="csc-taxonAuthority-termQualifier"/></td>
                            <td><select class="csc-taxonAuthority-termType input-select"><option value="">Options not loaded</option></select></td>
                            <td><select class="csc-taxonAuthority-termStatus input-select"><option value="">Options not loaded</option></select></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="info-column">
        <div class="info-pair">
            <div class="content">
                <table>
                    <thead>
                        <tr>
                            <td class="csc-preferredTA-termLanguage-label label"></td>
                            <td class="csc-preferredTA-termPrefForLang-label label"></td>
                            <td class="csc-preferredTA-termSource-label label"></td>
                            <td class="csc-preferredTA-termSourceDetail-label label"></td>
                            <td class="csc-preferredTA-termSourceID-label label"></td>
                            <td class="csc-preferredTA-termSourceNote-label label"></td>
                            <td class="csc-preferredTA-taxonomicStatus-label label"></td>
                        </tr>
                    </thead>                                                        
                    <tbody>
                        <tr>
                            <td><select class="csc-taxonAuthority-termLanguage input-select"><option value="">Options not loaded</option></select></td>
                            <td><input type="checkbox" class="csc-taxonAuthority-termPrefForLang"/></td>
                            <td><input type="text" class="csc-taxonAuthority-termSource"/></td>
                            <td><input type="text" class="csc-taxonAuthority-termSourceDetail"/></td>
                            <td><input type="text" class="csc-taxonAuthority-termSourceID"/></td>
                            <td><input type="text" class="csc-taxonAuthority-termSourceNote"/></td>
                            <td><input type="text" class="csc-taxonAuthority-taxonomicStatus"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>