<div class="info-pair">
	<div class="header">
		<div>&nbsp;</div>
	</div>
	<div class="content csc-taxonTermGroup">
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td><span class="csc-taxon-termDisplayName-label label required"></span><span class="required">*</span></td>
								<td class="csc-taxon-termQualifier-label"></td>
								<td class="csc-taxon-termType-label"></td>
								<td class="csc-taxon-termStatus-label label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-taxonAuthority-termDisplayName"/></td>
								<td><input type="text" class="csc-taxonAuthority-termQualifier"/></td>
								<td><select class="csc-taxonAuthority-termType input-select"><option value="">Options not loaded</option></select></td>
								<td><select class="csc-taxonAuthority-termStatus input-select"><option value="">Options not loaded</option></select></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-taxon-termLanguage-label"></td>
								<td class="csc-taxon-termPrefForLang-label"></td>
								<td class="csc-taxon-termSource-label"></td>
								<td class="csc-taxon-termSourceDetail-label"></td>
								<td class="csc-taxon-termSourceID-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><select class="csc-taxonAuthority-termLanguage input-select"><option value="">Options not loaded</option></select></td>
								<td><input type="checkbox" class="csc-taxonAuthority-termPrefForLang"/></td>
								<td><input type="text" class="csc-taxonAuthority-termSource"/></td>
								<td><input type="text" class="csc-taxonAuthority-termSourceDetail"/></td>
								<td><input type="text" class="csc-taxonAuthority-termSourceID"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	    <div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-taxon-taxonAuthor-label label"></td>
								<td class="csc-taxon-taxonAuthorType-label label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-taxonAuthority-taxonAuthor" /></td>
								<td><select class="csc-taxonAuthority-taxonAuthorType input-select"><option value="">Options not loaded</option></select></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>