<div class="fl-container-flex fl-fix information-group info-column">
	<div class="fl-container-flex fl-fix content main">
		<div class="info-column">
			<div class="info-column2-50 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-taxon-displayName-label"></div>
					</div>
					<div class="content clearfix">
						<input type="text" class="csc-taxon-displayName">
					</div>
				</div>
				<div class="info-pair">
					<div class="header">
						<div class="label csc-taxon-termStatus-label"></div>
					</div>
					<div class="content clearfix">
						<select class="csc-taxon-termStatus input-select"><option value=""></option></select>
					</div>
				</div>
				<div class="info-pair">
					<div class="header">
						<div class="label csc-taxon-taxonFullName-label"></div>
					</div>
					<div class="content clearfix">
						<input type="text" class="csc-taxon-taxonFullName">
					</div>
				</div>
				<div class="info-pair">
					<div class="header">
						<div class="label csc-taxon-taxonRank-label"></div>
					</div>
					<div class="content clearfix">
						<select class="csc-taxon-taxonRank input-select"><option value=""></option></select>
					</div>
				</div>
				<div class="info-pair">
					<div class="header">
						<div class="label csc-taxon-taxonCurrency-label">Current?</div>
					</div>
					<div class="content clearfix">
						<select class="csc-taxon-taxonCurrency input-select"><option value=""></option></select>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
