<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-objectNumber-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-object-identification-object-number"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-artifactClassWorkTypeGroup-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
									<td class="label csc-object-identification-artifactClass-label"></td>
                                    <td class="label csc-object-identification-workType-label"></td>
                                </tr>
                            </thead>
                                <tbody>
									<tr class="csc-collection-object-artifactClassWorkTypeGroup">
										<td><select class="input-alpha-table csc-object-identification-artifactClass input-select"><option value="">Loading terms...</option></select></td>
										<td><select class="input-alpha-table csc-object-identification-workType input-select"><option value="">Loading terms...</option></select></td>
									</tr>
                                </tbody>
                        </table>
                    </div>
                </div>

                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-responsibleDepartment-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-object-identification-responsible-department"><option value="">Options not loaded</option></select>
                    </div>        
                </div>

                <!-- structured dates can't search by range yet-->
                <!--div class="info-pair">
                    <div class="header">
                        <div class="label cscx-collection-object-objectProductionDateGroup-label"></div>
                    </div>
                    <div class="content">
                        <input type="text" class="cscx-objectProductionDateGroup-objectProductionDate" />
                    </div>
                </div-->

                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-contentWorkGroup-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-collection-object-contentWork-label"></td>
                                    <!--td class="cscx-collection-object-contentWorkType-label"></td>
                                    <td class="cscx-collection-object-contentWorkNote-label"></td-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="csc-collection-object-contentWorkGroup">
                                    <td><input type="text" class="csc-object-history-contentWork"/></td>
                                    <!--td><select class="cscx-object-history-contentWorkType input-select"><option value="">Options not loaded</option></select></td>
                                    <td><input type="text" class="cscx-object-history-contentWorkNote"/></td-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-recordStatus-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-object-identification-record-status input-select"><option value="">Options not loaded</option></select>
                    </div>        
                </div>

                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-object-identification-initialCatalogingCompleted-label"></div>
                    </div>
                    <div class="content">
                        <input type="checkbox" class="csc-object-identification-initialCatalogingCompleted"/>
                    </div>
                </div>

                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-object-identification-additionalResearchRequired-label"></div>
                    </div>
                    <div class="content">
                         <input type="checkbox" class="csc-object-identification-additionalResearchRequired"/>
                    </div>
                </div>
                
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-object-identification-approvedByCurator-label"></div>
                    </div>
                    <div class="content">
                         <input type="checkbox" class="csc-object-identification-approvedByCurator"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    