/*Administration Pages*/

#administration .fl-container-1024-inner, #role .fl-container-1024-inner {
	background-color:#EEF4D7;}
#administration #title-bar .record-type, #role #title-bar .record-type {
	color:#77AA44;}
#role #primaryTab, #administration #primaryTab {padding: 10px; display: block; border: 2px solid #438CC9; margin-bottom:30px; background-color:#FFF;	border:2px solid #77AA44;}
