/*Administration Pages*/
#administration .fl-container-1024-inner {
    background-color:#EEF4D7;}
#administration #title-bar .record-type {
    color:#77AA44;}
#administration  .ui-tabs .ui-tabs-panel {padding: 20px 10px 10px 10px; display: block; border: 2px solid #438CC9; margin-bottom:30px; background-color:#FFF;   border:2px solid #77AA44;}
#administration #pager-bottom {
    border-bottom: none;
}
#administration .list-table {
    background-color: inherit;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
#administration .fl-pager .fl-pager-ui li.flc-per-page {
    width: 100px;
}
#administration .fl-pager .fl-pager-ui li.flc-pager-summary {
    width: auto !important;
    padding: 10px 0 5px 0;
}
#administration .cs-admin-recordEditor {
    background-color: #E6E6E6;
    padding: 12px;
}
#administration .cs-admin-add {
    -moz-border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;
}
.fl-container-admin .information-subgroup {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}