/* Right sidebar */

.pivot-search-box {
	margin-bottom:20px; 
	margin-top:-26px; 
	border:none; 
	border-top:none; }
.pivot-search-box .header {
	background-color:#74AC4D; 
	color:#FFFFFF; 
	font-size:13px;  
	padding:5px 0 5px 5px; 
	width:auto;}
.pivot-search-box .content {
	border:none; 
	padding: 10px; 
	background-color:#E8E7E7;}
.right-sidebar {
	width:100%; 
	border-bottom:3px solid #CDE2F2;}
.cs-sidebar-mediaImage {
	background-image: url(../images/sample.png);
	background-repeat: no-repeat; 
	background-position:center; 
	min-height:165px;}
.cs-media-snapshot-image .cs-sidebar-mediaImage {
    background: none;
    min-height: 0;
}
.media-snapshot .content {
	padding:6px;}
.media-snapshot .content img {
	margin-left:auto; 
	margin-right:auto;
	display:block;}
.pivot-box .content, .pivot-box-content, .pivot-search-box-content, .pivot-users-box-content {
	font-size:10px; 
	line-height:10px; 
	color:#7F8083; 
	background-color:#fff;}
.pivot-box .header, .pivot-search-box-header, .pivot-users-box-header, .create-report .header {
	background-color:#6F9ECD; 
	color:#FFF; 
	font-size:13px; 
	cursor:pointer; 
	height:13px; 
	width:auto;}
.pivot-box .header:hover, .pivot-box .header:focus {
	background-color:#438CC9;}
.pivot-box .header.toggle {
	height:19px;}
.header.static.button {
	height:21px;
	padding:4px 4px 0px 4px;}
.create-report {
	padding-left:10px; 
	background-color:inherit; 
	margin-bottom:20px;}
.create-report .header {
	background-color:#F0F5FB; 
	padding-bottom:6px; 
	color:#4D4D4D; 
	cursor:auto;}
.create-report select {
	width:70%;}
.pivot-search-box-header, .pivot-users-box .header {
	cursor:auto;}
.pivot-header {
	color:#606060;}
.pivot-box-data {
	padding:3px 0 3px 8px;}
.pivot-search-box-data  {
	padding:10px 0 10px 8px; 
	border:none;}
.pivot-box .data  {
	padding:10px 0 10px 8px;}
.pivot-menu-search select {
	margin-top:10px;}

