/*  styling repeatable fields  */
.cs-repeatable-repeat .input-textarea  {border:1px solid #C7CFD4;} 
.content .cs-repeatable-repeat {}
.content li.cs-repeatable-repeat input,
.content li.cs-repeatable-repeat select,
.content li.cs-repeatable-repeat button,
.content li.cs-repeatable-repeat textarea {
	float:left;}
.content li.cs-repeatable-repeat .content input,
.content li.cs-repeatable-repeat .content select,
.content li.cs-repeatable-repeat .content button,
.content li.cs-repeatable-repeat .content textarea {
	float:none;}
.content li.cs-repeatable-repeat .input-date {
	float:left;
}
tr.csc-repeatable-headerRow td:first-child, tr.csc-repeatable-headerRow td:last-child {
    width:13px;}
.cs-repeatable-add {}
#read-only .cs-repeatable-add, #read-only .cs-repeatable-delete {
    display:none;}
#read-only .cs-repeatable-primary {}
.cs-repeatable-repeat input,.cs-repeatable-repeat textarea {
    width:88.5%;}
input[type="button"].cs-repeatable-add, .info-pair-date input[type="button"].cs-repeatable-add {
    font-size:14px; 
    height:16px; 
    width:14px; 
    font-weight:bold; 
    position:absolute; 
    top:6px; 
    padding:0}
.infoGroup .cs-repeatable-group input[type="button"].cs-repeatable-add, .infoGroup .cs-repeatable-group .info-pair-date input[type="button"].cs-repeatable-add {
	top:0;
}
.info-pair-date input[type="button"].cs-repeatable-add {
    right:0; 
    left:136px;}
li.cs-repeatable-repeat {
    list-style-type: none; 
    margin-bottom:1px; 
    width:99%}
.cs-repeatable-content {
    width:89%;
}
.cs-repeatable-content > input {
    width: 89.2%;}
.cs-repeatable-content .ui-autocomplete-input {
    width:100%;}
input.cs-repeatable-primary {
    width: 11px; 
    position: relative; 
    vertical-align:middle; 
    border:none; 
    margin-right:3px;
    margin-top:2px;
}
/* assumes the first td child is the primary radio button and the last td child is the delete button */
table.cs-repeatable-table td:first-child, table.cs-repeatable-table td:last-child {
	width:13px;
}
td input.cs-repeatable-primary {
    margin:0 0 0 3px;
    vertical-align:middle;}
input.cs-repeatable-delete {
    border:none; 
    vertical-align:top; 
    padding:0px;
	width:16px;
    background:transparent url('../images/icnDeleteIdle.png') no-repeat 2px 3px;
	}
input.cs-repeatable-delete:hover, 
input.cs-repeatable-delete:focus {
    color: white; 
    background: transparent url('../images/icnDelete.png') no-repeat 2px 3px;}
input.cs-repeatable-delete[disabled], 
input.cs-repeatable-delete[disabled]:hover, 
input.cs-repeatable-delete[disabled]:focus {
    background-color:transparent !important; 
    background: url('../images/icnDeleteDisabled.png') no-repeat 2px 3px; }
table tr.csc-repeatable-repeat input.cs-repeatable-delete,
table tr.csc-repeatable-repeat input.cs-repeatable-delete[disabled],
table tr.csc-repeatable-repeat input.cs-repeatable-delete:hover, 
table tr.csc-repeatable-repeat input.cs-repeatable-delete:focus,
table tr.csc-repeatable-repeat input.cs-repeatable-delete[disabled]:hover, 
table tr.csc-repeatable-repeat input.cs-repeatable-delete[disabled]:focus {
	background-position:2px 1px; height:15px;}
	
.cs-repeatable-group .cs-repeatable-repeat ,
.cs-repeatable-group .cs-repeatable-repeat ,
.cs-repeatable-withSubgroup .cs-repeatable-repeat  {
	border:1px solid #CCC;
	background-color:#E2E2E2;
	padding:4px 4px 0 4px;
}

.cs-repeatable-group .cs-repeatable-repeat .cs-repeatable-content,
.cs-repeatable-group .cs-repeatable-repeat .cs-repeatable-content,
.cs-repeatable-withSubgroup .cs-repeatable-repeat .cs-repeatable-content {
	float:left;
	width:96%;}

/* From Jesse, 21Nov011 */
.infoGroup { padding:4px 0 0 0; background-color:#E2E2E2;}

.infoGroup .cs-repeatable-group { position:relative;}

.infoGroup .cs-repeatable-group .cs-repeatable-repeat { padding:16px 4px 10px 4px; border:none; background-color:inherit;}
