.osteo th {
    line-height: 14px;
    width: 14px;
    position: relative;
}

.osteo th > span {
    font-size: 10px;
    position: absolute;
    top: 16px;
    transform: rotate(-90deg);
    transform-origin: top left;
    white-space: nowrap;
}


