.osteo-row {
    display: flex;
}

.osteo-row + .osteo-row {
    margin-top: 10px;
}

.osteo {
    background: white;
}

.osteo + .osteo {
	margin-left: 40px;
}

.osteo th, .osteo td {
    line-height: 16px;
    width: 16px;
    position: relative;
}

.osteo th {
    vertical-align: bottom;
    text-align: left;
}

.osteo td {
    vertical-align: center;
    text-align: center;
    overflow: hidden;
}

.osteo .flat-label .sides {
    height: 56px;
}

.osteo .sides {
    height: 40px;
}

.osteo .sides > th {
    vertical-align: top;
}

.osteo.vertebrae .sides > th {
/*    text-align: center;*/
}

.osteo .sides > th.right {
    text-align: right;
}

.osteo .labels > th {
    position: relative;
}

.osteo .labels > th > span {
    font-size: 10px;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: top left;
    white-space: nowrap;
}

.osteo .labels > th > span, .osteo.vertebrae .labels > th.arch > span {
    top: 14px;
}

.osteo.vertebrae .labels > th.centrum > span {
  top: 14px;
}

.osteo.vertebrae .hspace {
  width: 8px;
}

.osteo .flat-label .labels > th > span {
    top: -2px;
}

.osteo .labels > th.complete > span {
    top: -2px;
    color: #0033FF;
}

.osteo .bone, .osteo .segment {
    text-align: center;
    white-space: nowrap;
    padding: 0 5px 0 5px;
}

.osteo .segment {
    font-size: 10px;
}

.osteo input[type="text"] {
  padding: 0;
  border: 1px solid #C7CFD4;
  text-align: center;
}

.osteo input.sesamoid {
  width: 96px;
}

.osteo input.mc, .osteo input.mt {
  height: 80px;
  text-align: center;
}

.osteo tbody {
    border-bottom: 1em solid rgba(0, 0, 0, 0);
}

.osteo label > input[type="radio"] + span,
.osteo label > input[type="checkbox"] + span {
    display: block;
    color: black;
    width: 16px;
    height: 16px;
    background: url(../images/radio-black-unchecked.png) no-repeat;
    background-size: 16px 16px;
}

.osteo label > input[type="radio"].absent + span {
    background-image: url(../images/radio-red-unchecked.png);
}

.osteo label > input[type="radio"].complete + span {
    background-image: url(../images/radio-blue-unchecked.png);
}

.osteo label > input[type="radio"]:checked + span,
.osteo label > input[type="checkbox"]:checked + span {
    background-image: url(../images/radio-black-checked.png);
}

.osteo label > input[type="radio"].absent:checked + span {
    background-image: url(../images/radio-red-checked.png);
}

.osteo label > input[type="radio"].complete:checked + span {
    background-image: url(../images/radio-blue-checked.png);
}

.osteo label > input[type="radio"]:focus + span,
.osteo label > input[type="checkbox"]:focus + span {
    outline: 1px solid black;
    outline-offset: -1px;
}

.osteo label > input[type="radio"],
.osteo label > input[type="checkbox"] {
    position: absolute;
    left: -20px;
    top: -20px;
    width: 1px;
    height: 1px;
}

.osteo input[name="C_centra_count"] {
  height: 96px;
}

.osteo input[name="C_L_arch_count"], .osteo input[name="C_R_arch_count"] {
  height: 112px;
}

.osteo input[name="T_centra_count"], .osteo input[name="T_L_arch_count"], .osteo input[name="T_R_arch_count"] {
  height: 192px;
}

.osteo input[name="L_centra_count"], .osteo input[name="L_L_arch_count"], .osteo input[name="L_R_arch_count"] {
  height: 80px;
}

.osteo input[name="S_centra_count"], .osteo input[name="S_L_ala_count"], .osteo input[name="S_R_ala_count"] {
  height:96px;
}

.osteo.phalanges {
  margin-left: 0;
}

.osteo.phalanges th {
  white-space: nowrap;
  padding-right: 3px;
}

.osteo.phalanges th, .osteo.phalanges td {
  width: auto;
  font-size: 10px;
  text-align: left;
}

.osteo.phalanges input {
  width: 3em;
}

.osteo.phalanges input[name="Phalanx_juv_count_hand"], .osteo.phalanges input[name="Phalanx_juv_count_foot"] {
  height: 57px;
}