<div class="fl-container-flex fl-fix information-group info-column">
    <div class="csc-hierarchy-header fl-container-flex header toggle"></div>
    <div class="csc-hierarchy-togglable cs-hierarchy fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="csc-hierarchy-broaderContext-label label"></div>
                    </div>
                    <div class="content">
                        <input type="text" class="csc-hierarchy-broaderContext" />
                    </div>
                </div>
               
                <div class="cs-fixedExternalURL">
                    <div class="info-pair">
                        <div class="header">
                            <div class="csc-hierarchy-narrowerContext-label label"></div>
                        </div>
                        <div class="content csc-hierarchy-narrowerContexts">
                            <input type="text" class="csc-hierarchy-narrowerContext" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-column2-50 fl-force-right">
                <div class="info-pair">
                    <div class="header">
                        <div class="csc-hierarchy-equivalentContexts-label label"></div>
                    </div>
                    <div class="content cs-hierarchy-equivalentContexts">
                        <input class="csc-hierarchy-equivalentContext" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>