<div class="fl-container-flex fl-fix information-group info-column">
	<div class="fl-container-flex fl-fix content main">
		<div class="info-column">
			<div class="info-column2-50 fl-force-left">

				<div class="info-column cs-multipleEdit" id="multipleEdit">
					<div class="info-pair">
						<div class="header">
							<div class="label csc-preferredWork-workTermGroup-label"></div>
						</div>
						<div class="content csc-preferredWork-workTermGroup cs-repeatable-stretched">
							<div class="info-column">
								<div class="info-column2-50 fl-force-left">
									<div class="info-pair">
										<div class="header">
											<div class="label csc-work-termDisplayName-label"></div>
										</div>
										<div class="content clearfix">
											<input type="text" class="csc-workAuthority-termDisplayName"/>
										</div>
									</div>
								</div>
								<div class="info-column2-50 fl-force-right">
									<div class="info-pair">
										<div class="header">
											<div class="label csc-work-termName-label"></div>
										</div>
										<div class="content clearfix">
											<input type="text" class="csc-workAuthority-termName"/>
										</div>
									</div>
								</div>
							</div>
							<div class="info-column">
								<div class="info-column2-50 fl-force-left">
									<div class="info-pair">
										<div class="header">
											<div class="label csc-work-termLanguage-label"></div>
										</div>
										<div class="content clearfix">
											<select class="csc-workAuthority-termLanguage input-select">
												<option value="">Options not loaded</option>
											</select>
										</div>
									</div>
								</div>
								<div class="info-column2-50 fl-force-right">
									<div class="info-pair">
										<div class="header">
											<div class="label csc-work-termStatus-label"></div>
										</div>
										<div class="content clearfix">
											<select class="csc-workAuthority-termStatus input-select">
												<option value="">Options not loaded</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="info-pair">
					<div class="header">
						<div class="label csc-work-workType-label"></div>
					</div>
					<div class="content">
						<select class="csc-work-workType input-select"><option value="">Options not loaded</option></select>
					</div>
				</div>

				<div class="info-pair">
					<div class="header">
						<div class="label csc-work-workDate-label"></div>
					</div>
					<div class="content">
						<table>
							<thead>
								<tr>
									<td class="csc-work-workDateStart-label"></td>
									<td class="csc-work-workDateEnd-label"></td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><input type="text" class="csc-work-workDateStart" /></td>
									<td><input type="text" class="csc-work-workDateEnd" /></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="info-pair">
					<div class="header">
						<div class="label csc-work-creator-label"></div>
					</div>
					<div class="content csc-work-creatorGroup">
						<input type="text" class="csc-work-creator"/>
					</div>
				</div>

				<div class="info-pair">
					<div class="header">
						<div class="label csc-work-publisher-label"></div>
					</div>
					<div class="content csc-work-publisherGroup">
						<input type="text" class="csc-work-publisher"/>
					</div>
				</div>

				<div class="info-pair">
					<div class="header">
						<div class="label csc-work-updatedBy-label"></div>
					</div>
					<div class="content clearfix">
						<input type="text" class="csc-work-updatedBy"/>
					</div>
				</div>

				<div class="info-pair">
					<div class="header">
						<div class="label csc-work-updatedAt-label"></div>
					</div>
					<div class="content clearfix">
						<table>
							<thead>
								<tr>
									<td class="csc-work-updatedAtStart-label"></td>
									<td class="csc-work-updatedAtEnd-label"></td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><input type="text" class="csc-work-updatedAtStart" /></td>
									<td><input type="text" class="csc-work-updatedAtEnd" /></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>