<div class="cs-autocomplete-popup">
    <div class="inner">
        <div class="cs-autocomplete-noMatches csc-autocomplete-noMatches"></div>
        <div class="cs-autocomplete-Matches csc-autocomplete-Matches">
            <ul>
                <li class="cs-autocomplete-matchItem csc-autocomplete-matchItem" />
            </ul>
        </div>
        <div class="csc-autocomplete-longestMatch"></div>
        <div class="csc-autocomplete-addToPanel cs-autocomplete-addToPanel">
            <hr/>
            <div class="content csc-autocomplete-addTermTo"></div>
            <ul>
                <li class="cs-autocomplete-authorityItem csc-autocomplete-authorityItem" />
            </ul>
        </div>
    </div>
</div>