<div class="fl-container-flex fl-fix information-group info-column">
    <div class="csc-hierarchy-header fl-container-flex header toggle"></div>
    <div class="csc-hierarchy-togglable fl-container-flex fl-fix content main"> 
        <div class="info-column fl-force-left">
            <div class="info-column">
                <div class="info-column" > 
	                <div class="info-column2-40 fl-force-left" >    
	                    <div class="info-pair">
	                        <div class="header">
	                            <div class="csc-hierarchy-broaderContext-label label"></div>
	                        </div>
	                        <div class="content">
	                            <input type="text" class="csc-hierarchy-broaderContext" />
	                        </div>
	                    </div>
	                </div>
	                <div class="info-column2-60 fl-force-right" >    
	                    <div class="info-pair">
	                        <div class="header">
	                            <div class="csc-hierarchy-equivalentContexts-label label"></div>
	                        </div>
	                        <div class="content">
	                            <span class="csc-hierarchy-equivalentContext" />
	                        </div>
	                    </div>
	                </div>
					<div class="clear"></div>
	            </div>
			</div>
			<div class="info-column2-40">
                   
                    <div class="info-pair">
                        <div class="header">
                            <div class="csc-hierarchy-narrowerContexts-label label"></div>
                        </div>
                        <div class="content">
                            <input type="text" class="csc-hierarchy-narrowerContext" />
                        </div>
                    </div>
                
            </div>
            <div class="info-column fl-force-left">
                <div class="info-column2-50 fl-force-left" >    
                    <div class="info-pair">
                        <div class="header">
                            <div class="csc-hierarchy-relatedTerms-label label"></div>
                        </div>
                        <div class="content disabled">
                            <input type="text" class="csc-hierarchy-relatedTerm" />
                        </div>
						<div><input type="text" disabled="disabled" /></div> 
						<!-- temporary diabled field. remove once csc-hierarchy-relatedTerm is enabled -->
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>    
    </div>
</div>