<div class="fl-container-flex fl-fix information-group info-column">
    <div class="csc-hierarchy-header fl-container-flex header toggle"></div>
    <div class="csc-hierarchy-togglable fl-container-flex fl-fix content main"> 
        <div class="info-column fl-force-left">
            <div class="info-column fl-force-left">
                <div class="info-column2-70 fl-force-left" > 
	                <div class="info-column2-40 fl-force-left" >    
	                    <div class="info-pair">
	                        <div class="header">
	                            <div class="csc-location-broaderContext-label label"></div>
	                        </div>
	                        <div class="content">
	                            <input type="text" class="csc-location-broaderContext" />
	                        </div>
	                    </div>
	                </div>
	                <div class="info-column2-60 fl-force-right" >    
	                    <div class="info-pair">
	                        <div class="header">
	                            <div class="csc-location-equivalentContext-label label"></div>
	                        </div>
	                        <div class="content">
	                            <span class="csc-location-equivalentContext" />
	                        </div>
	                    </div>
	                </div>
	            </div>
                <div class="info-column2-30 fl-force-right" >    
                    <div class="info-pair">
                        <div class="header">
                            <div class="csc-location-narrowerContext-label label"></div>
                        </div>
                        <div class="content">
                            <input type="text" class="csc-location-narrowerContext" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-column fl-force-left">
                <div class="info-column2-50 fl-force-left" >    
                    <div class="info-pair">
                        <div class="header">
                            <div class="csc-location-relatedTerm-label label"></div>
                        </div>
                        <div class="content">
                            <input type="text" class="csc-location-relatedTerm" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>    
    </div>
</div>