<div class="csc-recordList">
    <span class="csc-recordList-num-items"></span>
    <ul>
        <li class="csc-recordList-title-row">
            <span class="csc-recordList-title-column" />
        </li>
         <li class="csc-recordList-new" />
        <li class="csc-recordList-row cs-recordList-row">
            <span class="csc-recordList-column" />
            <input type="button" class="csc-recordList-deleteRelation" />
        </li>
        <li class="csc-recordList-no-items" />
    </ul>
</div>
