<div class="pivot-box csc-relatedRecord-template">
    <div class="hidden csc-search-related-dialog"></div>
    <div class="add-more">
        <input class="add-link csc-add-related-record-button tertiary" type="button" value="Add" />
    </div>
    <div class="csc-relatedRecordsList-recordList">
        <div class="header toggle" onclick="ShowHide('#toggle-related-procedures', this); return false;">
            <span class="header-toggle"><img height="12" width="12" alt="toggle-less" src="../images/toggle-less.png" /></span>
            <div class="csc-related-mainheader">Record Group</div>
            <span class="csc-num-items"></span>
            <div class="clear"></div>
        </div>

        <div class="content related-procedures list-table" id="toggle-related-procedures">
            <table>
                <thead>
                    <tr>
                        <td class="csc-related-number-header">number</td>
                        <td class="csc-related-summary-header">summary</td>
                        <td class="csc-related-recordtype-header">type</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody >
                    <tr class="pivot-box-data csc-recordList-row">
                        <td><a href="#" class="link csc-related-number"></a></td>
                        <td class="csc-related-summary"></td>
                        <td class="csc-related-recordtype"></td>
                        <td class="csc-no-items-message"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>