<div class="csc-right-sidebar">
    <div class="fl-force-right right-sidebar" id="csc-right-sidebar">
		<div class="create-report">
		    <div class="csc-sidebar-reportHeader header"></div>
            <select disabled="disabled">
				<option value=""></option>
			</select>
            <input class="csc-sidebar-reportButton" type="button" disabled="disabled" />
        </div>
        <div class="pivot-box media-snapshot csc-media-snapshot">
            <div class="csc-sidebar-mediaHeader cs-sidebar-header csc-sidebar-header fl-container-flex header toggle"></div>
            <div class="csc-sidebar-togglable content cs-sidebar-mediaImage"></div>
        </div>
        <div class="pivot-box csc-integrated-authorities">
            <div class="csc-sidebar-header cs-sidebar-header fl-container-flex header toggle">
                <span class="csc-sidebar-termsHeader"></span>
                <span class="csc-num-items">(0)</span>
            </div>
            <div class="csc-sidebar-togglable content list-table">
                <table>
                    <thead>
                        <tr>
                            <td class="csc-sidebar-termsHeaderTerm"></td>
                            <td class="csc-sidebar-termsHeaderVocabulary"></td>
                            <td class="csc-sidebar-termsHeaderField"></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="pivot-box-data csc-recordList-row">
                            <td><a href="#" class="link csc-related-number"></a></td>
                            <td class="csc-related-recordtype"></td>
                            <td class="csc-related-field"></td>
                            <td class="csc-no-items-message"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="csc-related-record"><!-- relatedRecordListTemplate here --></div>
    </div>
    <div class="clear"></div>
</div>