<!-- Structured date template -->
<div class="csc-structuredDate-popup cs-structuredDate-popup">
    <div class="info-column">
		<div class="info-column4 fl-force-left">
			<div class="info-pair">
				<div class="header">
					<div class="csc-structuredDate-dateDisplayDate-label label"></div>
				</div>
				<div class="content">
					<input type="text" class="csc-structuredDate-dateDisplayDate"/>
				</div>
			</div>
		</div>
		
		<div class="info-column4 fl-force-left">
			<div class="info-pair">
				<div class="header">
					<div class="csc-structuredDate-datePeriod-label label"></div>
				</div>
				<div class="content">
					<input type="text" class="csc-structuredDate-datePeriod"/>
				</div>
			</div>
		</div>
   
        <div class="info-column4 fl-force-left">
            <div class="info-pair">
                <div class="header">
                    <div class="csc-structuredDate-dateAssociation-label label"></div>
                </div>
                <div class="content">
                    <input type="text" class="csc-structuredDate-dateAssociation"/>
                </div>
            </div>
        </div>
		
        <div class="info-column4 fl-force-left">
            <div class="info-pair">
                <div class="header">
                    <div class="csc-structuredDate-dateNote-label label"></div>
                </div>
                <div class="content">
                    <input type="text" class="csc-structuredDate-dateNote"/>
                </div>
            </div>
        </div>
		<div class="clear"></div>
    </div>
    <div class="info-column">
        <div class="info-pair">
            <div class="content">
                <table>
                    <thead>
                        <tr>
                            <td></td>
                            <td colspan="4" class="csc-structuredDate-dateHeader-label label"></td>
                            <td colspan="4" class="csc-structuredDate-dateCertaintyHeader-label label"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="csc-structuredDate-dateYear-label cs-structuredDate-dateLabel"></td>
                            <td class="csc-structuredDate-dateMonth-label cs-structuredDate-dateLabel"></td>
                            <td class="csc-structuredDate-dateDay-label cs-structuredDate-dateLabel"></td>
                            <td class="csc-structuredDate-dateEra-label cs-structuredDate-dateLabel"></td>
                            <td class="csc-structuredDate-dateCertainty-label cs-structuredDate-dateLabel"></td>
                            <td class="csc-structuredDate-dateQualifier-label cs-structuredDate-dateLabel"></td>
                            <td class="csc-structuredDate-dateQualifierValue-label cs-structuredDate-dateLabel"></td>
                            <td class="csc-structuredDate-dateQualifierUnit-label cs-structuredDate-dateLabel"></td>
                        </tr>
                    </thead>                                                        
                    <tbody>
                        <tr>
                            <td class="csc-structuredDate-dateEarliestSingleRow-label cs-structuredDate-dateLabel"></td>
                            <td><input type="text" class="csc-structuredDate-dateEarliestSingleYear input-numeric-small"/></td>
                            <td><input type="text" class="csc-structuredDate-dateEarliestSingleMonth input-numeric-tiny"/></td>
                            <td><input type="text" class="csc-structuredDate-dateEarliestSingleDay  input-numeric-tiny"/></td>
                            <td><select class="csc-structuredDate-dateEarliestSingleEra input-select select input-select-short"><option value=""></option></select></td>
                            <td><select class="csc-structuredDate-dateEarliestSingleCertainty input-select select input-select-long"><option value=""></option></select></td>
                            <td><select class="csc-structuredDate-dateEarliestSingleQualifier input-select select input-select-short"><option value=""></option></select></td>
                            <td><input type="text" class="csc-structuredDate-dateEarliestSingleQualifierValue input-numeric-small"/></td>
                            <td><select class="csc-structuredDate-dateEarliestSingleQualifierUnit input-select select input-select-medium"><option value=""></option></select></td>
                        </tr>
                        <tr>
                            <td class="csc-structuredDate-dateLatestRow-label cs-structuredDate-dateLabel"></td>
                            <td><input type="text" class="csc-structuredDate-dateLatestYear input-numeric-small"/></td>
                            <td><input type="text" class="csc-structuredDate-dateLatestMonth input-numeric-tiny"/></td>
                            <td><input type="text" class="csc-structuredDate-dateLatestDay input-numeric-tiny"/></td>
                            <td><select class="csc-structuredDate-dateLatestEra input-select select input-select-short"><option value=""></option></select></td>
                            <td><select class="csc-structuredDate-dateLatestCertainty input-select select input-select-long"><option value=""></option></select></td>
                            <td><select class="csc-structuredDate-dateLatestQualifier input-select select input-select-short"><option value=""></option></select></td>
                            <td><input type="text" class="csc-structuredDate-dateLatestQualifierValue input-numeric-small"/></td>
                            <td><select class="csc-structuredDate-dateLatestQualifierUnit input-select select input-select-medium"><option value=""></option></select></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
