
.cs-autocomplete-input {/*width:99.75%*/ width:100%;}
.cs-autocomplete-input {background: #fff url(../images/arrowPredictiveText.png) no-repeat right center;  border:1px solid #C7CFD4;}
.cs-autocomplete-loading { background: #fff url(../images/indeterminate_progress_indicator_true_transparent_16x16.gif) right center no-repeat; }

/* Menu
----------------------------------*/
.cs-autocomplete-Matches {
    list-style:none;
    padding: 2px;
    margin-left:0px;
    display:block;
	max-height:150px;
	overflow-x:hidden; overflow-y:auto;
}

.cs-autocomplete-MatchItem {
    margin:0;
    padding-left: 5px;
    width: 100%;
    list-style-type: none;

}

.cs-autocomplete-addToPanel {
    list-style: none;
}

.cs-autocomplete-authorityItem {
    list-style-type: none;
    padding-left: 25px;
    padding-right: 5px;
    background: url(../images/icnAdd_.png) no-repeat 5px center;
    color: #679B41;
}

.cs-autocomplete-matchItem:hover, .cs-autocomplete-matchItem-select {
	background-color:#F0F5FB;
	cursor:pointer;
}

.cs-autocomplete-authorityItem:hover, .cs-autocomplete-authorityItem-select {
    background-color:#D7E9C8;
    cursor:pointer;
}


.cs-autocomplete-popup {
    background-color:#FAFBF7;
    /*width:auto;*/
	width:280px;
    float:left; 
    border:2px solid #C7CFD4;
    position:absolute;
    z-index:9999 !important;
	margin:6px 0 0 -2px;
	max-width:100%;
	overflow:auto;
	font-size: 1.2em;
	font-weight:bold;
	line-height:1.4;
    -moz-box-shadow: 3px 3px 4px  #C7CFD4;
    -webkit-box-shadow: 3px 3px 4px  #C7CFD4;
    box-shadow: 3px 3px 4px  #C7CFD4;
}
.cs-autocomplete-popup .inner {padding:3px;}
.cs-autocomplete-popup .cs-autocomplete-noMatches  {font-style:italic; color:#6E6E6E; padding-bottom:15px;}
.cs-autocomplete-popup .content {color:#6E6E6E; padding-bottom:5px; float:none;}
.cs-autocomplete-popup .pad-right {padding-right:10px;}
.cs-autocomplete-popup hr {color:#AAA; background-color:#AAA; border: #AAA}

/** TODO: this positioning was arrived at through blind experiment, more stable strategy needed
to precipitate it directly on top of the "loading" indicator */

/*.cs-autocomplete-closebutton { position:absolute; right:1px; bottom: 20px}*/
.cs-autocomplete-closebutton { position:relative; left:-1px; bottom: 15px; /*right:19px;*/ margin-bottom:-18px; float:right; }


