.ui-dialog {
	min-width:450px !important;
	*width:auto;
}
.ui-dialog.cs-search-dialog {
	min-width:800px !important;
}

.cs-confirmationDialog {
	color: #6E6E6E;
	font-size:14px;
	line-height:20px;
	background-color: white;
	width:100%;
	position:absolute;
	*position:relative;
	z-index:99999;
	border:0px solid #CECECE;
}
.cs-confirmationDialog .label {float:left; padding-left:10px;}

.csc-confirmationDialog-inner {
	padding:20px 20px 20px 20px;
}
.csc-confirmationDialog-inner .search-box {padding:10px 0; width:100%; float:left;}

.csc-confirmationDialog-inner {}
.csc-confirmationDialog-inner .add-more {margin-top:0px;}
.csc-confirmationDialog-inner .add-more .button.add, .csc-confirmationDialog-inner .add-more .button.add:hover {background-color:#94BC80; color:#fff;}

.csc-recordTypeSelecter-procedures {float:left;}

.csc-search-results {width:100%;}



.ui-icon-closethick {
	background-color:#fff;
	flo at:right;
	color:#6B8DA7;
}
.ui-dialog-titlebar-close {
	float:right;
}
.ui-dialog-titlebar {
	background-color:#fff;
	padding:4px 6px 4px 10px;
	cursor:move;
	margin-top:20px;
	min-width:250px;
}
.csc-confirmationDialog-text{
	padding-bottom:2px;
}
.csc-confirmationDialog-buttonrow {
	padding:30px 0 0 0;
}
.cs-confirmationDialogButton {
	border:none !important;
}
.ui-dialog-title {
	color:#6E6E6E;
	font-size:14px;
	font-weight:bold;
	*float:left;
}
a, a:hover {text-decoration:none;}