/* IE 7 and below only CSS selectors */
input, textarea {margin-bottom:0px;}

.add-more {margin:4px 4px 0 0;}

.menu-record a {padding:2px 4px;}

/*.info-pair-date input {height:17px;}*/

.header-menu-row .inner {margin-bottom:-1px;}

#secondary-nav-menu ul.menu-record {margin-top:10px;}
#secondary-nav.pivot ul.menu-record {margin-top:10px;}

li .flc-pager-pageLink {margin-top:-1px;}

/*.input-button.quick , .button.quick, .quick-large  {height:21px; padding:2px 12px 1px 12px;}*/

.csc-search-keywords, .csc-search-user {padding:3px 0 0px 2px;}

.csc-global-search-keywords, .csc-search-pivot-keywords {padding:2px 0 0px 2px;}

.csc-search-record-type, .csc-global-search-record-type, .csc-search-pivot-record-type {margin-bottom:-1px;}

.info-pair-select .content {padding-bottom:0px;}

.authority-select {padding:0 4px;}

.authority-select .authority-select-label {padding:5px 2px 0 4px;}

.header {padding-bottom:3px;}

.fl-container-left  .information-group .content.main, .information-group .content.main {padding:12px 12px 12px 12px;}

.fl-container-left  .information-subgroup .content.main {padding:6px 12px 12px 12px;}

/*table .input-select {height:19px;}*/

.fl-container-pivot  select.recently-created-list {height:24px;}

/*.field-cal img {margin-bottom:-4px;}*/

.viewbutton {margin-top:-24px;}

.info-pair-select .content table {width:100%;}