/* CollectionSpace 0.5 default CSS selectors */

/* core HTML elements*/
html{font-size: 100%;} 
body {font-size:13px; line-height:13px; padding: 2px 30px;}
table tr, table tr td, table tr th  {border:0; padding:0; margin:0; text-align:left; font-weight:normal;}
fieldset, table, pre {margin-bottom:0em;}
p {margin-bottom:1em;}
ul {margin:0; width:auto;}
textarea {overflow:auto;}
:focus {outline: none;}


/* input form selectors */
input, textarea {font-family:inherit; font-size:12px; font-weight:inherit; line-height:15px; padding:0; margin:0; /**margin-bottom:0px; */
	border:0px solid #C7CFD4; overflow:visible; height:17px; padding:1px 0 1px 0;}
input[type="button"], input[type="submit"], input[type="checkbox"] {height:auto;}
input:focus, textarea:focus {outline: 1px solid black;}
input[type="text"], input[type="password"], textarea {/*width:99.5%;*/ width:100%; margin:0;}
input.savebutton, input.globalSearchButton, input.cancelbutton, input.button, input.button.add, input.button.addrecordbutton, input.inversebutton
	{background-color:#A2C88F; padding: 1px 12px; font-weight:bold; color:#fff; cursor:pointer; font-size:13px; border:none;}
input.inversebutton {background-color:#fff; color:#A2C88F; border:0px solid #A2C88F;}
input.button.inverse, .button.inverse, input.button.add {background-color:#fff; color:#94BC80; border:1px solid #94BC80; padding-top:0; padding-bottom:0;}
input.button.lengthen, .button.lengthen {padding-left:30px; padding-right:30px;}
input.button, input.button.quick. input.button.addrecordbutton {float:left; padding:2px 12px;}
input.button.add {padding:0px 4px; font-size:11px; height:auto; border:none;}
input.small {padding:1px 4px; font-size:12px; line-height:100%;}
#search-box input.button, #search-box input.button.quick {float:none; padding:2px 12px 1px 12px; margin-left:6px;}
#create-box input.button, #create-box input.button.quick {float:none; padding:2px 12px;}
.input-button, input.input-button {background-color:#94BC80; padding: 5px 12px 4px 12px; font-weight:bold; color:#fff; cursor:pointer; font-size:13px; margin:0 5px; border:none; float:left;}
.input-button.quick , .button.quick, .quick-large  {background-color:#94BC80; padding: 2px 12px 2px 12px; font-weight:bold; color:#fff; cursor:pointer; font-size:13px; 
	margin:0 5px; border:none; float:left; /**padding:4px 12px 3px 12px;*/}
.input-button.disabled, .input-button.disabled:hover {background-color:#CDCCCC !important; color:#A0A0A0 !important}
.quick-large {padding:5px 12px 4px 12px;}
.input-button.disabled, input.input-button.disabled {cursor:default;}
select {border:1px solid #C7CFD4;}
table select {border:0px solid #C7CFD4;}


/*   anchor link colors and behaviors   */
a.link {color:#6E9FCE; text-decoration:none;}
a.link:hover {color:#6E9FCE; text-decoration:underline;}

a.add-link {color:#000; text-decoration:none;}
a.add-link:hover {color:#000; text-decoration:underline;}

.menu-item a, .menu-item a:link, .menu-item a:visited, .menu-item a:active {color:#A6A6A6; text-decoration:none; border-bottom:3px solid #CFCECE; padding-right:25px; padding-bottom:2px;}
.menu-item.selected a:link, .menu-item.selected a:visited, .menu-item.selected a:active {color:#646464; border-bottom:3px solid #646464; text-decoration:none;}
.menu-item:hover, .menu-item a:hover {color:#646464; border-bottom-color:#646464;}

.menu-record a {background:none repeat scroll 0 0 #6F9DCE; color:#fff; font-weight:bold;	padding:0.2em .4em; 
	text-decoration:none; border:2px solid #6F9DCE; border-bottom:none; *margin-right:2px; /**padding:2px 4px;*/}
.menu-record a:hover {background:none repeat scroll 0 0 #336699; border:2px solid #336699;	border-bottom:none;}
.menu-record a.current, .menu-record li.selected a { background: no-repeat scroll 0 0 #FFF; color:#6F9DCE; cursor:default; padding-top:6px; border:2px solid #6F9DCE; border-bottom:none;}
.menu-record a.inactive {cursor:default; background-color:#CCC; border:2px solid #CCC; border-bottom:none;}

#secondary-nav-menu .menu-record a.primary {background-image: url("../images/primary.png"); background-repeat: no-repeat; background-position:bottom left ; padding-left:12px;}

.menu-record a.disabled , .menu-record a:hover.disabled {background-color:#CCC; border:1px solid #CCC; border-bottom:none;}

.input-button a {text-decoration:none; color:inherit;}
/*.input-button:hover, input.button:hover, .button.quick:hover, .button.quick-large:hover  {text-decoration:none; color:#fff; background-color:#93BC7F;}*/

#footer a:link, #footer a:visited {color:#656565; text-decoration:underline;}
#footer a:active {color:#656565;}
#footer a:hover  {color:#6699C8; text-decoration:underline;}

#all-content-login a:link, #all-content-login a:visited {color:#656565; text-decoration:none;}
#all-content-login a:active {color:#656565; }
#all-content-login a:hover   {color:#6699C8; text-decoration:none;}

.header-menu-logout a:link, .header-menu-logout a:visited {color:#656565; text-decoration:none;}
.header-menu-logout a:active {color:#656565;}
.header-menu-logout a:hover  {color:#6699C8; text-decoration:underline;}


/* table selectors */
tr:focus {outline:none;}
td.label {background-color:#F3F3F4; padding:0 4px 0 1px; color:#3B3B3C;}
td textarea {border:none;}
td.checkbox {width:14px;}


/* fluid selector override */
.fl-fix {overflow:visible;}
.fl-pager .fl-pager-ui .fl-pager-links a {border:none; background-color:#E8E8E8;}
.fl-widget {background: white; border: 1px solid black;}
li .flc-pager-pageLink {margin-top:-1px;}
.csc-error-dialog {display: none;}
.ui-widget-overlay {left:0; position:absolute; top:0; background:#666666 url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/ui-lightness/images/ui-bg_diagonals-thick_20_666666_40x40.png) repeat scroll 50% 50%;
	opacity:0.7; filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7;}

	
/* Fluid Infusion related selectors */
.csc-search-error-message {text-align:center; font-size:16px; margin:10px 0; background-color:#D1D2D4; border:2px solid black; padding: 10px 0;}
.flc-pager-top, .flc-pager-bottom {background-color:#F2F2F3; padding:4px 12px; font-size:11px; line-height:11px;}
.flc-pager-top {border -top:1px solid #CECFD1;}
.flc-pager-bottom {border -bottom:1px solid #CECFD1;}
.fl-pager .fl-pager-ui li {float:left; padding-top:1px;}
.fl-pager .fl-pager-ui li.flc-pager-summary  {float:right; color:#6D6E71;}
.fl-pager .fl-pager-ui li.flc-per-page {/*margin-top:-4px;*/}
.fl-pager .fl-pager-ui li.flc-per-page {float:left; color:#6D6E71;}
.pager-links {display:inline; padding-top:5px;}
.fl-pager .fl-pager-ui  { padding -top:5px;}
#pager-top {padding:6px 12px 2px 7px;}
#pager-bottom {padding:4px 12px 1px 12px; background-color:#E8E8E8; border-bottom: 1px solid #C8C6C6; height:100%;}
#pager-bottom  .flc-per-page {width:320px; margin-top:-3px;}

/*set min-height for record pages */
#all-content {min-height:500px; height:auto !important; height:500px;}

#name-header-login {padding-top:20px;}

/* header selectors */
#header-menu {/*width:1024px;*/}
.header-menu-logo {padding:4px 0 8px 0; float:left;}
.header-menu-right {width:500px; float:right;}
.header-menu-logout {padding:4px 0 12px 0; float:right; font-size:11px; line-height:11px; font-weight:bold;}
.header-menu-button {margin-right:6px; float:left; width:200px; height:30px;}
.header-menu-search {float:right;}
.header-menu-search select {margin-bottom:-1px;}

/* header global nav */
.header-menu-row {width:auto; margin-bottom:2px; border-bottom: 0px solid #D3D2CE; background:#fff url('../images/header-menu-row-buffer.png') repeat-x bottom right;}
.header-menu-row .inner {float:left; background-color:#fff;}
.menu-item {/*padding: 0 25px 2px 0;*/ margin-right:3px; margin-bottom:7px; border-bottom:0px solid #D3D2CE; color:#A6A6A6; font-size: 14px; 
	font-weight:bold; background-color:#fff; cursor:pointer; float:left;}
.menu-item a {position:relative;}
.menu-item.selected {color:#646464; border-bottom-color:#646464;}

/* header space for record ID etc. */
#title-bar {margin: 0 0 20px 0; background-color:#F0F5FB;  /*background-color:#aaa;*/}
#title-bar.nobg {background-color:#FFF;}

#title-bar .title-bar-value {padding:0 10px; height:42px; color:#696565; font-weight:bold;}
#title-bar .title-bar-value .overflow{padding-top:9px; max-width:90%; float:left;}

#title-bar .header-name, #title-bar .content .overflow, #title-bar .record-type {padding-top:9px;}
#title-bar .content {height:42px; color:#696565; font-weight:bold; font-size:24px; line-height:110%;}
#title-bar .content .overflow {padding-left:10px; max-width:90%; float:left;}

#title-bar .value{padding-right:30px; float:left; overflow:hidden; display:block;}
#title-bar .record-type {float:right; color:#BFD2E1; font-weight:bolder; padding-right:10px;}

/* secondary navigation menu */
#secondary-nav {padding-bottom:0px;}
#secondary-nav-menu {padding-top:6px; width:100%; margin-bottom:0px;}
#secondary-nav-menu .menu-record {padding-bottom:18px;}
#secondary-nav-menu ul.menu-record { white-space:nowrap;}
#secondary-nav-menu ul.menu-record li{display:inline; list-style-type:none; margin-right:3px;}

#secondary-nav.pivot {padding-bottom:0;}
#secondary-nav.pivot .menu-record {padding-bottom:18px;}
#secondary-nav.pivot ul.menu-record { white-space:nowrap;}
#secondary-nav.pivot ul.menu-record li {display:inline; list-style-type:none; margin-right:3px;}
#secondary-nav.pivot ul.menu-record li a {wid th:100%;}

#secondary-nav-menu .menu-record ul {margin:0; padding:0;}
#secondary-nav-menu .menu-record li {display:inline;}
#secondary-nav-menu-sub  {padding-bottom:6px;}
#secondary-nav-menu-sub .upper-save {float:right; padding-bottom:1px; width:72px; margin-left:15px;}
#secondary-nav-menu-sub .time-stamp {float:right; padding-top:6px; font-size:10px; color:#BEBEBE;}

/*search page related */ /* need to revisit */
#search-box {padding: 10px; /*margin-bottom:2px;*/ border:0px solid #CECFD1;}
#search-box input.button {margin-left:10px;}
#create-box {padding: 12px 0 12px 12px; margin:0 0 20px 0; /*background-color:#E6E6E6;*/ border:0px solid #CECFD1;}
.search-box {background-color:#E6E6E6; border:1px solid #CECFD1;}
.main-users-page #search-box {background-color:#E8E8E8; margin-bottom:12px;}
.search-bar {}
.main-search-page {border-top:1px solid #F2F2F3; border-bottom:1px solid #F2F2F3;}
/*.csc-search-submit, .csc-search-pivot-submit, .cs-new-user-submit {padding:2px 25px 0px 25px; margin:0; border:1px solid #94A8B5; 
	background-color:#336384; color:#fff; text-decoration:none; font-size:12px; line-height:12px;}*/
.cs-new-user-submit {float:right; /*margin-right:14px;*/}
.csc-search-pivot-submit-container {padding:14px 0 0 8px; float:right;}
/*.csc-global-search-submit {padding:3px 10px 1px; background-color:#D5D6D7; color:#000;}*/
.csc-search-keywords, .cs-search-user {width:50% !important; margin:0 12px 0 0; height:16px; border:1px solid #BCBDBD; 
	padding:2px 0 1px 2px; /**padding:3px 0 0px 2px;*/ font-size:13px; line-height:13px;}
.cs-search-user {mar gin-top:8px;}
.found-records-box {/*padding:4px 0 14px 6px;*/}
.found-records-content {/*color:#606060; font-size:16px; line-height:16px; font-weight:bold;*/}

.csc-global-search-keywords, .csc-search-pivot-keywords {width:140px !important; margin:0 8px 0 2px; height:16px; border:1px solid #BCBDBD; 
	padding:1px 0 1px 2px; *padding:3px 0 0px 2px; font-size:13px; line-height:13px;}
.csc-search-pivot-keywords {width:99% !important; margin:0 8px 8px 0; display:block;}
.csc-search-record-type, .csc-global-search-record-type, .csc-search-pivot-record-type {color:#000; /**margin-bottom:-1px;*/}

.csc-user-list, .csc-user-details {}
.csc-user-list .header {background-color:white;}

.select-recordtype {padding-top:8px;}
.recordtype-label {padding-right:8px; padding-top:3px; font-size:12px; color:#6D6E71;}


table#search-results .fl-pager-ui a {text-decoration:none; color:#6D6E71;}
table#search-results .fl-pager-ui a:hover {text-decoration:underline;}
table#search-results .fl-pager .fl-pager-ui .fl-pager-links a {border:none;}
table#search-results .fl-pager .fl-pager-ui .fl-pager-link {}

table#search-results {padding-left:12px; width:100%;}
table#search-results thead {background-color:#E8E8E8; font-size:11px; line-height:11px; color:#2278AB;}
table#search-results thead tr th{padding:6px 0 6px 12px;}
table#search-results tbody {border-bottom:1px solid #CECFD1;}
table#search-results tbody tr td {padding:5px 0 5px 12px; font-size:12px; line-height:12px; border-top:1px solid #CECFD1; 
	border-bottom:1px solid #CECFD1; vertical-align:top;}

/*table#search-results tbody tr td a.csc-number {color:#6A8FA8; text-decoration:none;}
table#search-results tbody tr td a.csc-number:hover {color:#6A8FA8; text-decoration:underline;}*/

table tbody.highlight tr:hover td {background-color:#BFF4FF !important;}

.authority-select {float:left; padding:2px 4px; /**padding:0 4px;*/ margin: 0 8px 4px 0; background-color:#E1E8ED; cursor:pointer;}
.authority-select select {background-color:#E1E8ED; float:left;}
.authority-select .authority-select-label {font-weight:bold; float:left; padding: 3px 2px 0 4px; /**padding:5px 2px 0 4px;*/}
.authority-select-tab {background-color:#E1E8ED; padding:6px 10px 5px 10px; float:left; cursor:pointer; font-weight:bold;}
.top-nav .selected {background-color:#316285; color:#fff;}

/*.header-name {}
.title-name, .record-number, .header-name, .primary-value, .secondary-value {font-size: 24px; line-height: 24px; float:left;  overflow:hidden;}
.csc-titleBar-acquisition-reference-number, .csc-titleBar-intake-entry-number {font-size: 24px; line-height: 24px; float:left; width:100%; overflow:hidden;}*/
/*.title-name {width:620px; overflow:hidden;}
.object-type {margin-left: 1.7em; padding:1px 8px; font-size:18px; line-height:22px; text-transform:uppercase; background-color:#E7E7E8; float:left;}
.object-name, .record-number, .title-name {height: 24px;}*/
.user-message-container {height: 24px;}
.user-message{width: 100%; text-align: center; font-size: 24px; line-height: 24px; float:left; color:red; padding-top:4px; display:block;}

.selection-bar {padding-top:.1em;}
.selection-bar .selection-option { width: 100px; float: left; width: 60px; font-size: 10px;}
.selection-bar img {float: left; padding: 2px 2px 2px 0;}
.selection-option-text {margin-bottom: 2px; float: left;}

.information-group {padding: 10px 0;}

.header {font-weight: bold; font-size:14px; line-height:14px; width:100%; padding-bottom:5px; /**padding-bottom:3px;*/} /*default header properties*/
.header-toggle img {padding: 6px 2px 0 4px;}
.header-toggle-sub img {margin: 0 2px -2px 0;}
.pivot-toggle img   {margin: 0 2px -2px -3px;}

.info-column 	 {width: 100%;}
.info-column1 	 {width: 100%;}
.info-column2	 {width:  49%;} 
.info-column2-20 {width:  20%;} 
.info-column2-30 {width:  30%;}
.info-column2-40 {width:  40%;}
.info-column2-50 {width:  49%;}
.info-column2-60 {width:  59%;}
.info-column2-70 {width:  69%;}
.info-column2-80 {width:  79%;}
.info-column3 	 {width:  33%;}

.fl-container-1024   {min-width: 1084px;}
.fl-container-900     {width:  900px;}
.fl-container-1050   {width: 1050px;}
/*.fl-container-1024-inner {padding: 0 10px 0 4px;}*/
.fl-container-1024-inner {padding:0;}
.fl-container-left {min-width:740px; width:69%;}
.fl-container-admin   {/*width: 748px;*/ width:79%; min-width:800x;}
.fl-container-pivot  {width:29%; min-width: 248px;}
.fl-container-admin-menu {width:20%; min-width: 200px;}
.fl-container-admin-menu ul {width:100%;}
.fl-container-admin-menu ul li{list-style-type:none; /*cursor:pointer;*/ padding:2px 0 3px 5px; border:1px solid #6E9FCE; background-color:#6E9FCE; margin-bottom:4px; color:#fff; font-weight:bold;}
.fl-container-admin-menu ul li.selected {background-color:#FFF; color:#6E9FCE;}
.fl-container-admin-menu ul li.inactive {background-color:#CCC; color:#FFF; border:1px solid #CCC; cursor: default;}
.fl-container-admin-menu ul  a{text-decoration:none; color:#fff;}

.fl-container-left  .information-group       {padding:0 0 20px 0;}
.create-new .fl-container-left  .information-group       {padding:0;}
.fl-container-left  .information-subgroup {padding:10px 0;}
.fl-container-left  .information-group       .content.main, .information-group       .content.main 	{border-bottom: 1px solid #D2D0D0; border-top: 1px solid #D2D0D0; background-color: #F3F3F3; padding: 12px; /**padding:12px 12px 0 12px;*/ width:auto; }
.fl-container-left  .information-subgroup .content.main	{border:none; background-color: #D1D2D4; padding: 6px 12px 6px 12px; /**padding:6px 12px 0 12px;*/ width:auto; display:block;}
.fl-container-left  .information-group       .header.toggle, .header.toggle, .found-records-box.header, .header.static    {font-size:13px; line-height:13px; background-color:#AAA; cursor:pointer; color:#fff; height:25px; padding-bottom:0; /*background:#AAA url('../images/toggle.png') no-repeat;*/}
.fl-container-left  .information-group       .header.toggle.active   {background-position:left bottom;}
.fl-container-left  .information-group       .sub-header 	{font-size:14px; line-height:14px; font-weight:bold; padding-bottom: 10px; padding-top:5px; color:#666;}
.fl-container-left  .information-subgroup .header.toggle   {font-size:11px; line-height:11px; background-color:#AAAAAA; color:#000; padding:6px 0 7px 5px; width:auto; height:auto;}

.found-records-box.header {font-size:13px; line-height:13px; background-color:#AAA; cursor:default; color:#fff; padding: 0;}
.header.static {cursor:default; padding:5px 0 7px 5px; height:auto; width:auto;}


.fl-container-left .upper-save {float:right;}
.fl-container-left .object-entry-outer-border,
.fl-container-left .intake-outer-border,
.fl-container-left .acquisition-outer-border,
.fl-container-left .authority-outer-border
	{border: none; /*padding: 0 0 10px 10px;*/ padding: 0 0 0px 0;}
.login-outer-border {border: none; padding:100px 0 10px 0px;}
	
.info-pair .header, .info-pair-date .header, .info-pair-select .header {padding:0; margin:0; color:#000; cursor:default;}

.info-pair .label,
.info-pair-date .label,
.info-pair-select .label {/*width:100%;*/ /*float:left;*/ padding-bottom:4px; font-weight:bold; color:#333333; font-size:11px; line-height:11px;}

.info-pair .content td.label {float:none; padding-bottom:0px; font-weight:normal; font-size:inherit; line-height:inherit;}

.info-pair .content,
.info-pair-date .content,
.info-pair-select .content {width:100%; float:left; border:none;}
.info-pair-select .content {padding-bottom:2px;}

.info-pair .content table,
.info-pair-date .content table,
.info-pair-select table {width:100%; border-spacing:0; background-color:#FFF; margin-top:0px; border:2px solid #C7CFD4; border-bottom: 0px solid #C7CFD4; padding:0;}
.info-pair-select table {border:1px solid #C7CFD4; border-bottom: 0px solid #C7CFD4;}

.info-pair .content table table,
.info-pair-date .content table  table,
.info-pair-select table table {border:0px solid #C7CFD4;}

.info-pair-date .content table,
.info-pair-select .content table {width:auto;}

.info-pair-date .content tbody td {border-bottom:2px solid #C7CFD4;}
.info-pair-select .content tbody td {border-bottom:1px solid #C7CFD4;}

.info-pair .content thead tr {}
.info-pair .content thead td {border:1px solid #C7CFD4; background-color:#F8F8F7; color:#3B3B3C; padding: 2px; font-size:11px; line-height: 11px;}
.info-pair .content tbody tr {}
.info-pair .content tbody td {border: 1px solid #C7CFD4; border-bottom:2px solid #C7CFD4;}
.info-pair .content tbody td input {*margin:0 -2px 0 2px;}

.find-edit .fl-container-left .information-group .content, .related-records  .information-group  .content {padding:0 !important;}
.find-edit .fl-container-left .information-group  table {font-size:12px; background-color:#00FFFF; border:0px solid #ADADAD; }
.find-edit .fl-container-left .information-group  table thead tr td {font-size:11px; background-color:#E8E8E8; padding:4px 2px 3px 4px; border:none; color:#9D9D9D;}
.find-edit .fl-container-left .information-group  table tbody tr td {background-color:#fff; padding: 5px 2px 4px 4px; border:0px solid #ADADAD; color:#92B7DA}
.find-edit .fl-container-left .information-group  table tbody tr:hover td {/*background-color:#BFF4FF; cursor:pointer;*/}
.find-edit .fl-container-left .information-group  table tbody tr.add-new-user td {color:#A9A59B; font-weight:bold; background-color:#F5F3DC;}

.find-edit .search-leader .header {padding: 5px 10px 6px 10px; width:auto; background-color:#F3F3F3; cursor:default;}
.find-edit .search-leader .header .label {padding-right:4px; color:#666;}
.find-edit .search-leader .header .value {color:#000;}
.find-edit .search-leader .header .link {color:#A5C695;}

.list-table {border-bottom:0px solid #D2D0D0;}
.list-table .header {}
.list-table  .content {padding:0 !important;}
.list-table  table {font-size:12px; line-height:120%; background-color:#00FFFF; border:0px solid #ADADAD; width:100%;}
.list-table  table thead tr td {font-size:11px; background-color:#E8E8E8; padding:4px 2px 3px 4px; border:none; color:#9D9D9D; font-weight:bold;}
.list-table  table tbody tr td {background-color:#fff; padding: 5px 2px 4px 4px; border-bottom:0px solid #ADADAD; color:#92B7DA; vertical-align:top;}
.list-table  table tbody tr:hover td {/*background-color:#BFF4FF; cursor:pointer;*/}


/*.related-procedures  .content {padding:0 !important;}
.related-procedures  table {font-size:12px; background-color:#00FFFF; border:0px solid #ADADAD; }
.related-procedures  table thead tr td {font-size:11px; background-color:#E8E8E8; padding:4px 2px 3px 4px; border:none; color:#9D9D9D;}
.related-procedures  table tbody tr td {background-color:#fff; padding: 5px 2px 4px 4px; border:0px solid #ADADAD; color:#92B7DA}
.related-procedures  table tbody tr:hover td {/*background-color:#BFF4FF; cursor:pointer;}*/

.pivot-box-table {width:100%; background-color:#fff; color:#6D6E71;}
.pivot-box-table  tr td {font-size:11px; padding:4px 2px 3px 4px; border:none; color:#92B7DA;}
.pivot-box-table thead tr td {border-bottom: 0px solid #C9CACC; font-weight:bold; background-color:#E8E8E8; color:#9D9D9D;}


.add-more {float:right; color:#000; /**padding-top:2px;*/ margin:4px 4px 0 0;}

.fl-container-admin  .information-group       {padding:0 0 20px 0;}
.fl-container-admin  .information-subgroup {padding:12px 10px 10px 10px; border:1px solid #C7CFD4; width:auto; background-color:#F0F5FA;}
.fl-container-admin  .information-group       .content 	{border:none; background-color: #E6E6E6; padding: 12px 12px 12px 12px; width:auto; display:block;}
.fl-container-admin  .information-subgroup .content 	{border:none; background-color: #F0F5FA; padding: 0px; width:auto; display:block; border:0px solid #CECFD1; width:100%;}
.fl-container-admin  .information-subgroup .content input {border:1px solid #C7CFD4; width:98%;}
.fl-container-admin  .information-group       .header   	{font-size:14px; line-height:14px; background-color:#E6E6E6; /*padding-bottom:8px;*/ color:#3A3A3A;}
.fl-container-admin  .information-group       .sub-header {font-size:14px; line-height:14px; font-weight:bold; padding-bottom: 15px; background-color:#E6E6E6;}
.fl-container-admin  .information-subgroup .header   	{font-size:14px; line-height:14px; background-color:#E6E6E6; padding-bottom:8px; color:#3A3A3A;}
.fl-container-admin  .information-group  table {font-size:12px; line-height:12px; background-color:#E6E6E6; width:100%; border:1px solid #C7CFD4; /*margin:1px;*/}
.fl-container-admin  .information-group  table thead tr td {font-size:11px; line-height:11px; background-color:#E8E8E8; font-weight:bold; padding:4px 2px 4px 5px; border:1px solid #C7CFD4; color:#3A3A3A;}
.fl-container-admin  .information-group  table.permissions thead tr td {border:none; border-bottom:1px solid #C7CFD4;}
.fl-container-admin  .information-group  table tbody {border:1px solid #C7CFD4;}
.fl-container-admin  .information-group  table tbody tr td {background-color:#fff; padding: 4px 2px 3px 5px; border:1px solid #C7CFD4; /*border-bottom:1px solid #E9E8E8;*/ color:#3A3A3A;}
.fl-container-admin  .information-group  table tbody tr td.header {background-color:#E8E8E8; padding: 4px 2px 4px 5px; font-size:12px; line-height:100%;}
.fl-container-admin  .information-group  table tbody tr td.selected {background-color:#6E9FCE; color:#fff;}
.fl-container-admin  .information-group  table.permissions tbody tr td {border:none; border-bottom:1px solid #C7CFD4;}
.fl-container-admin  .information-group  table.hover tbody tr:hover td {background-color:#6E9FCE; cursor:pointer; color:#fff;}
.fl-container-admin  .information-group  table tbody tr:hover td.header {background-color:#E8E8E8; color:#3A3A3A;}
.fl-container-admin  .information-group  table tbody tr.add-new-user td {color:#A9A59B; font-weight:bold; background-color:#F5F3DC;}
.fl-container-admin  .information-group  table tbody tr.last td{border-bottom:1px solid #C7CFD4;}
.new-user-background {background-color:#F5F3DC !important;}


.overflow-user-list {max-height:300px; overflow-x:hidden; overflow-y:auto; margin-bottom:10px; width:100%; }
.user-details { border:1px solid #C7CFD4; padding:10px; background-color:#F0F5FA; /*min-width:364px;*/}
.user-details-fields {padding-bottom:10px;}
.user-details .info-pair {padding-bottom:16px;}
.user-details .info-pair .label {float:left; width:110px; font-weight:bold; text-align:right; padding:6px 14px 0 0 ;}
.user-details .info-pair .user-input {float:left; width:230px;}
.user-details .info-pair .user-input input {border:1px solid #C7CFD4;}

.permission-retails {}

.create-new .radio-buttons {width:100%;}
.create-new .radio-button	{min-width: 100px; padding:4px 20px 4px 0; font-size:14px; line-height:14px; float:left;}
.create-new .radio-button	input {border:none;}
.create-new .button-row {padding:15px 0; width:625px; margin-left:auto; margin-right:auto;}

.object-entry .fl-container-pivot {padding-top:0px;}

.fl-container-pivot {padding-top:0px;}
/*.create-new .fl-container-left .button {margin-right: 7px; float:left;}*/

.info-pair, .info-pair-addrow, .info-pair-table, .info-pair-date, .info-pair-select, .info-pair-termlist 
{width:100%; position:relative; padding-bottom:18px; padding-top:0px; font-size:12px; line-height:12px; float:left;}


.info-pair-termlist  table, .info-pair-termlist tbody td{width:auto;  background-color:#E6E6E6;}
.fl-container-left .information-group .info-pair-termlist .info-pair .content {padding-bottom:4px;}
.info-pair-termlist table select {border:0;}
.fl-container-left .information-group .info-pair-date .info-pair .content  table {width:auto;}
.fl-container-left .information-group .info-pair-select .info-pair .content  table {width:auto;}
.info-pair-select select {height:19px; border:none;}

.login-text {padding:0 10px 15px 0px;}
.login-forms {width:100%;}
.login-forms .info-pair{}
.login-forms .header  {padding:18px 18px 6px 18px; background-color:#93BC7F; /*margin-bottom:2px;*/ /*width:auto;*/}
.login-forms .header  .label {font-size:20px; color:#fff;}
.login-forms .content{width:100%; background-color:#E8E7E7; padding:18px; }

.login-text .header, .login-forms .header {font-size: 20px; line-height:20px; font-weight:bold; color:#9D9D9D;}
.login-text .content, .login-forms .content, .login-text .fl-container-left .information-group .info-pair .content, 
.fl-container-left .information-group .login-forms .info-pair .content 
	{padding-top: 20px; font-size:14px; line-height:18px; /*width:90%;*/}
.login-forms .content.sign-in {padding-top:5px;}
.login-pair {padding-bottom: 20px;}
.login-pair .login-label {width:80px; float:left; font-weight:bold; color:#333; margin-right:10px;}
.login-pair .login-element {float:left; padding-right: 2px; width:70%;}
.login-pair.forgotpw {width:100%; padding-bottom:0; font-size:13px;}
.login-pair.forgotpw {color:#333;}
.login-error {margin-left:90px; margin-bottom:-18px; padding-left:24px; /*font-weight:bold;*/ font-size:12px; color:#C60018; background-image: url(../images/warning.png); background-repeat: no-repeat; background-position:left;}
.login-pair .button {background-color:#93BC7F; padding:3px 18px;}

.reset-password .login-pair .login-label {width:130px;}
.reset-password .login-pair .login-element {width:60%;}
.reset-password .login-error {margin-left:140px;}


.info-pair .content .table-select {}
.info-pair .content .table-selected, .info-pair .content .table-unselected 
	{width:12px; background-position: top left; background-repeat:no-repeat; background-position:center;  background-color:#FFF;}
.info-pair .content .table-selected {background-image:url(../images/rowSelected.png); width:14px !important;}
.info-pair .content .table-unselected {background-image:url(../images/rowUnselected.png); width:14px !important;}
.info-pair .content .table-spacer {width:14px !important;}
.addrow {float:right; margin:0; position:relative; right:0px; bottom:-3px;}

.info-pair-table .info-value table.components, .info-pair-table .info-pair .content table.components {width:60%; float:left;}

.find-edit table tr td {vertical-align:top;}

.ui-autocomplete-input {width:99.75%}

.input-numeric-small   {width: 60px  !important;}
.input-numeric-medium {width: 120px !important;}
.input-date	 		   {width: 142px !important; padding-left:2px;}
table.input-date	 	   {padding-left:2px;}
.input-money-amount	   {width: 120px !important;}
.input-select		   {width: auto; height:23px;}
table .input-select         {width: 100%; height:19px; /**height:22px;*/ padding-top:0; border:none;}
.input-textarea		   {/*width: 99.5%;*/ width:100%; height:73px;}
.input-alpha-login       {width: 120px; height:18px;}
.input-autocomplete	   {width:auto !important;}

.fl-container-pivot  select.recently-created-list {width:232px !important; height:20px; /**height:24px;*/}

.cal img {padding:0 1px 1px 1px;}

.field-cal {width:138px;}
table .field-cal {width:162px;}
.field-cal img {padding: 0; margin:0 0 -5px 0;}


#footer {margin-top:20px; border-top: 2px solid #D8D9DA; padding-top:7px;}
#footer .footer-text {text-align: center; color: #656565; font-weight: bold; font-size:11px; line-height: 120%;}

#login {}

.gen-num-overlay {}
.gen-num-overlay-header {padding:8px 20px; color:#fff; background-color:#9D9FA2; font-size:15px; border-bottom: 1px solid #BFDF94;}
.gen-num-overlay-body {background-color:#F3F8E6; padding:14px 20px;}
.gen-num-overlay-body .radial-button {color:#818183; padding-bottom:5px;}
.gen-num-overlay-body .new-series-box{padding-bottom:10px;}
.gen-num-overlay-body table {width:100%; border:1px solid #E7E9EA;}
.gen-num-overlay-body table thead{background-color:#E0E2E2; color:#818183;}
.gen-num-overlay-body table tbody {background-color:#fff;}
.gen-num-overlay-body table tbody td.type {color:#818183;}
.gen-num-overlay-body table tbody td.prefix {color:#0F96D7;}

.gen-num-overlay table tr:hover td {background-color:#FFD6F7;}
.gen-num-overlay table tr:hover td.type {color:#3 33399;}
.gen-num-overlay table tr:hover td.prefix {color:#3 33399;}

.pivot-search-box {margin-bottom:20px; margin-top:0px; border:0px solid #999999; border-top:none; background-color:#E8E7E7;}
.pivot-search-box .header {background-color:#6E9FCE; color:#FFFFFF; font-size:13px;  padding:5px 0 6px 5px; width:auto;}
.pivot-search-box .content {border:none; padding: 10px;}

.right-sidebar {width:100%;}
.pivot-box, .pivot-users-box {margin-bottom:20px; min-width:270px; border:0px solid #999999; border-top:none; }
.media-snapshot {border-left: 1px solid #C9CACC; border-right: 1px solid #C9CACC;}
.media-snapshot .content {padding:6px;}
.media-snapshot .content img {margin-left:auto; margin-right:auto; display:block;}
.pivot-box .content, .pivot-box-content, .pivot-search-box-content, .pivot-users-box-content 
	{font-size:10px; line-height:10px; color:#7F8083; border-bottom:1px solid #D2D0D0;}
.pivot-box .header, .pivot-search-box-header, .pivot-users-box-header 
	{border-top:0px solid #999999; border-bottom:0px solid #999999; background-color:#AAA;  
	/*padding:4px 4px 4px 8px;*/ color:#FFF; font-size:13px; cursor:pointer; height:13px; width:auto;}
.pivot-box .header.toggle {height:25px;}
.header.static.button {height:21px; padding:4px 0 0px 4px;}
	
.pivot-search-box-header, .pivot-users-box .header {cursor:auto;}
.pivot-header {color:#606060;}




.pivot-box-data {padding:3px 0 3px 8px;}
.pivot-search-box-data  {padding:10px 0 10px 8px; border:0px solid #999999; border-top:none;}
.pivot-box .data  {padding:10px 0 10px 8px;}

.pivot-menu-search select {margin-top:10px;}

.date-table {wi dth:134px;}

.search-label {font-weight: normal; font-size: 12px; line-height:12px;}
	
.underline {border-bottom: 1px solid #C5E2A0;}

.minimize {margin-top: -3px;}

.button-panel {height:2em;}

.components-img {float:right;}

.collapse-all {float:right; font-size:13px; line-height:13px; font-weight:bold; padding-top:10px;}
.collapse-all img {padding-right:6px;}

.input-buttons {width:100%; padding:1px 0 8px 0; margin-top:0;}
.input-buttons input {margin-left:20px;}
.savebutton, .cancelbutton, .viewbutton , .deletebutton, .addrecordbutton {margin-left:10px; float:right; border:none; text-decoration:none;}
.deletebutton {margin-right:10px; float:left; border:none;}
.viewbutton {margin:0px; /**margin-top:-24px;*/ line-height:0;}

.no-border {border:none;}
.no-float {float:none;}
.no-margin {margin:0;}
.no-padding {padding:0;}
.no-cursor, .no-cursor a {cursor:default;}

/* disabling/enabling selectors */ /*needs to be consolidated*/
.disabled {}
.content.disabled, .disabled td, .disabled tr, input.disabled, td.disabled, tr.disabled {background-color:#CDCCCC  !important; color:#a0a0a0 !important;}
.radio-button.disabled {color:gray;}
.deactivate, .deactivate table, .deactivate table td, .deactivate .label {background-color:#CDCCCC !important; color:#606060 !important;}
.deactivate input {color:#CDCCCC !important;}
input.deactivate {background-color:#CDCCCC !important; color:#000 !important;}
.disableme {background-color:#CDCCCC !important; color:gray !important;}
.activate input {color:black !important; background-color:white !important;}


.overflowdiv {overflow-y:auto; overflow-x:hidden; max-height:194px;} /*  min-height */

.cs-message {background-color: #D1D2D4;	border:2px solid black; font-size: 1.2em; font-weight:bold; padding: 4px; margin: 5px 0 8px 0;}
table .cs-message {background-color: #D1D2D4;	border:none; font-size: inherit; font-weight:inherit; padding: 0; margin:0;}

.cs-timestamp {float:right; font-weight:normal; font-size: 1em;}
.hidden {display: none;}
.show {display: block;}
.clear {clear:both; margin:0; padding:0; height:1px; overflow:hidden; visibility:hidden; display:block;}

.ui-tabs .ui-tabs-hide {
     display: none;
}

.cs-add-related-records-dialog {
    background-color: white;
    min -width: 600px;
}

.float-left {  float: left; }
.float-right {  float: right; }

