.cs-numberPatternChooser {
	width:400px;
	float:left; 
	width:100%;
	position:absolute;
	z-index:999 !important;
}
.pattern-chooser-input {
	width:51% !important;
}
.csc-numberPatternChooser-button {
	border:none;
	background-color:#577A98; 
	padding: 2px 4px 1px 4px; *padding: 2px 4px 0 4px;
	color:#fff; 
	float:left; 
	margin-left: 53%;
	margin-top:-20px; *margin-top:-21px;
	cursor:pointer;
}
.cs-numberPatternChooser-list {
    background-color:white;
	margin-top:2px !important;
}
table.cs-numberPatternChooser-list thead {
	border:1px solid #577A98;
}
table.cs-numberPatternChooser-list thead tr {
	border-bottom:none;
	background-color: #577A98;
	color:#fff;
}
table.cs-numberPatternChooser-list thead th {
	border:none;
	padding: 2px 0 2px 2px;
}
table.cs-numberPatternChooser-list tbody {
	border:1px solid #CECECE;
}
table.cs-numberPatternChooser-list tbody td {
	border: none;
	padding: 4px 0 4px 2px;
}
tr.csc-numberPatternChooser-patternRow {
	cursor:pointer;
}
tr.csc-numberPatternChooser-patternRow:hover {
	background-color:#E2F0F7;
}
tr.csc-numberPatternChooser-patternRow.cs-numberPatternChooser-selecting {
	background-color:#E2F0F7;
}
tr.csc-numberPatternChooser-name {
	color:#606060;
}
tr.csc-numberPatternChooser-sample {
	color:#64A8CB;
}
td.csc-numberPatternChooser-checkmark {
	width:12px;
}
.cs-numberPatternChooser-selected {
	background:url('../images/checkmark.png') no-repeat center center;
}

