<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-objectNumber-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-object-identification-object-number"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-taxon-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-collection-object-taxon"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-commonName-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-collection-object-commonName"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-japaneseName-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-collection-object-japaneseName"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-sponsor-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-collection-object-sponsor"/>
                    </div>        
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-collection-object-treeType-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-collection-object-treeType input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-updatedBy-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-collection-object-updatedBy"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-collection-object-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-collection-object-updatedAtStart-label"></td>
                                    <td class="csc-collection-object-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-collection-object-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-collection-object-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair" style="display:none;">>
                    <div class="header">
                        <div class="label csc-collection-object-numberOfObjects-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-collection-object-numberOfObjectsStart-label"></td>
                                    <td class="csc-collection-object-numberOfObjectsEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-collection-object-numberOfObjectsStart" /></td>
                                    <td><input type="text" class="csc-collection-object-numberOfObjectsEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>    
