<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column2-50 fl-force-left">
            <div class="info-column">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-conservation-conservationNumber-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-conservation-conservationNumber"/>
                    </div>
                </div>
                <div class="info-column cs-multipleEdit" id="multipleEdit">
                    <div class="info-pair">
                        <div class="header">
                            <div class="label csc-conservation-conservationStatusGroup-label"></div>
                        </div>
                        <div class="content csc-conservation-conservationStatusGroup cs-repeatable-stretched">
                            <div class="info-column">
                                <div class="info-pair-select">
                                    <div class="header">
                                        <div class="label csc-conservation-status-label"></div>
                                    </div>
                                    <div class="content clearfix">
                                        <select class="csc-conservation-status input-select"><option value="">Options not loaded</option></select>
                                    </div>
                                </div>
                                <!-- <div class="info-pair">
                                    <div class="header">
                                        <div class="label csc-conservation-statusDate-label"></div>
                                    </div>
                                    <div class="content">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <td class="csc-conservation-statusDateStart-label"></td>
                                                    <td class="csc-conservation-statusDateEnd-label"></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><input type="text" class="csc-conservation-statusDateStart" /></td>
                                                    <td><input type="text" class="csc-conservation-statusDateEnd" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-conservation-treatmentPurpose-label"></div>
                    </div>
                    <div class="content">
                        <select class="csc-conservation-treatmentPurpose input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-conservation-treatmentPerformed-label"></div>
                    </div>
                    <div class="content">
                        <select class="csc-conservation-treatmentPerformed input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-conservation-conservator-label"></div>
                    </div>
                    <div class="content">
                        <input type="text" class="csc-conservation-conservator" />
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-conservation-approvedBy-label"></div>
                    </div>
                    <div class="content">
                        <input type="text" class="csc-conservation-approvedBy" />
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-conservation-approvedDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-conservation-approvedDateStart-label"></td>
                                    <td class="csc-conservation-approvedDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-conservation-approvedDateStart" /></td>
                                    <td><input type="text" class="csc-conservation-approvedDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-conservation-treatmentStartDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-conservation-treatmentStartDateStart-label"></td>
                                    <td class="csc-conservation-treatmentStartDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-conservation-treatmentStartDateStart" /></td>
                                    <td><input type="text" class="csc-conservation-treatmentStartDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-conservation-treatmentEndDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-conservation-treatmentEndDateStart-label"></td>
                                    <td class="csc-conservation-treatmentEndDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-conservation-treatmentEndDateStart" /></td>
                                    <td><input type="text" class="csc-conservation-treatmentEndDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-conservation-researcher-label"></div>
                    </div>
                    <div class="content">
                        <input type="text" class="csc-conservation-researcher" />
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-conservation-proposedAnalysisDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-conservation-proposedAnalysisDateStart-label"></td>
                                    <td class="csc-conservation-proposedAnalysisDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-conservation-proposedAnalysisDateStart" /></td>
                                    <td><input type="text" class="csc-conservation-proposedAnalysisDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-conservation-futureTreatment-label"></div>
                    </div>
                    <div class="content">
                        <select class="csc-conservation-futureTreatment input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-conservation-futureTreatmentDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-conservation-futureTreatmentDateStart-label"></td>
                                    <td class="csc-conservation-futureTreatmentDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-conservation-futureTreatmentDateStart" /></td>
                                    <td><input type="text" class="csc-conservation-futureTreatmentDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-conservation-nextRepotting-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-conservation-nextRepottingStart-label"></td>
                                    <td class="csc-conservation-nextRepottingEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-conservation-nextRepottingStart" /></td>
                                    <td><input type="text" class="csc-conservation-nextRepottingEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-column cs-multipleEdit" id="multipleEdit">
                    <div class="info-pair">
                        <div class="header">
                            <div class="label csc-conservation-destAnalysisGroup-label"></div>
                        </div>
                        <div class="content csc-conservation-destAnalysisGroup cs-repeatable-stretched">
                            <div class="info-column">
                                <!-- <div class="info-pair">
                                    <div class="header">
                                        <div class="label csc-conservation-destAnalysisApprovedDate-label"></div>
                                    </div>
                                    <div class="content">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <td class="csc-conservation-destAnalysisApprovedDateStart-label"></td>
                                                    <td class="csc-conservation-destAnalysisApprovedDateEnd-label"></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><input type="text" class="csc-conservation-destAnalysisApprovedDateStart" /></td>
                                                    <td><input type="text" class="csc-conservation-destAnalysisApprovedDateEnd" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div> -->
                                <div class="info-pair">
                                    <div class="header">
                                        <div class="label csc-conservation-sampleBy-label"></div>
                                    </div>
                                    <div class="content clearfix">
                                        <input type="text" class="csc-conservation-sampleBy"/>
                                    </div>
                                </div>
                                <!-- <div class="info-pair">
                                    <div class="header">
                                        <div class="label csc-conservation-sampleDate-label"></div>
                                    </div>
                                    <div class="content">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <td class="csc-conservation-sampleDateStart-label"></td>
                                                    <td class="csc-conservation-sampleDateEnd-label"></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><input type="text" class="csc-conservation-sampleDateStart" /></td>
                                                    <td><input type="text" class="csc-conservation-sampleDateEnd" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-conservation-updatedBy-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-conservation-updatedBy"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-conservation-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-conservation-updatedAtStart-label"></td>
                                    <td class="csc-conservation-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-conservation-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-conservation-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>