
<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-media-creator-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-media-creator" />
                    </div>
                </div>
                <div class="info-pair" style="display:none">
                    <div class="header">
                        <div class="label csc-media-date-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-media-dateStart-label"></td>
                                    <td class="csc-media-dateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-media-dateStart" /></td>
                                    <td><input type="text" class="csc-media-dateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-media-filename-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-media-filename" />
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-media-format-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-media-format" />
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-media-identificationNumber-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-media-identificationNumber" />
                    </div>
                </div>
                <div class="info-pair-select" style="display:none">
                    <div class="header">
                        <div class="label csc-media-language-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-media-language input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-media-publisher-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-media-publisher" />
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-media-rightsHolder-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-media-rightsHolder" />
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-media-source-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-media-source" />
                    </div>
                </div>
                <div class="info-pair" style="display:none;">
                    <div class="header">
                        <div class="label csc-media-subject-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-media-subject" />
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-media-title-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-media-title" />
                    </div>
                </div>
                <div class="info-pair-select" style="display:none">
                    <div class="header">
                        <div class="label csc-media-type-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-media-type input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair" style="display:none;">
                    <div class="header">
                        <div class="label csc-media-editUsername-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-media-editUsername"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-media-scientificTaxonomy-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-media-scientificTaxonomy"/>
                    </div>        
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-media-postToPublic-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-media-postToPublic input-select">
							<option value="">Options not loaded</option>
						</select>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-media-handwritten-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-media-handwritten input-select">
							<option value="">Options not loaded</option>
						</select>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-media-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-media-updatedAtStart-label"></td>
                                    <td class="csc-media-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-media-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-media-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
