<div class="info-pair">
	<div class="header">
		<div class="label csc-address-addrGroup-label"></div>
	</div>
	<div class="content csc-address-addrGroup">
		<div class="info-column">
			<div class="info-column2-50 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<div class="csc-address-addressType-label label"></div>
					</div>
					<div class="content">
						<select class="csc-address-addressType input-select"><option value="">Options not loaded</option></select>
					</div>
				</div>

				<div class="info-pair">
					<div class="header">
						<div class="csc-address-addressPlace1-label label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-address-addressPlace1"/>
					</div>
				</div>

				<div class="info-pair">
					<div class="header">
						<div class="csc-address-addressPlace2-label label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-address-addressPlace2"/>
					</div>
				</div>
			</div>
			<div class="info-column2-50 fl-force-right">
				<div class="info-pair">
					<div class="header">
						<div class="csc-address-addressMunicipality-label label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-address-addressMunicipality"/>
					</div>
				</div>

				<div class="info-pair">
					<div class="header">
						<div class="csc-address-addressStateOrProvince-label label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-address-addressStateOrProvince"/>
					</div>
				</div>

				<div class="info-pair">
					<div class="header">
						<div class="csc-address-addressPostCode-label label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-address-addressPostCode"/>
					</div>
				</div>

				<div class="info-pair">
					<div class="header">
						<div class="csc-address-addressCountry-label label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-address-addressCountry"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>