<div class="csc-advancedSearch-template">
    <input type="button" class="csc-advancedSearch-toggle" />
    <div class="csc-advancedSearch-step1">
        <div class="csc-advancedSearch-step1-header">
	        <span class="csc-advancedSearch-step1-label" />
	        <span class="csc-advancedSearch-step1-name" />
	    </div>
        <select class="csc-advancedSearch-selectRecordType"><option></option></select>
    </div>
    <div class="csc-advancedSearch-step2">
        <div class="csc-advancedSearch-step2-header">
            <span class="csc-advancedSearch-step2-label" />
            <span class="csc-advancedSearch-step2-name" />
        </div>
        <div class="csc-advancedSearch-step2-subheader1">
            <span class="csc-advancedSearch-step2-subheader1-label" />
            <span class="csc-advancedSearch-step2-subheader1-note" />
        </div>
        <input type="text" class="csc-advancedSearch-query" />
        <input type="button" class="csc-advancedSearch-keywordSearchButton" />
        <div class="csc-advancedSearch-step2-subheader2">
            <span class="csc-advancedSearch-step2-subheader2-label" />
            <span class="csc-advancedSearch-step2-subheader2-note1" />
            <select class="csc-advancedSearch-step2-subheader2-andOr"><option></option></select>
            <span class="csc-advancedSearch-step2-subheader2-note2" />
        </div>                
        <div class="csc-advancedSearch-searchFields"></div>
        <input type="button" class="csc-advancedSearch-fieldBasedSearchButton" />
    </div>
</div>