<div class="cs-autocomplete-popup">
    <div class="inner">
        <div class="cs-autocomplete-noMatches csc-autocomplete-noMatches"></div>
        <div class="cs-autocomplete-Matches csc-autocomplete-Matches">
            <ul>
                <li class="cs-autocomplete-matchItem csc-autocomplete-matchItem">
                    <span class="csc-autocomplete-matchItem-content cs-autocomplete-matchItem-content"></span>
                </li>
            </ul>
        </div>
        <div class="csc-autocomplete-addToPanel cs-autocomplete-addToPanel">
            <hr/>
            <div class="content csc-autocomplete-addTermTo cs-autocomplete-addTermTo">
                <div class="csc-autocomplete-newTermName-prefix cs-autocomplete-addTermTo-content"></div>
                <input type="text" class="csc-autocomplete-newTermName cs-autocomplete-newTermName" />
                <div class="csc-autocomplete-newTermName-postfix cs-autocomplete-addTermTo-content"></div>
            </div>
            <ul>
                <li class="cs-autocomplete-authorityItem csc-autocomplete-authorityItem" />
            </ul>
        </div>
    </div>
    <div class="cs-autocomplete-popup-miniView csc-autocomplete-popup-miniView"></div>
</div>