<div class="cs-searchBox">
    <div class="csc-createTemplateBox-recordTypeLabel"></div>
    <select class="csc-createTemplateBox-recordType recordType"><option></option></select>
    <div class="csc-createTemplateBox-templateTypeLabel"></div>
    <select class="csc-createTemplateBox-templateType templateType"><option></option></select>
    <div class="csc-createTemplateBox-buttonHolder">
        <input type="button" class="csc-createTemplateBox-createButton cs-createTemplateBox-createButton"/>
    </div>
</div>