<div class="csc-footer footer-inner">
    <div class="footer-text">
        <span class="csc-footer-text1"></span>
        &#169;&#160;&#8211;&#160;
        <span class="csc-footer-text2"></span>
        <a class="csc-footer-currentRelease" href=""></a> <span class="csc-footer-deploymentRelease"></span>
        &#160;&#8211;&#160;
        <a class="csc-footer-about" href=""></a>
        &#160;&#8211;&#160;
        <a class="csc-footer-feedback" href=""></a>
        &#160;&#8211;&#160;
        <a class="csc-footer-support" href=""></a>
    </div>
</div>