<div id="header-menu" class="csc-header-template">
    <div class="header-menu-logo"><a href="createnew.html" title="CollectionSpace Create New"></a></div>
    <div class="header-menu-right">
        <form action="" class="csc-header-logout-form">
            <div class="header-menu-logout">
                <input type="submit" class="csc-header-logout logout" />
            </div>
        </form>
        <span class="cs-header-userGroup">
            <span class="csc-header-user"></span>
            &#160;
            <span class="csc-header-userName cs-header-userName"></span>
        </span>
        <div class="clear"></div>
        <div class="csc-header-searchBox"></div>
    </div>
    <div class="clear"></div>
    <div class="header-menu-row">
        <div class="inner">
            <div class="menu-item csc-header-menu-item"><a class="csc-header-link"></a></div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
