<div class="fl-container-flex fl-fix information-group info-column">
    <div class="csc-hierarchy-header fl-container-flex header toggle"></div>
    <div class="csc-hierarchy-togglable cs-hierarchy fl-container-flex fl-fix content main"> 
        <div class="info-column">
            <div class="info-column2-60 fl-force-left">
                <div class="info-pair">
                    <div class="header"><div class="label"></div></div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-hierarchy-broaderContext-label label"></td>
                                    <td class="csc-hierarchy-broaderContextType-label label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-hierarchy-broaderContext" /></td>
                                    <td><select class="csc-hierarchy-broaderContextType input-select"><option value="">Options not loaded</option></select></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="info-pair">
                    <div class="header"></div>
                    <div class="content cs-hierarchy-narrowerContext-content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-hierarchy-narrowerContext-label label"></td>
                                    <td class="csc-hierarchy-narrowerContextType-label label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="csc-hierarchy-narrowerContexts">
                                    <td><input type="text" class="csc-hierarchy-narrowerContext" /></td>
                                    <td><select class="csc-hierarchy-narrowerContextType input-select"><option value="">Options not loaded</option></select></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="info-column2-40 fl-force-right">
                <div class="info-pair">
                    <div class="header">
                        <div class="csc-hierarchy-equivalentContexts-label label"></div>
                    </div>
                    <div class="content">
                        <input class="csc-hierarchy-equivalentContext" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>