<div class="fl-pager list-table">
    <table class="flc-pager-body-template fl-pager-data" xmlns:rsf="http://ponder.org.uk">
        <thead class="flc-pager-body-template-content">
            <tr class="csc-listView-headers">
                <th class="csc-listView-header">
                    <span class="csc-listView-header-text"></span>
                    <a class="csc-listView-header-link"></a>
                </th>
            </tr>
        </thead>
        <tbody class="csc-listView-rows">
            <tr class="csc-listView-row">
                <td class="csc-listView-column"></td>
            </tr>
        </tbody>
    </table>
    <ul id="pager-bottom" class="fl-pager-ui flc-pager-bottom">
        <li class="flc-per-page">
            <span class="csc-listView-show"></span> 
            <span>
                <select class="flc-pager-page-size csc-listView-page-size"><option value=""></option></select>
            </span>
            <span class="csc-listView-perPage"></span>
        </li>
        <li class="flc-pager-previous">
            <a class="csc-listView-previous" href="#"></a>
        </li>
        <li>
            <ul class="pager-links fl-pager-links flc-pager-links csc-listView-links">
                <li class="flc-pager-pageLink"><a href="#"></a></li>
            </ul>
        </li>
        <li class="flc-pager-next">
            <a class="csc-listView-next" href="#"></a>
        </li>
        <li class="flc-pager-summary"></li>
    </ul>
    <div class="clear"></div>
</div>