<div class="info-pair">
	<div class="header">
		<div class="label"><br/></div>
	</div>
	<div class="content csc-locality-localityGroup">
		<div class="info-column">
			<div class="info-column2-50 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-locality-fieldLocVerbatim-label"></div>
					</div>
					<div class="content">
						<textarea rows="4" cols="30" class="input-textarea csc-locality-fieldLocVerbatim"></textarea>
					</div>
				</div>
			</div>
			<div class="info-column2-50 fl-force-right">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-locality-fieldLocPlace-label"></div>
					</div>
					<div class="content">
						<input type="text" class="input-alpha csc-locality-fieldLocPlace" />
					</div>
				</div>
				<div class="info-pair">
					<div class="header">
						<div class="label csc-locality-taxonomicRange-label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-locality-taxonomicRange" />
					</div>
				</div>
			</div>
		</div>

		<div class="info-column">
			<div class="info-column2-50 fl-force-left">
				<div class="info-column2-50 fl-force-left">
					<div class="info-pair">
						<div class="header">
							<div class="label csc-locality-fieldLocCounty-label"></div>
						</div>
						<div class="content">
							<select class="csc-locality-fieldLocCounty input-select">
								<option value="">Options not loaded</option>
							</select>
						</div>
					</div>
				</div>
				<div class="info-column2-50 fl-force-right">
					<div class="info-pair">
						<div class="header">
							<div class="label csc-locality-fieldLocState-label"></div>
						</div>
						<div class="content">
							<select class="csc-locality-fieldLocState input-select">
								<option value="">Options not loaded</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="info-column2-50 fl-force-right">
				<div class="info-column2-50 fl-force-left">
					<div class="info-pair">
						<div class="header">
							<div class="label csc-locality-fieldLocCountry-label"></div>
						</div>
						<div class="content">
							<select class="csc-locality-fieldLocCountry input-select">
								<option value="">Options not loaded</option>
							</select>
						</div>
					</div>
				</div>
				<div class="info-column2-50 fl-force-right">
					<div class="info-pair">
						<div class="header">
							<div class="label csc-locality-fieldLocHigherGeography-label"></div>
						</div>
						<div class="content">
							<select class="csc-locality-fieldLocHigherGeography input-select">
								<option value="">Options not loaded</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="info-column fl-force-left">
			<div class="size1of5 fl-force-left">
				<div class="info-pair ">
					<div class="header">
						<div class="label csc-locality-vLatitude-label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-locality-vLatitude" />
					</div>
				</div>
			</div>
			<div class="size1of5 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-locality-vLongitude-label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-locality-vLongitude" />
					</div>
				</div>
			</div>
			<div class="size1of5 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-locality-vCoordinates-label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-locality-vCoordinates" />
					</div>
				</div>
			</div>
			<div class="size1of5 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-locality-vOtherCoords-label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-locality-vOtherCoords" />
					</div>
				</div>
			</div>  
			<div class="size1of5 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-locality-vCoordSys-label"></div>
					</div>
					<div class="content">
						<select class="csc-locality-vCoordSys input-select"><option value="">Options not loaded</option></select>
					</div>
				</div>
			</div>
			<!--<div class="size1of5 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-locality-vSpatialReferenceSystem-label"></div>
					</div>
					<div class="content">
						<select class="csc-locality-vSpatialReferenceSystem input-select"><option value="">Options not loaded</option></select>
					</div>
				</div>
			</div>-->
		</div>
		<div class="info-column fl-force-left">
			<div class="size1of5 fl-force-left">
				<div class="info-pair ">
					<div class="header">
						<div class="label csc-locality-decimalLatitude-label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-locality-decimalLatitude" />
					</div>
				</div>
			</div>
			<div class="size1of5 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-locality-decimalLongitude-label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-locality-decimalLongitude" />
					</div>
				</div>
			</div>
			<div class="size1of5 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-locality-geodeticDatum-label"></div>
					</div>
					<div class="content">
						<select class="csc-locality-geodeticDatum input-select"><option value="">Options not loaded</option></select>
					</div>
				</div>
			</div>
			<div class="size1of5 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-locality-coordUncertainty-label"></div>
					</div>
					<div class="content">
						<input type="text" class="csc-locality-coordUncertainty" />
					</div>
				</div>
			</div>
			<div class="size1of5 fl-force-left">
				<div class="info-pair-select">
					<div class="header">
						<div class="label csc-locality-coordUncertaintyUnit-label"></div>
					</div>
					<div class="content">
						<select class="csc-locality-coordUncertaintyUnit input-select"><option value="">Options not loaded</option></select>
					</div>
				</div>
			</div>
		</div>

		<div class="info-column">
			<div class="info-column2-50 fl-force-left">
				<table>
					<thead>
						<tr>
							<td class="csc-locality-vDepth-label"></td>
							<td class="csc-locality-minDepth-label"></td>
							<td class="csc-locality-maxDepth-label"></td>
							<td class="csc-locality-depthUnit-label"></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="text" class="csc-locality-vDepth"/></td>
							<td><input type="text" class="csc-locality-minDepth"/></td>
							<td><input type="text" class="csc-locality-maxDepth"/></td>
							<td><select class="csc-locality-depthUnit input-select"><option value="">Options not loaded</option></select></td>
						</tr>
					</tbody>
				</table>
				<br/>
				<table>
					<thead>
						<tr>
							<td class="csc-locality-vElevation-label"></td>
							<td class="csc-locality-minElevation-label"></td>
							<td class="csc-locality-maxElevation-label"></td>
							<td class="csc-locality-elevationUnit-label"></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="text" class="csc-locality-vElevation"/></td>
							<td><input type="text" class="csc-locality-minElevation"/></td>
							<td><input type="text" class="csc-locality-maxElevation"/></td>
							<td><select class="csc-locality-elevationUnit input-select"><option value="">Options not loaded</option></select></td>
						</tr>
					</tbody>
				</table>
				<br/>
				<table>
					<thead>
						<tr>
							<td class="csc-locality-vDistanceAboveSurface-label"></td>
							<td class="csc-locality-minDistanceAboveSurface-label"></td>
							<td class="csc-locality-maxDistanceAboveSurface-label"></td>
							<td class="csc-locality-distanceAboveSurfaceUnit-label"></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="text" class="csc-locality-vDistanceAboveSurface"/></td>
							<td><input type="text" class="csc-locality-minDistanceAboveSurface"/></td>
							<td><input type="text" class="csc-locality-maxDistanceAboveSurface"/></td>
							<td><select class="csc-locality-distanceAboveSurfaceUnit input-select"><option value="">Options not loaded</option></select></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="info-column2-50 fl-force-right">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-locality-localityNote-label"></div>
					</div>
					<div class="content">
						<textarea rows="4" cols="30" class="input-textarea csc-locality-localityNote"></textarea>
					</div>
				</div>
				<div class="info-column2-50 fl-force-left">
					<div class="info-pair">
						<div class="header">
							<div class="label csc-locality-localitySource-label"></div>
						</div>
						<div class="content">
							<input type="text" class="input-alpha csc-locality-localitySource" />
						</div>
					</div>
				</div>
				<div class="info-column2-50 fl-force-right">
					<div class="info-pair">
						<div class="header">
							<div class="label csc-locality-localitySourceDetail-label"></div>
						</div>
						<div class="content">
							<input type="text" class="input-alpha csc-locality-localitySourceDetail" />
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="fl-container-flex fl-fix information-subgroup">
			<div class="csc-recordEditor-header fl-container-flex header toggle csc-locality-geoRefDetail-label cs-togglable-collapsed"></div>
			<div class="csc-recordEditor-togglable fl-container-flex fl-fix content main" style="display: none">
				<div class="info-column fl-force-left">
					<div class="size1of5 fl-force-left">
						<div class="info-pair">
							<div class="header">
								<div class="label csc-locality-pointRadiusSpatialFit-label"></div>
							</div>
							<div class="content">
								<input type="text" class="csc-locality-pointRadiusSpatialFit" />
							</div>
						</div>
					</div>
					<div class="size1of5 fl-force-left">
						<div class="info-pair ">
							<div class="header">
								<div class="label csc-locality-footprintWKT-label"></div>
							</div>
							<div class="content">
								<input type="text" class="csc-locality-footprintWKT" />
							</div>
						</div>
					</div>
					<div class="size1of5 fl-force-left">
						<div class="info-pair">
							<div class="header">
								<div class="label csc-locality-footprintSRS-label"></div>
							</div>
							<div class="content">
								<input type="text" class="csc-locality-footprintSRS" />
							</div>
						</div>
					</div>
					<div class="size1of5 fl-force-left">
						<div class="info-pair">
							<div class="header">
								<div class="label csc-locality-footprintSpatialFit-label"></div>
							</div>
							<div class="content">
								<input type="text" class="csc-locality-footprintSpatialFit" />
							</div>
						</div>
					</div>
					<div class="size1of5 fl-force-left">
						<div class="info-pair">
							<div class="header">
								<div class="label csc-locality-coordPrecision-label"></div>
							</div>
							<div class="content">
								<input type="text" class="csc-locality-coordPrecision" />
							</div>
						</div>
					</div>
				</div>
				<div class="info-column fl-force-left">
					<div class="size1of5 fl-force-left">
						<div class="info-pair">
							<div class="header">
								<div class="label csc-locality-geoRefencedBy-label"></div>
							</div>
							<div class="content">
								<input type="text" class="csc-locality-geoRefencedBy" />
							</div>
						</div>
					</div>
					<div class="size1of5 fl-force-left">
						<div class="info-pair ">
							<div class="header">
								<div class="label csc-localityGroup-geoRefDateGroup-label"></div>
							</div>
							<div class="content">
								<input type="text" class="csc-localityGroup-geoRefDateGroup editableText" />
							</div>
						</div>
					</div>
					<div class="size1of5 fl-force-left">
						<div class="info-pair">
							<div class="header">
								<div class="label csc-locality-geoRefProtocol-label"></div>
							</div>
							<div class="content">
								<select class="csc-locality-geoRefProtocol input-select"><option value="">Options not loaded</option></select>
							</div>
						</div>
					</div>
					<div class="size1of5 fl-force-left">
						<div class="info-pair">
							<div class="header">
								<div class="label csc-locality-geoRefSource-label"></div>
							</div>
							<div class="content">
								<input type="text" class="csc-locality-geoRefSource" />
							</div>
						</div>
					</div>
					<div class="size1of5 fl-force-left">
						<div class="info-pair">
							<div class="header">
								<div class="label csc-locality-geoRefVerificationStatus-label"></div>
							</div>
							<div class="content">
								<select class="csc-locality-geoRefVerificationStatus input-select"><option value="">Options not loaded</option></select>
							</div>
						</div>
					</div>
				</div>
				<div class="info-column fl-force-left">
					<div class="size2of5 fl-force-left">
						<div class="info-pair">
							<div class="header">
								<div class="label csc-locality-geoRefRemarks-label"></div>
							</div>
							<div class="content">
								<input type="text" class="csc-locality-geoRefRemarks" />
							</div>
						</div>
					</div>
					<div class="size2of5 fl-force-left">
						<div class="info-pair">
							<div class="header">
								<div class="label csc-locality-geoRefPlaceName-label"></div>
							</div>
							<div class="content">
								<input type="text" class="csc-locality-geoRefPlaceName" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
