<div class="csc-autocomplete-popup-miniView-displayName cs-autocomplete-popup-miniView-displayName"></div>
<div class="csc-autocomplete-popup-miniView-field1Label cs-autocomplete-popup-miniView-field1Label"></div>
<div class="csc-autocomplete-popup-miniView-field1 cs-autocomplete-popup-miniView-field1"></div>
<div class="csc-autocomplete-popup-miniView-field2Label cs-autocomplete-popup-miniView-field2Label"></div>
<div class="csc-autocomplete-popup-miniView-field2 cs-autocomplete-popup-miniView-field2"></div>