<div class="info-pair">
	<div class="header">
		<div>&nbsp;</div>
	</div>
	<div class="content csc-conceptTermGroup">
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td><span class="csc-concept-termDisplayName-label label required"></span><span class="required">*</span></td>
								<td class="csc-concept-termQualifier-label"></td>
								<td class="csc-concept-termType-label"></td>
								<td class="csc-concept-termStatus-label label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-conceptAuthority-termDisplayName"/></td>
								<td><input type="text" class="csc-conceptAuthority-termQualifier"/></td>
								<td><select class="csc-conceptAuthority-termType input-select"><option value="">Options not loaded</option></select></td>
								<td><select class="csc-conceptAuthority-termStatus input-select"><option value="">Options not loaded</option></select></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-concept-termName-label"></td>
								<td class="csc-concept-termType-label"></td>
								<td class="csc-concept-termLanguage-label"></td>
								<td class="csc-concept-historicalStatus-label"></td>
								<td class="csc-concept-termPrefForLang-label"></td>
								<td class="csc-concept-termSource-label"></td>
								<td class="csc-concept-termSourceDetail-label"></td>
								<td class="csc-concept-termSourceID-label"></td>
								<td class="csc-concept-termSourceNote-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-concept-termName"/></td>
								<td><select class="csc-conceptAuthority-termType input-select"><option value="">Options not loaded</option></select></td>
								<td><select class="csc-conceptAuthority-termLanguage input-select"><option value="">Options not loaded</option></select></td>
								<td><select class="csc-conceptAuthority-historicalStatus input-select"><option value="">Options not loaded</option></select></td>
								<td><input type="checkbox" class="csc-conceptAuthority-termPrefForLang"/></td>
								<td><input type="text" class="csc-conceptAuthority-termSource"/></td>
								<td><input type="text" class="csc-conceptAuthority-termSourceDetail"/></td>
								<td><input type="text" class="csc-conceptAuthority-termSourceID"/></td>
								<td><input type="text" class="csc-conceptAuthority-termSourceNote"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>