<div class="info-pair">
	<div class="header">
		<div>&nbsp;</div>
	</div>
	<div class="content csc-preferredCI-citationTermGroup">
        <div class="label csc-preferred-label"></div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td><span class="csc-preferredCI-termDisplayName-label label required"></span><span class="required">*</span></td>								
								<td class="csc-preferredCI-termType-label"></td>
								<td class="csc-preferredCI-termStatus-label label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-citationAuthority-termDisplayName"/></td>								
								<td><select class="csc-citationAuthority-termType input-select"><option value="">Options not loaded</option></select></td>
								<td><select class="csc-citationAuthority-termStatus input-select"><option value="">Options not loaded</option></select></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>															
								<td class="csc-preferredCI-labelTermFullCitation-label label"></td>								                                
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-citationAuthority-termFullCitation"/></td>								
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>								
								<td class="csc-preferredCI-labelTermTitle-label label"></td>                               
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-citationAuthority-termTitle"/></td>								
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>								
								<td class="csc-preferredCI-labelTermSubTitle-label label"></td>                                  
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-citationAuthority-termSubTitle"/></td>								
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>								
								<td class="csc-preferredCI-labelTermSectionTitle-label label"></td> 
								<td class="csc-preferredCI-labelTermVolume-label label"></td> 
								<td class="csc-preferredCI-labelTermIssue-label label"></td>                                    
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-citationAuthority-termSectionTitle"/></td>
								<td><input type="text" class="csc-citationAuthority-termVolume"/></td>
								<td><input type="text" class="csc-citationAuthority-termIssue"/></td>								
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-preferredCI-termLanguage-label"></td>
								<td class="csc-preferredCI-termPrefForLang-label"></td>
								<td class="csc-preferredCI-termSource-label"></td>
								<td class="csc-preferredCI-termSourceDetail-label"></td>
								<td class="csc-preferredCI-termSourceID-label"></td>
								<td class="csc-preferredCI-termSourceNote-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><select class="csc-citationAuthority-termLanguage input-select"><option value="">Options not loaded</option></select></td>
								<td><input type="checkbox" class="csc-citationAuthority-termPrefForLang"/></td>
								<td><input type="text" class="csc-citationAuthority-termSource"/></td>
								<td><input type="text" class="csc-citationAuthority-termSourceDetail"/></td>
								<td><input type="text" class="csc-citationAuthority-termSourceID"/></td>
								<td><input type="text" class="csc-citationAuthority-termSourceNote"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</div>