<div class="info-pair">
	<div class="header">
		<div>&nbsp;</div>
	</div>
	<div class="content csc-preferredOA-orgTermGroup">
		<div class="info-column">
			<div class="info-pair">
                               <div class="content">
					<table>
						<thead>
							<tr>
								<td><span class="csc-preferredOA-termDisplayName-label label required"></span><span class="required">*</span></td>
								<td class="csc-preferredOA-termQualifier-label"></td>
								<td class="csc-preferredOA-termType-label"></td>
								<td class="csc-preferredOA-termStatus-label label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-orgAuthority-termDisplayName"/></td>
								<td><input type="text" class="csc-orgAuthority-Qualifier"/></td>
								<td><select class="csc-orgAuthority-termType input-select"><option value="">Options not loaded</option></select></td>
								<td><select class="csc-orgAuthority-termStatus input-select"><option value="">Options not loaded</option></select></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-preferredOA-termName-label"></td>
								<td class="csc-preferredOA-termLanguage-label"></td>
								<td class="csc-preferredOA-termPrefForLang-label"></td>
								<td class="csc-preferredOA-termSource-label"></td>
								<td class="csc-preferredOA-termSourceDetail-label"></td>
								<td class="csc-preferredOA-termSourceID-label"></td>
								<td class="csc-preferredOA-termSourceNote-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-orgAuthority-termName"/></td>
								<td><select class="csc-orgAuthority-termLanguage input-select"><option value="">Options not loaded</option></select></td>
								<td><input type="checkbox" class="csc-orgAuthority-termPrefForLang"/></td>
								<td><input type="text" class="csc-orgAuthority-termSource"/></td>
								<td><input type="text" class="csc-orgAuthority-termSourceDetail"/></td>
								<td><input type="text" class="csc-orgAuthority-termSourceID"/></td>
								<td><input type="text" class="csc-orgAuthority-termSourceNote"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-preferredOA-mainBodyName-label"></td>
								<td class="csc-preferredOA-additionsToName-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-orgAuthority-mainBodyName" /></td>
								<td><input type="text" class="csc-orgAuthority-additionsToName" /></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>