<div class="info-pair">
	<div class="header">
		<div>&nbsp;</div>
	</div>
	<div class="content csc-preferred-authorityGroup">
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-preferred-authorityDisplayName-label"></td>
								<td class="csc-preferred-authorityQualifier-label"></td>
								<td class="csc-preferred-authorityTermType-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-preferred-authorityDisplayName"/></td>
								<td><input type="text" class="csc-preferred-authoritynQualifier"/></td>
								<td><input type="text" class="csc-preferred-authorityTermType"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-preferred-authorityTerm-label"></td>
								<td class="csc-preferred-authorityTermLanguage-label"></td>
								<td class="csc-preferred-authorityTermPreferredForLanguage-label"></td>
								<td class="csc-preferred-authorityTermSource-label"></td>
								<td class="csc-preferred-authorityTermSourceDetail-label"></td>
								<td class="csc-preferred-authorityTermSourceID-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-preferred-authorityTerm"/></td>
								<td><input type="text" class="csc-preferred-authorityTermLanguage"/></td>
								<td><input type="text" class="csc-preferred-authorityTermPreferredForLanguage"/></td>
								<td><input type="text" class="csc-preferred-authorityTermSource"/></td>
								<td><input type="text" class="csc-preferred-authorityTermSourceDetail"/></td>
								<td><input type="text" class="csc-preferred-authorityTermSourceID"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>