<div class="info-pair">
	<div class="header">
		<div>&nbsp;</div>
	</div>
	<div class="content csc-locTermGroup">
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-location-termName-label"></td>
								<td class="csc-location-termQualifier-label"></td>
								<td class="csc-location-termType-label"></td>
								<td class="csc-location-termStatus-label label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-locationAuthority-termName"/></td>
								<td><input type="text" class="csc-locationAuthority-termQualifier"/></td>
								<td><select class="csc-locationAuthority-termType input-select"><option value="">Options not loaded</option></select></td>
								<td><select class="csc-locationAuthority-termStatus input-select"><option value="">Options not loaded</option></select></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-location-termLanguage-label"></td>
								<td class="csc-location-termPrefForLang-label"></td>
								<td class="csc-location-termSource-label"></td>
								<td class="csc-location-termSourceDetail-label"></td>
								<td class="csc-location-termSourceID-label"></td>
								<td class="csc-location-termSourceNote-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><select class="csc-locationAuthority-termLanguage input-select"><option value="">Options not loaded</option></select></td>
								<td><input type="checkbox" class="csc-locationAuthority-termPrefForLang"/></td>
								<td><input type="text" class="csc-locationAuthority-termSource"/></td>
								<td><input type="text" class="csc-locationAuthority-termSourceDetail"/></td>
								<td><input type="text" class="csc-locationAuthority-termSourceID"/></td>
								<td><input type="text" class="csc-locationAuthority-termSourceNote"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>