<div class="info-pair">
	<div class="header">
		<div>&nbsp;</div>
	</div>
	<div class="content csc-preferred-conceptGroup">
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-concept-shortDisplayName-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-concept-shortDisplayName"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-concept-termType-label"></td>
								<td class="csc-concept-termLanguage-label"></td>
								<td class="csc-concept-historicalFlag-label"></td>
								<td class="csc-concept-termPreferredForLanguage-label"></td>
								<td class="csc-concept-termSource-label"></td>
								<td class="csc-concept-termSourceDetail-label"></td>
								<td class="csc-concept-termSourceID-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><select class="csc-conceptAuthority-termType input-select"><option value="">Options not loaded</option></select></td>
								<td><select class="csc-conceptAuthority-termLanguage input-select"><option value="">Options not loaded</option></select></td>
								<td><select class="csc-conceptAuthority-historicalFlag input-select"><option value="">Options not loaded</option></select></td>
								<td><input type="checkbox" class="csc-conceptAuthority-termPreferredForLanguage"/></td>
								<td><input type="text" class="csc-conceptAuthority-termSource"/></td>
								<td><input type="text" class="csc-conceptAuthority-termSourceDetail"/></td>
								<td><input type="text" class="csc-conceptAuthority-termSourceID"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-concept-termScopeNote-label"></td>
								<td class="csc-concept-termScopeNoteSource-label"></td>
								<td class="csc-concept-termScopeNoteSourceDetail-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-conceptAuthority-termScopeNote"/></td>
								<td><input type="text" class="csc-conceptAuthority-termScopeNoteSource"/></td>
								<td><input type="text" class="csc-conceptAuthority-termScopeNoteSourceDetail"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>