<div class="content csc-preferredMaterial-materialTermGroup">
    <div class="label csc-preferred-label"></div>
    <div class="info-column">
        <div class="info-pair">
            <div class="content">
                <table>
                    <thead>
                        <tr>
                            <td><span class="csc-preferredMaterial-termDisplayName-label label required"></span><span class="required">*</span></td>
                            <td class="csc-preferredMaterial-termName-label"></td>
                            <td class="csc-preferredMaterial-termQualifier-label"></td>
                            <td class="csc-preferredMaterial-termStatus-label label"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" class="csc-materialAuthority-termDisplayName"/></td>
                            <td><input type="text" class="csc-materialAuthority-termName"/></td>
                            <td><input type="text" class="csc-materialAuthority-termQualifier"/></td>
                            <td><select class="csc-materialAuthority-termStatus input-select"><option value="">Options not loaded</option></select></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="info-column">
        <div class="info-pair">
            <div class="content">
                <table>
                    <thead>
                        <tr>
                            <td class="csc-preferredMaterial-termType-label"></td>
                            <td class="csc-preferredMaterial-termFlag-label"></td>
                            <td class="csc-preferredMaterial-historicalStatus-label"></td>
                            <td class="csc-preferredMaterial-termLanguage-label"></td>
                            <td class="csc-preferredMaterial-termPrefForLang-label"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><select class="csc-materialAuthority-termType input-select"><option value="">Options not loaded</option></select></td>
                            <td><select class="csc-materialAuthority-termFlag input-select"><option value="">Options not loaded</option></select></td>
                            <td><select class="csc-materialAuthority-historicalStatus input-select"><option value="">Options not loaded</option></select></td>
                            <td><select class="csc-materialAuthority-termLanguage input-select"><option value="">Options not loaded</option></select></td>
                            <td><input type="checkbox" class="csc-materialAuthority-termPrefForLang"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="info-column">
        <div class="info-pair">
            <div class="content">
                <table>
                    <thead>
                        <tr>
                            <td class="csc-preferredMaterial-termSource-label"></td>
                            <td class="csc-preferredMaterial-termSourceDetail-label"></td>
                            <td class="csc-preferredMaterial-termSourceID-label"></td>
                            <td class="csc-preferredMaterial-termSourceNote-label"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" class="csc-materialAuthority-termSource"/></td>
                            <td><input type="text" class="csc-materialAuthority-termSourceDetail"/></td>
                            <td><input type="text" class="csc-materialAuthority-termSourceID"/></td>
                            <td><input type="text" class="csc-materialAuthority-termSourceNote"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>