<div class="info-pair">
	<div class="header">
		<div>&nbsp;</div>
	</div>
	<div class="content csc-preferred-placeGroup">
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td><span class="csc-place-termDisplayName-label label required"></span><span class="required">*</span></td>
								<td class="csc-place-termQualifier-label"></td>
								<td class="csc-place-termType-label"></td>
								<td class="csc-place-termStatus-label label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-placeAuthority-termDisplayName"/></td>
								<td><input type="text" class="csc-placeAuthority-termQualifier"/></td>
								<td><select class="csc-placeAuthority-termType input-select"><option value="">Options not loaded</option></select></td>
								<td><select class="csc-placeAuthority-termStatus input-select"><option value="">Options not loaded</option></select></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-place-termLanguage-label"></td>
								<td class="csc-place-termPrefForLang-label"></td>
								<td class="csc-place-termSource-label"></td>
								<td class="csc-place-termSourceDetail-label"></td>
								<td class="csc-place-termSourceID-label"></td>
								<td class="csc-place-termSourceNote-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><select class="csc-placeAuthority-termLanguage input-select"><option value="">Options not loaded</option></select></td>
								<td><input type="checkbox" class="csc-placeAuthority-termPrefForLang"/></td>
								<td><input type="text" class="csc-placeAuthority-termSource"/></td>
								<td><input type="text" class="csc-placeAuthority-termSourceDetail"/></td>
								<td><input type="text" class="csc-placeAuthority-termSourceID"/></td>
								<td><input type="text" class="csc-placeAuthority-termSourceNote"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-place-nameAbbrev-label"></td>
								<td class="csc-place-historicalStatus-label"></td>
								<td class="csc-place-nameNote-label"></td>
								<td class="csc-place-nameDateGroup-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-placeAuthority-nameAbbrev"/></td>
								<td><select class="csc-placeAuthority-historicalStatus input-select"><option value="">Options not loaded</option></select></td>
								<td><input type="text" class="csc-placeAuthority-nameNote"/></td>
								<td class="flc-inlineEdit-text nameDate">
                                    <input type="text" class="csc-placeAuthority-nameDateGroup editableText" />
                                </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>