<div class="info-pair">
    <div class="header">
        <div>&nbsp;</div>
    </div>
    <div class="content csc-preferredWork-workTermGroup">
        <div class="label csc-preferred-label"></div>
        <div class="info-column">
            <div class="info-pair">
                <div class="content">
                    <table>
                        <thead>
                            <tr>
                                <td><span class="csc-preferredWork-termDisplayName-label label required"></span><span class="required">*</span></td>
                                <td class="csc-preferredWork-termName-label"></td>
                                <td class="csc-preferredWork-termQualifier-label"></td>
                                <td class="csc-preferredWork-termType-label"></td>
                                <td class="csc-preferredWork-termStatus-label label"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" class="csc-workAuthority-termDisplayName"/></td>
                                <td><input type="text" class="csc-workAuthority-termName"/></td>
                                <td><input type="text" class="csc-workAuthority-termQualifier"/></td>
                                <td><select class="csc-workAuthority-termType input-select"><option value="">Options not loaded</option></select></td>
                                <td><select class="csc-workAuthority-termStatus input-select"><option value="">Options not loaded</option></select></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="info-column">
            <div class="info-pair">
                <div class="content">
                    <table>
                        <thead>
                            <tr>
                                <td class="csc-preferredWork-termLanguage-label"></td>
                                <td class="csc-preferredWork-termPrefForLang-label"></td>
                                <td class="csc-preferredWork-termSource-label"></td>
                                <td class="csc-preferredWork-termSourceDetail-label"></td>
                                <td class="csc-preferredWork-termSourceID-label"></td>
                                <td class="csc-preferredWork-termSourceNote-label"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><select class="csc-workAuthority-termLanguage input-select"><option value="">Options not loaded</option></select></td>
                                <td><input type="checkbox" class="csc-workAuthority-termPrefForLang"/></td>
                                <td><select class="csc-workAuthority-termSource input-select"><option value="">Options not loaded</option></select></td>
                                <td><input type="text" class="csc-workAuthority-termSourceDetail"/></td>
                                <td><input type="text" class="csc-workAuthority-termSourceID"/></td>
                                <td><input type="text" class="csc-workAuthority-termSourceNote"/></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>