<div class="info-pair">
	<div class="header">
		<div class="label concept-preferredCA-label"></div> 
	</div>
	<div class="content csc-preferredCA-conceptTermGroup">
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td><span class="csc-preferredCA-termDisplayName-label label required"></span><span class="required">*</span></td>
								<td class="csc-preferredCA-termQualifier-label"></td>
								<td class="csc-preferredCA-termType-label"></td>
								<td class="csc-preferredCA-termStatus-label label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-conceptAuthority-termDisplayName"/></td>
								<td><input type="text" class="csc-conceptAuthority-termQualifier"/></td>
								<td><select class="csc-conceptAuthority-termType input-select"><option value="">Options not loaded</option></select></td>
								<td><select class="csc-conceptAuthority-termStatus input-select"><option value="">Options not loaded</option></select></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-preferredCA-termName-label"></td>
								<td class="csc-preferredCA-termLanguage-label"></td>
                                                                <td class="csc-preferredCA-termPrefForLang-label"></td>
                                                                <td class="csc-preferredCA-historicalStatus-label"></td>
								<td class="csc-preferredCA-termSource-label"></td>
								<td class="csc-preferredCA-termSourceDetail-label"></td>
								<td class="csc-preferredCA-termSourceID-label"></td>
								<td class="csc-preferredCA-termSourceNote-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-conceptAuthority-termName"/></td>
								<td><select class="csc-conceptAuthority-termLanguage input-select"><option value="">Options not loaded</option></select></td>
                                                                <td><input type="checkbox" class="csc-conceptAuthority-termPrefForLang"/></td>
								<td><select class="csc-conceptAuthority-historicalStatus input-select"><option value="">Options not loaded</option></select></td>
								<td><input type="text" class="csc-conceptAuthority-termSource"/></td>
								<td><input type="text" class="csc-conceptAuthority-termSourceDetail"/></td>
								<td><input type="text" class="csc-conceptAuthority-termSourceID"/></td>
								<td><input type="text" class="csc-conceptAuthority-termSourceNote"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>