<div class="info-pair">
	<div class="header">
		<div>&nbsp;</div>
	</div>
	<div class="content csc-preferred-personGroup">
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-preferred-personDisplayName-label"></td>
								<td class="csc-preferred-personQualifier-label"></td>
								<td class="csc-preferred-personTermType-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-preferred-personDisplayName"/></td>
								<td><input type="text" class="csc-preferred-personQualifier"/></td>
								<td><input type="text" class="csc-preferred-personTermType"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-preferred-personTerm-label"></td>
								<td class="csc-preferred-personTermLanguage-label"></td>
								<td class="csc-preferred-personTermPreferredForLanguage-label"></td>
								<td class="csc-preferred-personTermSource-label"></td>
								<td class="csc-preferred-personTermSourceDetail-label"></td>
								<td class="csc-preferred-personTermSourceID-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-preferred-personTerm"/></td>
								<td><input type="text" class="csc-preferred-personTermLanguage"/></td>
								<td><input type="text" class="csc-preferred-personTermPreferredForLanguage"/></td>
								<td><input type="text" class="csc-preferred-personTermSource"/></td>
								<td><input type="text" class="csc-preferred-personTermSourceDetail"/></td>
								<td><input type="text" class="csc-preferred-personTermSourceID"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-preferred-personSalutation-label"></td>
								<td class="csc-preferred-personTitle-label"></td>
								<td class="csc-preferred-personForename-label"></td>
								<td class="csc-preferred-personMiddleName-label"></td>
								<td class="csc-preferred-personSurname-label"></td>
								<td class="csc-preferred-personAddition-label"></td>
								<td class="csc-preferred-personInitials-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-preferred-personSalutation"/></td>
								<td><input type="text" class="csc-preferred-personTitle"/></td>
								<td><input type="text" class="csc-preferred-personForename"/></td>
								<td><input type="text" class="csc-preferred-personMiddleName"/></td>
								<td><input type="text" class="csc-preferred-personSurname"/></td>
								<td><input type="text" class="csc-preferred-personAddition"/></td>
								<td><input type="text" class="csc-preferred-personInitials"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>