<div class="info-pair">
	<div class="header">
		<div class="label">Term Group(s)</div> <!--Temporary fix to insert a header for repeatable group -->
	</div>
	<div class="content csc-preferredPA-personTermGroup">
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td><span class="csc-preferredPA-termDisplayName-label label required"></span><span class="required">*</span></td>
								<td class="csc-preferredPA-termName-label"></td>
                                <td class="csc-preferredPA-termQualifier-label"></td>
								<td class="csc-preferredPA-termType-label"></td>
								<td class="csc-preferredPA-termStatus-label label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-personAuthority-termDisplayName"/></td>
								<td><input type="text" class="csc-personAuthority-termName"/></td>
								<td><input type="text" class="csc-personAuthority-termQualifier"/></td>
								<td><select class="csc-personAuthority-termType input-select"><option value="">Options not loaded</option></select></td>
								<td><select class="csc-personAuthority-termStatus input-select"><option value="">Options not loaded</option></select></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-preferredPA-termLanguage-label"></td>
								<td class="csc-preferredPA-termPrefForLang-label"></td>
								<td class="csc-preferredPA-termSource-label"></td>
								<td class="csc-preferredPA-termSourceDetail-label"></td>
								<td class="csc-preferredPA-termSourceID-label"></td>
								<td class="csc-preferredPA-termSourceNote-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><select class="csc-personAuthority-termLanguage input-select"><option value="">Options not loaded</option></select></td>
								<td><input type="checkbox" class="csc-personAuthority-termPrefForLang"/></td>
								<td><input type="text" class="csc-personAuthority-termSource"/></td>
								<td><input type="text" class="csc-personAuthority-termSourceDetail"/></td>
								<td><input type="text" class="csc-personAuthority-termSourceID"/></td>
								<td><input type="text" class="csc-personAuthority-termSourceNote"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-preferredPA-salutation-label"></td>
								<td class="csc-preferredPA-title-label"></td>
								<td class="csc-preferredPA-foreName-label"></td>
								<td class="csc-preferredPA-middleName-label"></td>
								<td class="csc-preferredPA-surName-label"></td>
								<td class="csc-preferredPA-nameAdditions-label"></td>
								<td class="csc-preferredPA-initials-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><select class="csc-personAuthority-salutation input-select"><option value="">Options not loaded</option></select></td>
				                <td><select class="csc-personAuthority-title input-select"><option value="">Options not loaded</option></select></td>
								<td><input type="text" class="csc-personAuthority-foreName"/></td>
								<td><input type="text" class="csc-personAuthority-middleName"/></td>
								<td><input type="text" class="csc-personAuthority-surName"/></td>
								<td><input type="text" class="csc-personAuthority-nameAdditions"/></td>
								<td><input type="text" class="csc-personAuthority-initials"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>