<div class="info-pair">
	<div class="header">
		<div>&nbsp;</div>
	</div>
	<div class="content csc-preferredPlace-placeTermGroup">
	    <div class="label csc-preferred-label"></div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td><span class="csc-preferredPlace-termDisplayName-label label required"></span><span class="required">*</span></td>
								<td class="csc-preferredPlace-termName-label"></td>
                                                                <td class="csc-preferredPlace-termQualifier-label"></td>
								<td class="csc-preferredPlace-termType-label"></td>
								<td class="csc-preferredPlace-termStatus-label label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-placeAuthority-termDisplayName"/></td>
								<td><input type="text" class="csc-placeAuthority-termName"/></td>
                                                                <td><input type="text" class="csc-placeAuthority-termQualifier"/></td>
								<td><select class="csc-placeAuthority-termType input-select"><option value="">Options not loaded</option></select></td>
								<td><select class="csc-placeAuthority-termStatus input-select"><option value="">Options not loaded</option></select></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-preferredPlace-termLanguage-label"></td>
								<td class="csc-preferredPlace-termPrefForLang-label"></td>
								<td class="csc-preferredPlace-termSource-label"></td>
								<td class="csc-preferredPlace-termSourceDetail-label"></td>
								<td class="csc-preferredPlace-termSourceID-label"></td>
								<td class="csc-preferredPlace-termSourceNote-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><select class="csc-placeAuthority-termLanguage input-select"><option value="">Options not loaded</option></select></td>
								<td><input type="checkbox" class="csc-placeAuthority-termPrefForLang"/></td>
								<td><input type="text" class="csc-placeAuthority-termSource"/></td>
								<td><input type="text" class="csc-placeAuthority-termSourceDetail"/></td>
								<td><input type="text" class="csc-placeAuthority-termSourceID"/></td>
								<td><input type="text" class="csc-placeAuthority-termSourceNote"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-preferredPlace-nameAbbrev-label"></td>
								<td class="csc-preferredPlace-historicalStatus-label"></td>
								<td class="csc-preferredPlace-nameNote-label"></td>
								<td class="csc-placeTermGroup-nameDateGroup-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-placeAuthority-nameAbbrev"/></td>
								<td><select class="csc-placeAuthority-historicalStatus input-select"><option value="">Options not loaded</option></select></td>
								<td><input type="text" class="csc-placeAuthority-nameNote"/></td>
								<td class="flc-inlineEdit-text nameDate">
                                    <input type="text" class="csc-placeAuthority-nameDateGroup editableText" />
                                </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>