<div class="info-pair">
	<div class="header">
		<div>&nbsp;</div>
	</div>
	<div class="content csc-orgTermGroup">
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td><span class="csc-organization-termDisplayName-label label required"></span><span class="required">*</span></td>
								<td class="csc-organization-termQualifier-label"></td>
								<td class="csc-organization-termType-label"></td>
								<td class="csc-organization-termStatus-label label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-organizationAuthority-termDisplayName"/></td>
								<td><input type="text" class="csc-organizationAuthority-termQualifier"/></td>
								<td><select class="csc-organizationAuthority-termType input-select"><option value="">Options not loaded</option></select></td>
								<td><select class="csc-organizationAuthority-termStatus input-select"><option value="">Options not loaded</option></select></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-organization-termName-label"></td>
								<td class="csc-organization-termLanguage-label"></td>
								<td class="csc-organization-termPrefForLang-label"></td>
								<td class="csc-organization-termSource-label"></td>
								<td class="csc-organization-termSourceDetail-label"></td>
								<td class="csc-organization-termSourceID-label"></td>
								<td class="csc-organization-termSourceNote-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-organizationAuthority-termName"/></td>
								<td><select class="csc-organizationAuthority-termLanguage input-select"><option value="">Options not loaded</option></select></td>
								<td><input type="checkbox" class="csc-organizationAuthority-termPrefForLang"/></td>
								<td><input type="text" class="csc-organizationAuthority-termSource"/></td>
								<td><input type="text" class="csc-organizationAuthority-termSourceDetail"/></td>
								<td><input type="text" class="csc-organizationAuthority-termSourceID"/></td>
								<td><input type="text" class="csc-organizationAuthority-termSourceNote"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-organization-mainBodyName-label"></td>
								<td class="csc-organization-nameAdditions-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-organizationAuthority-mainBodyName" /></td>
								<td><input type="text" class="csc-organizationAuthority-nameAdditions" /></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>