<div class="info-pair">
	<div class="header">
		<div>&nbsp;</div>
	</div>
	<div class="content csc-preferred-organizationGroup">
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td><span class="csc-organization-displayName-label label required"></span><span class="required">*</span></td>
								<td class="csc-organization-qualifier-label"></td>
								<td class="csc-organization-termType-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-organizationAuthority-displayName"/></td>
								<td><input type="text" class="csc-organizationAuthority-qualifier"/></td>
								<td><select class="csc-organizationAuthority-termType input-select"><option value="">Options not loaded</option></select></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-organization-term-label"></td>
								<td class="csc-organization-termLanguage-label"></td>
								<td class="csc-organization-termPreferredForLanguage-label"></td>
								<td class="csc-organization-termSource-label"></td>
								<td class="csc-organization-termSourceDetail-label"></td>
								<td class="csc-organization-termSourceID-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-organizationAuthority-term"/></td>
								<td><select class="csc-organizationAuthority-termLanguage input-select"><option value="">Options not loaded</option></select></td>
								<td><select class="csc-organizationAuthority-termPreferredForLanguage input-select"><option value="">Options not loaded</option></select></td>
								<td><input type="text" class="csc-organizationAuthority-termSource"/></td>
								<td><input type="text" class="csc-organizationAuthority-termSourceDetail"/></td>
								<td><input type="text" class="csc-organizationAuthority-termSourceID"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-organization-longName-label"></td>
								<td class="csc-organization-shortName-label"></td>
								<td class="csc-organization-nameAdditions-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-organizationAuthority-longName" /></td>
								<td><input type="text" class="csc-organizationAuthority-shortName" /></td>
								<td><input type="text" class="csc-organizationAuthority-nameAdditions" /></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>