<div class="info-pair">
	<div class="header">
		<div>&nbsp;</div>
	</div>
	<div class="content csc-preferred-locationGroup">
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-location-name-label"></td>
								<td class="csc-location-qualifier-label"></td>
								<td class="csc-location-termType-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-locationAuthority-name"/></td>
								<td><input type="text" class="csc-locationAuthority-qualifier"/></td>
								<td><select class="csc-locationAuthority-termType input-select"><option value="">Options not loaded</option></select></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-location-term-label"></td>
								<td class="csc-location-termLanguage-label"></td>
								<td class="csc-location-termPreferredForLanguage-label"></td>
								<td class="csc-location-termSource-label"></td>
								<td class="csc-location-termSourceDetail-label"></td>
								<td class="csc-location-termSourceID-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-locationAuthority-term"/></td>
								<td><select class="csc-locationAuthority-termLanguage input-select"><option value="">Options not loaded</option></select></td>
								<td><select class="csc-locationAuthority-termPreferredForLanguage input-select"><option value="">Options not loaded</option></select></td>
								<td><input type="text" class="csc-locationAuthority-termSource"/></td>
								<td><input type="text" class="csc-locationAuthority-termSourceDetail"/></td>
								<td><input type="text" class="csc-locationAuthority-termSourceID"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>