<div class="info-pair">
	<div class="header">
		<div>&nbsp;</div>
	</div>
	<div class="content csc-preferredSLA-locTermGroup">
	    <div class="label csc-preferred-label"></div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-preferredSLA-termDisplayName-label"></td>
                                                                <td class="csc-preferredSLA-termName-label"></td>
								<td class="csc-preferredSLA-termQualifier-label"></td>
								<td class="csc-preferredSLA-termType-label"></td>
								<td class="csc-preferredSLA-termStatus-label label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><input type="text" class="csc-locationAuthority-termDisplayName"/></td>
                                                                <td><input type="text" class="csc-locationAuthority-termName"/></td>
								<td><input type="text" class="csc-locationAuthority-termQualifier"/></td>
								<td><select class="csc-locationAuthority-termType input-select"><option value="">Options not loaded</option></select></td>
								<td><select class="csc-locationAuthority-termStatus input-select"><option value="">Options not loaded</option></select></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
								<td class="csc-preferredSLA-termLanguage-label"></td>
								<td class="csc-preferredSLA-termPrefForLang-label"></td>
								<td class="csc-preferredSLA-termSource-label"></td>
								<td class="csc-preferredSLA-termSourceDetail-label"></td>
								<td class="csc-preferredSLA-termSourceID-label"></td>
								<td class="csc-preferredSLA-termSourceNote-label"></td>
							</tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td><select class="csc-locationAuthority-termLanguage input-select"><option value="">Options not loaded</option></select></td>
								<td><input type="checkbox" class="csc-locationAuthority-termPrefForLang"/></td>
								<td><input type="text" class="csc-locationAuthority-termSource"/></td>
								<td><input type="text" class="csc-locationAuthority-termSourceDetail"/></td>
								<td><input type="text" class="csc-locationAuthority-termSourceID"/></td>
								<td><input type="text" class="csc-locationAuthority-termSourceNote"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>