<div class="info-pair">
	<div class="header">
		<div>&nbsp;</div>
	</div>
	
<!-- 	This big comment here only because of legacy. Since someone commented instead of keeping the code in a GIT now we have to carry this useless comment in a code -->
	
	
<!--
    <div class="info-pair">
        <div class="header">
            <span class="label csc-place-placeNameGroup-label"></span>
        </div>
        <div class="content">
            <div class="fl-container-flex fl-fix information-group infoDiv" style="margin-top:0px">
                <div class="csc-place-placeNameGroup">
                    <div class="info-column fieldgroup">
                        <table style="margin-bottom:12px;">
                            <thead>
                                <tr>
                                    <td class="csc-place-placeName-label"></td>
                                    <td class="csc-place-nameQualifiedName-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="flc-inlineEdit-text placeName">
                                        <input type="text" class="csc-place-placeName editableText" />
                                    </td>
                                    <td class="flc-inlineEdit-text qualifiedName">
                                        <input type="text" class="csc-place-nameQualifiedName editableText" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
				
                        <table style="width: 90%; float: right; margin-bottom: 12px;">
                            <thead>
                                <tr>
                                    <td class="csc-place-nameLanguage-label"></td>
                                    <td class="csc-place-nameAbbrev-label"></td>
                                    <td class="csc-place-nameType-label"></td>
                                    <td class="csc-place-nameStatus-label"></td>
                                    <td class="csc-place-nameNote-label"></td>
                                    <td class="csc-placeNameGroup-nameDateGroup-label"></td>
                                    <td class="csc-place-nameAdminStatus-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="flc-inlineEdit-text nameLanguage">
                                        <select class="csc-place-nameLanguage input-select-shorter">
                                            <option value="">Options not loaded</option>
                                        </select>
                                    </td>
                                    <td class="flc-inlineEdit-text nameAbbrev">
                                        <input type="text" class="csc-place-nameAbbrev editableText" />
                                    </td>
                                    <td class="flc-inlineEdit-text nameType">
                                        <select class="csc-place-nameType input-select-shorter">
                                            <option value="">Options not loaded</option>
                                        </select>
                                    </td>
                                    <td class="flc-inlineEdit-text nameStatus">
                                        <select class="csc-place-nameStatus input-select-shorter">
                                            <option value="">Options not loaded</option>
                                        </select>
                                    </td>
                                    <td class="flc-inlineEdit-text nameNote">
                                        <input type="text" class="csc-place-nameNote editableText" />
                                    </td>
                                    <td class="flc-inlineEdit-text nameDate">
                                        <input type="text" class="csc-placeNameGroup-nameDateGroup editableText" />
                                    </td>
                                    <td class="flc-inlineEdit-text nameAdminStatus">
                                        <select class="csc-place-nameAdminStatus input-select-shorter">
                                            <option value="">Options not loaded</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table style="width: 90%; float: right">
                            <thead>
                                <tr>
                                    <td class="csc-place-nameSource-label"></td>
                                    <td class="csc-place-nameSourceDetail-label"></td>
                                    <td class="csc-place-nameSourceRefId-label"></td> 
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="flc-inlineEdit-text nameSource">
                                        <input type="text" class="csc-place-nameSource editableText" />
                                    </td>
                                    <td class="flc-inlineEdit-text nameSourceDetail">
                                        <input type="text" class="csc-place-nameSourceDetail editableText" />
                                    </td>
                                    <td class="flc-inlineEdit-text nameSourceRefId">
                                        <input type="text" class="csc-place-nameSourceRefId editableText" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        -->

                        <!-- this table goes in place of the previous two tables if it is desirable to only have two tables (vertically) instead of 3>-->
                        <!--<table style="width: 90%; float: right; margin-bottom: 12px;">
                            <thead>
                                <tr>
                                    <td class="csc-place-nameLanguage-label"></td>
                                    <td class="csc-place-nameAbbrev-label"></td>
                                    <td class="csc-place-nameType-label"></td>
                                    <td class="csc-place-nameStatus-label"></td>
                                    <td class="csc-place-nameSource-label"></td>
                                    <td class="csc-place-nameSourceDetail-label"></td>
                                    <td class="csc-place-nameSourceRefId-label"></td>
                                    <td class="csc-place-nameNote-label"></td>
                                    <td class="csc-place-nameDate-label"></td>
                                    <td class="csc-place-nameAdminStatus-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="flc-inlineEdit-text nameLanguage">
                                        <select class="csc-place-nameLanguage input-select-shorter">
                                            <option value="">Options not loaded</option>
                                        </select>
                                    </td>
                                    <td class="flc-inlineEdit-text nameAbbrev">
                                        <input type="text" class="csc-place-nameAbbrev editableText" />
                                    </td>
                                    <td class="flc-inlineEdit-text nameType">
                                        <select class="csc-place-nameType input-select-shorter">
                                            <option value="">Options not loaded</option>
                                        </select>
                                    </td>
                                    <td class="flc-inlineEdit-text nameStatus">
                                        <select class="csc-place-nameStatus input-select-shorter">
                                            <option value="">Options not loaded</option>
                                        </select>
                                    </td>
                                    <td class="flc-inlineEdit-text nameSource">
                                        <input type="text" class="csc-place-nameSource editableText" />
                                    </td>
                                    <td class="flc-inlineEdit-text nameSourceDetail">
                                        <input type="text" class="csc-place-nameSourceDetail editableText" />
                                    </td>
                                    <td class="flc-inlineEdit-text nameSourceRefId">
                                        <input type="text" class="csc-place-nameSourceRefId editableText" />
                                    </td>
                                    <td class="flc-inlineEdit-text nameNote">
                                        <input type="text" class="csc-place-nameNote editableText" />
                                    </td>
                                    <td class="flc-inlineEdit-text nameDate">
                                        <input type="text" class="csc-place-nameDate editableText" />
                                    </td>
                                    <td class="flc-inlineEdit-text nameAdminStatus">
                                        <select class="csc-place-nameAdminStatus input-select-shorter">
                                            <option value="">Options not loaded</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div> 
                </div>
            </div>
        </div>
    </div>
    -->
	
	<div class="content csc-preferred-placeGroup">
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table>
						<thead>
							<tr>
                                <td class="csc-place-placeName-label"></td>
                                <td class="csc-place-nameQualifiedName-label"></td>
                            </tr>
						</thead>                                                        
						<tbody>
							<tr>
								<td class="flc-inlineEdit-text placeName">
                                    <input type="text" class="csc-place-placeName editableText" />
                                </td>
                                <td class="flc-inlineEdit-text qualifiedName">
                                    <input type="text" class="csc-place-nameQualifiedName editableText" />
                                </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table style="width: 90%; float: right; margin-bottom: 12px;">
						<thead>
                            <tr>
                                <td class="csc-place-nameLanguage-label"></td>
                                <td class="csc-place-nameAbbrev-label"></td>
                                <td class="csc-place-nameType-label"></td>
                                <td class="csc-place-nameStatus-label"></td>
                                <td class="csc-place-nameNote-label"></td>
                                <td class="csc-placeNameGroup-nameDateGroup-label"></td>
                                <td class="csc-place-nameAdminStatus-label"></td>
                            </tr>
                        </thead>                                                        
						<tbody>
                            <tr>
                                <td class="flc-inlineEdit-text nameLanguage">
                                    <select class="csc-place-nameLanguage input-select-shorter">
                                        <option value="">Options not loaded</option>
                                    </select>
                                </td>
                                <td class="flc-inlineEdit-text nameAbbrev">
                                    <input type="text" class="csc-place-nameAbbrev editableText" />
                                </td>
                                <td class="flc-inlineEdit-text nameType">
                                    <select class="csc-place-nameType input-select-shorter">
                                        <option value="">Options not loaded</option>
                                    </select>
                                </td>
                                <td class="flc-inlineEdit-text nameStatus">
                                    <select class="csc-place-nameStatus input-select-shorter">
                                        <option value="">Options not loaded</option>
                                    </select>
                                </td>
                                <td class="flc-inlineEdit-text nameNote">
                                    <input type="text" class="csc-place-nameNote editableText" />
                                </td>
                                <td class="flc-inlineEdit-text nameDate">
                                    <input type="text" class="csc-placeNameGroup-nameDateGroup editableText" />
                                </td>
                                <td class="flc-inlineEdit-text nameAdminStatus">
                                    <select class="csc-place-nameAdminStatus input-select-shorter">
                                        <option value="">Options not loaded</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="info-column">
			<div class="info-pair">
				<div class="content">
					<table style="width: 90%; float: right; margin-bottom: 12px;">
						<thead>
                            <tr>
                                <td class="csc-place-nameSource-label"></td>
                                <td class="csc-place-nameSourceDetail-label"></td>
                                <td class="csc-place-nameSourceRefId-label"></td> 
                            </tr>
                        </thead>                                                        
						<tbody>
                            <tr>
                                <td class="flc-inlineEdit-text nameSource">
                                    <input type="text" class="csc-place-nameSource editableText" />
                                </td>
                                <td class="flc-inlineEdit-text nameSourceDetail">
                                    <input type="text" class="csc-place-nameSourceDetail editableText" />
                                </td>
                                <td class="flc-inlineEdit-text nameSourceRefId">
                                    <input type="text" class="csc-place-nameSourceRefId editableText" />
                                </td>
                            </tr>
                        </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>