<input class="csc-createNew-recordRadio" type="radio" name="recordtype" />
<label for="csc-createNew-recordRadio" class="csc-createNew-recordLabel"></label>
<select class="csc-createNew-vocabs"><option></option></select>
<div class="csc-createNew-templates">
    <div class="csc-createNew-createFrom">
	    <input type="radio" class="csc-createNew-createFrom-input" />
	    <label class="csc-createNew-createFrom-label" />
	</div>
	<select class="csc-createNew-templateSelection"><option></option></select>
</div>