<label><input class="csc-createNew-recordRadio" type="radio" name="recordtype" /> <span class="csc-createNew-recordLabel" /></label>
<select class="csc-createNew-vocabs"><option></option></select>
<div class="csc-createNew-templates">
    <div class="csc-createNew-createFrom">
        <label>
            <input type="radio" class="csc-createNew-createFrom-input" />
            <span class="csc-createNew-createFrom-label" />
        </label>
    </div>
    <select class="csc-createNew-templateSelection"><option></option></select>
</div>