<div class="pivot-box csc-relatedRecord-template">
    <div class="pivot-box">
        <div class="csc-relatedRecordsList-relationManager">
	        <div class="hidden csc-search-related-dialog"></div>
	        <div class="csc-related-header cs-sidebar-header fl-container-flex header toggle">
	            <span class="csc-related-mainheader"></span>
	            <input class="fl-force-right csc-add-related-record-button add" type="button" />
	        </div>
	    </div>
        <div class="csc-related-togglable">
            <div class="content csc-listViewSelector"></div>
            <div class="csc-sidebar-bannerContainer">
                <div class="csc-sidebar-banner">
                    <div class="csc-sidebar-banner-message"></div>
                </div>
            </div>
        </div>
    </div>
</div>