<div class="pivot-box csc-relatedRecord-template">
    <div class="pivot-box">
        <div class="csc-relatedRecordsList-relationManager">
	        <div class="hidden csc-search-related-dialog"></div>
	        <div class="csc-related-header cs-sidebar-header fl-container-flex header toggle">
	            <span class="csc-related-mainheader"></span>
	            <span class="csc-num-items"></span>
	            <input class="fl-force-right csc-add-related-record-button add" type="button" />
	        </div>
	    </div>
        <div class="csc-related-togglable content csc-relatedRecordsList-recordList"></div>
    </div>
</div>