<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">

                <div class="info-pair">
                    <div class="header">
                        <span class="label csc-conditioncheck-conditionCheckRefNumber-label"></span>
                    </div>
                    <div class="content">
                        <input type="text" class="csc-conditioncheck-numberPatternChooser-reference-number" />
                    </div>
                </div>

                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-conditioncheck-objectAuditCategory-label"></div>
                    </div>
                    <div class="content">
                        <select class="csc-conditioncheck-objectAuditCategory input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>

                <!-- See http://issues.collectionspace.org/browse/CSPACE-4903 -->
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-conditioncheck-condition-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <tbody>
                                <tr class="csc-conditioncheck-conditionCheckGroup">
                                    <td><select class="csc-conditioncheck-condition input-select"><option value="">Options not loaded</option></select></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-conditioncheck-conservationTreatmentPriority-label"></div>
                    </div>
                    <div class="content">
                        <td><select class="csc-conditioncheck-conservationTreatmentPriority input-select"><option value="">Options not loaded</option></select></td>
                    </div>
                </div>
               
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-conditioncheck-nextConditionCheckDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-conditioncheck-nextConditionCheckDateStart-label"></td>
                                    <td class="csc-conditioncheck-nextConditionCheckDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-conditioncheck-nextConditionCheckDateStart" /></td>
                                    <td><input type="text" class="csc-conditioncheck-nextConditionCheckDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-conditioncheck-conditionCheckAssessmentDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-conditioncheck-conditionCheckAssessmentDateStart-label"></td>
                                    <td class="csc-conditioncheck-conditionCheckAssessmentDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-conditioncheck-conditionCheckAssessmentDateStart" /></td>
                                    <td><input type="text" class="csc-conditioncheck-conditionCheckAssessmentDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
               
                <div class="info-pair" style="display:none;">
                    <div class="header">
                        <div class="label csc-conditioncheck-updatedBy-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-conditioncheck-updatedBy"/>
                    </div>
                </div>

                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-conditioncheck-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-conditioncheck-updatedAtStart-label"></td>
                                    <td class="csc-conditioncheck-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-conditioncheck-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-conditioncheck-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>