<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-work-displayName-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-work-displayName"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-work-termStatus-label"></div>
                    </div>
                    <div class="content clearfix">
						<select class="csc-work-termStatus input-select"><option value="">Options not loaded</option></select>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-work-source-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-work-source input-select"><option value="">Options not loaded</option></select>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-work-genre-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-work-genre input-select"><option value="">Options not loaded</option></select>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-work-medium-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-work-medium input-select"><option value="">Options not loaded</option></select>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-work-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-work-updatedAtStart-label"></td>
                                    <td class="csc-work-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-work-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-work-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                                                     
            </div>
        </div>
    </div>
</div>    