<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                        
                <div class="info-column cs-multipleEdit" id="multipleEdit">
                    <div class="info-pair">
                        <div class="header">
                            <div class="label csc-preferredCI-citationTermGroup-label"></div>
                        </div>
                        <div class="content csc-preferredCI-citationTermGroup cs-repeatable-stretched">
                            <div class="info-column">
                                <div class="info-column2-50 fl-force-left">
                                    <div class="info-pair">
                                        <div class="header">
                                            <div class="label csc-citation-termDisplayName-label"></div>
                                        </div>
                                        <div class="content clearfix">
                                            <input type="text" class="csc-citationAuthority-termDisplayName"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-column2-50 fl-force-right">
                                    <div class="info-pair">
                                        <div class="header">
                                            <div class="label csc-citation-termFullCitation-label"></div>
                                        </div>
                                        <div class="content clearfix">
                                            <input type="text" class="csc-citationAuthority-termFullCitation"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-column">
                                <div class="info-column2-50 fl-force-left">
                                    <div class="info-pair">
                                        <div class="header">
                                            <div class="label csc-citation-termLanguage-label"></div>
                                        </div>
                                        <div class="content clearfix">
                                            <select class="csc-citationAuthority-termLanguage input-select">
                                                <option value="">Options not loaded</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-column2-50 fl-force-right">
                                    <div class="info-pair">
                                        <div class="header">
                                            <div class="label csc-citation-termStatus-label"></div>
                                        </div>
                                        <div class="content clearfix">
                                            <select class="csc-citationAuthority-termStatus input-select">
                                                <option value="">Options not loaded</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-column">
                                 <div class="info-column2-50 fl-force-left">
                                    <div class="info-pair">
                                        <div class="header">
                                            <div class="label csc-citation-termType-label"></div>
                                        </div>
                                        <div class="content clearfix">
                                            <select class="csc-citationAuthority-termType input-select">
                                                <option value="">Options not loaded</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-column2-50 fl-force-right">
                                    <div class="info-pair">
                                        <div class="header">
                                            <div class="label csc-citation-termTitle-label"></div>
                                        </div>
                                        <div class="content clearfix">
                                            <input type="text" class="csc-citationAuthority-termTitle"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-citation-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-citation-updatedAtStart-label"></td>
                                    <td class="csc-citation-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-citation-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-citation-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>    
