<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-organization-displayName-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-organizationAuthority-displayName"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-organization-foundingDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-organization-foundingDateStart-label"></td>
                                    <td class="csc-organization-foundingDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-organization-foundingDateStart" /></td>
                                    <td><input type="text" class="csc-organization-foundingDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-organization-dissolutionDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-organization-dissolutionDateStart-label"></td>
                                    <td class="csc-organization-dissolutionDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-organization-dissolutionDateStart" /></td>
                                    <td><input type="text" class="csc-organization-dissolutionDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-organization-foundingPlace-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-organizationAuthority-foundingPlace"/>
                    </div>
                </div>
                <div class="info-pair" style="display:none">
                    <div class="header">
                        <div class="label csc-organization-group-label"> </div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-organizationAuthority-group" />
                    </div>
                </div>
                <div class="info-pair-select" style="display:none">
                    <div class="header">
                        <div class="label csc-organization-function-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-organizationAuthority-function" />
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-organization-termStatus-label"> </div>
                    </div>
                    <div class="content">
                        <select class="csc-organizationAuthority-status input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair" style="display:none;">
                    <div class="header">
                        <div class="label csc-organization-editUsername-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-organization-editUsername"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-organization-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-organization-updatedAtStart-label"></td>
                                    <td class="csc-organization-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-organization-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-organization-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
