<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">

                <div class="info-column cs-multipleEdit" id="multipleEdit">
                    <div class="info-pair">
                        <div class="header">
                            <div class="label csc-preferredPlace-placeTermGroup-label"></div>
                        </div>
                        <div class="content csc-preferredPlace-placeTermGroup cs-repeatable-stretched">
                            <div class="info-column">
                                <div class="info-column2-50 fl-force-left">
                                    <div class="info-pair">
                                        <div class="header">
                                            <div class="label csc-place-termDisplayName-label"></div>
                                        </div>
                                        <div class="content clearfix">
                                            <input type="text" class="csc-placeAuthority-termDisplayName"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-column2-50 fl-force-right">
                                    <div class="info-pair">
                                        <div class="header">
                                            <div class="label csc-place-termName-label"></div>
                                        </div>
                                        <div class="content clearfix">
                                            <input type="text" class="csc-placeAuthority-termName"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-column">
                                <div class="info-column2-50 fl-force-left">
                                    <div class="info-pair">
                                        <div class="header">
                                            <div class="label csc-place-termLanguage-label"></div>
                                        </div>
                                        <div class="content clearfix">
                                            <select class="csc-placeAuthority-termLanguage input-select">
                                                <option value="">Options not loaded</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-column2-50 fl-force-right">
                                    <div class="info-pair">
                                        <div class="header">
                                            <div class="label csc-place-termStatus-label"></div>
                                        </div>
                                        <div class="content clearfix">
                                            <select class="csc-placeAuthority-termStatus input-select">
                                                <option value="">Options not loaded</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-place-placeType-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-place-placeType input-select">
                            <option value="">Options not loaded</option>
                        </select>
                    </div>
                </div>

                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-place-placeNote-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-place-placeNote"/>
                    </div>        
                </div>

                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-place-owner-label"></div>
                    </div>
                    <div class="content clearfix csc-place-placeOwnerGroup">
                        <input type="text" class="csc-place-owner"/>
                    </div>        
                </div>

                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-place-updatedBy-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-place-updatedBy"/>
                    </div>
                </div>

                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-place-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-place-updatedAtStart-label"></td>
                                    <td class="csc-place-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-place-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-place-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>    
