<div class="fl-container-flex fl-fix information-group info-column">
	<div class="fl-container-flex fl-fix content main">
		<div class="info-column">
			<div class="info-column2-50 fl-force-left">
				<div class="info-pair">
					<div class="header">
						<div class="label csc-claim-claimNumber-label"></div>
					</div>
					<div class="content clearfix">
						<input type="text" class="csc-claim-claimNumber">
					</div>
				</div>
				<div class="info-pair"> 
					<div class="header">
						<div class="label csc-claim-claimName-label"></div>
					</div>
					<div class="content clearfix">
						<input type="text" class="input-alpha csc-claim-claimName" />
					</div>
				</div>
				<div class="info-pair-select">
					<div class="header">
						<div class="label csc-claim-claimType-label"></div>
					</div>
					<div class="content clearfix">
						<select class="csc-claim-claimType input-select"><option value="">Options not loaded</option></select>
					</div>												
				</div>
			</div>
		</div>
	</div>
</div>
