<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">

                <div class="info-column cs-multipleEdit" id="multipleEdit">
                    <div class="info-pair">
                        <div class="header">
                            <div class="label csc-preferredCA-conceptTermGroup-label"></div>
                        </div>
                        <div class="content csc-preferredCA-conceptTermGroup cs-repeatable-stretched">
                            <div class="info-column">
                                <div class="info-column2-50 fl-force-left">
                                    <div class="info-pair">
                                        <div class="header">
                                            <div class="label csc-concept-termDisplayName-label"></div>
                                        </div>
                                        <div class="content clearfix">
                                            <input type="text" class="csc-conceptAuthority-termDisplayName"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-column2-50 fl-force-right">
                                    <div class="info-pair">
                                        <div class="header">
                                            <div class="label csc-concept-termName-label"></div>
                                        </div>
                                        <div class="content clearfix">
                                            <input type="text" class="csc-conceptAuthority-termName"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-column">
                                <div class="info-column2-50 fl-force-left">
                                    <div class="info-pair">
                                        <div class="header">
                                            <div class="label csc-concept-termLanguage-label"></div>
                                        </div>
                                        <div class="content clearfix">
                                            <select class="csc-conceptAuthority-termLanguage input-select">
                                                <option value="">Options not loaded</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-column2-50 fl-force-right">
                                    <div class="info-pair">
                                        <div class="header">
                                            <div class="label csc-concept-termStatus-label"></div>
                                        </div>
                                        <div class="content clearfix">
                                            <select class="csc-conceptAuthority-termStatus input-select">
                                                <option value="">Options not loaded</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-concept-updatedBy-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-concept-updatedBy"/>
                    </div>
                </div>

                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-concept-updatedAt-label"></div>
                    </div>
                    <div class="content clearfix">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-concept-updatedAtStart-label"></td>
                                    <td class="csc-concept-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-concept-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-concept-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>    
