<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-place-displayName-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-place-displayName"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-place-placeType-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-place-placeType input-select"><option value="">Options not loaded</option></select>
                    </div>        
                </div>
                <!-- Nested field breaking advanced search so incorrect selector given for now to disable. Fix after merge with 2.2-ish master -->
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-place-name-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-place-name"/>
                    </div>        
                </div>
                <!-- Nested field breaking advanced search so incorrect selector given for now to disable. Fix after merge with 2.2-ish master -->
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-place-owner-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-place-owner"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-place-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-place-updatedAtStart-label"></td>
                                    <td class="csc-place-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-place-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-place-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                                                     
            </div>
        </div>
    </div>
</div>    
