<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-column cs-multipleEdit" id="multipleEdit">
                    <div class="info-pair">
                        <div class="header">
                            <div class="label csc-preferredMaterial-materialTermGroup-label"></div>
                        </div>
                        <div class="content csc-preferredMaterial-materialTermGroup cs-repeatable-stretched">
                            <div class="info-column">
                                <div class="info-column2-50 fl-force-left">
                                    <div class="info-pair">
                                        <div class="header">
                                            <div class="label csc-material-termDisplayName-label"></div>
                                        </div>
                                        <div class="content clearfix">
                                            <input type="text" class="csc-materialAuthority-termDisplayName"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-column2-50 fl-force-right">
                                    <div class="info-pair">
                                        <div class="header">
                                            <div class="label csc-material-termName-label"></div>
                                        </div>
                                        <div class="content clearfix">
                                            <input type="text" class="csc-materialAuthority-termName"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-column">
                                <div class="info-column2-50 fl-force-left">
                                    <div class="info-pair">
                                        <div class="header">
                                            <div class="label csc-material-termStatus-label"></div>
                                        </div>
                                        <div class="content clearfix">
                                            <select class="csc-materialAuthority-termStatus input-select">
                                                <option value="">Options not loaded</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-column2-50 fl-force-right">
                                    <div class="info-pair">
                                        <div class="header">
                                            <div class="label csc-material-termFlag-label"></div>
                                        </div>
                                        <div class="content clearfix">
                                            <select class="csc-materialAuthority-termFlag input-select">
                                                <option value="">Options not loaded</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="info-pair">
                    <div class="header">
                        <div class="label csc-material-materialRecordType-label"></div>
                    </div>
                    <div class="content">
                        <select class="csc-material-materialRecordType input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div> -->
                
                <div class="info-column cs-multipleEdit" id="multipleEdit">
                    <div class="info-pair">
                        <div class="header">
                            <div class="label csc-material-materialCompositionGroup-label"></div>
                        </div>
                        <div class="content csc-material-materialCompositionGroup cs-repeatable-stretched">
                            <div class="info-column">
                                <div class="info-pair">
                                    <div class="header">
                                        <div class="label csc-material-materialCompositionFamilyName-label"></div>
                                    </div>
                                    <div class="content">
                                        <input type="text" class="csc-material-materialCompositionFamilyName"/>
                                    </div>
                                </div>
                                <div class="info-pair">
                                    <div class="header">
                                        <div class="label csc-material-materialCompositionClassName-label"></div>
                                    </div>
                                    <div class="content">
                                        <input type="text" class="csc-material-materialCompositionClassName"/>
                                    </div>
                                </div>
                                <div class="info-pair">
                                    <div class="header">
                                        <div class="label csc-material-materialCompositionGenericName-label"></div>
                                    </div>
                                    <div class="content">
                                        <input type="text" class="csc-material-materialCompositionGenericName"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-material-typicalUse-label"></div>
                    </div>
                    <div class="content">
                        <select class="csc-material-typicalUse input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>

                <div class="info-column cs-multipleEdit" id="multipleEdit">
                    <div class="info-pair">
                        <div class="header">
                            <div class="label csc-material-materialTermAttributionContributingGroup-label"></div>
                        </div>
                        <div class="content csc-material-materialTermAttributionContributingGroup cs-repeatable-stretched">
                            <div class="info-column">
                                <div class="info-pair">
                                    <div class="header">
                                        <div class="label csc-material-materialTermAttributionContributingOrganization-label"></div>
                                    </div>
                                    <div class="content">
                                        <input type="text" class="csc-material-materialTermAttributionContributingOrganization"/>
                                    </div>
                                </div>
                                <div class="info-pair">
                                    <div class="header">
                                        <div class="label csc-material-materialTermAttributionContributingPerson-label"></div>
                                    </div>
                                    <div class="content">
                                        <input type="text" class="csc-material-materialTermAttributionContributingPerson"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-material-updatedBy-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-material-updatedBy"/>
                    </div>
                </div>

                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-material-updatedAt-label"></div>
                    </div>
                    <div class="content clearfix">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-material-updatedAtStart-label"></td>
                                    <td class="csc-material-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-material-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-material-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>    
