<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-person-displayName-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-personAuthority-displayName"/>
                    </div>        
                </div>             
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-person-birthDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-person-birthDateStart-label"></td>
                                    <td class="csc-person-birthDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-person-birthDateStart" /></td>
                                    <td><input type="text" class="csc-person-birthDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-person-deathDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-person-deathDateStart-label"></td>
                                    <td class="csc-person-deathDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-person-deathDateStart" /></td>
                                    <td><input type="text" class="csc-person-deathDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair" style="display:none">
                    <div class="header">
                        <div class="label csc-person-group-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-personAuthority-group"/>
                    </div>        
                </div>
                <div class="info-pair" style="display:none">
                    <div class="header">
                        <div class="label csc-person-nationality-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-personAuthority-nationality"/>
                    </div>        
                </div>              
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-person-gender-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-personAuthority-gender input-select"><option value="">Options not loaded</option></select>
                    </div>        
                </div>              
                <div class="info-pair" style="display:none">
                    <div class="header">
                        <div class="label csc-person-occupation-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-personAuthority-occupation"/>
                    </div>        
                </div>                                                 
                <div class="info-pair" style="display:none">
                    <div class="header">
                        <div class="label csc-person-schoolOrStyle-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-personAuthority-schoolOrStyle"/>
                    </div>        
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-person-termStatus-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-personAuthority-status input-select"><option value="">Options not loaded</option></select>
                    </div>        
                </div>
                <div class="info-pair" style="display:none;">
                    <div class="header">
                        <div class="label csc-person-editUsername-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-person-editUsername"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-person-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-person-updatedAtStart-label"></td>
                                    <td class="csc-person-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-person-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-person-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                                                     
            </div>
        </div>
    </div>
</div>    
