<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanout-number-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-loanout-loanOutNumber"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanout-borrower-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-loanout-borrower"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanout-loanOutDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-loanout-loanOutDateStart-label"></td>
                                    <td class="csc-loanout-loanOutDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-loanout-loanOutDateStart" /></td>
                                    <td><input type="text" class="csc-loanout-loanOutDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>     
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanout-loanReturnDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-loanout-loanOutReturnDateStart-label"></td>
                                    <td class="csc-loanout-loanOutReturnDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-loanout-loanOutReturnDateStart" /></td>
                                    <td><input type="text" class="csc-loanout-loanOutReturnDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>        
                </div>                                                              
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanout-loanRenewalApplicationDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-loanout-loanOutRenewalDateStart-label"></td>
                                    <td class="csc-loanout-loanOutRenewalDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-loanout-loanOutRenewalDateStart" /></td>
                                    <td><input type="text" class="csc-loanout-loanOutRenewalDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-loanout-loanedObjectStatus-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-loanout-loanedObjectStatus input-select"><option value="">Options not loaded</option></select>
                    </div>        
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-loanout-loanPurpose-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-loanout-loanPurpose input-select"><option value="">Options not loaded</option></select>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanout-editUsername-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-loanout-editUsername"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanout-editDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-loanout-editDateStart-label"></td>
                                    <td class="csc-loanout-editDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-loanout-editDateStart" /></td>
                                    <td><input type="text" class="csc-loanout-editDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                                                                     
            </div>
        </div>
    </div>
</div>    