<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <span class="label csc-exhibition-exhibitionNumber-label"></span>
                    </div>
                    <div class="content">
                        <input type="text" class="csc-exhibition-exhibitionNumber" />
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-exhibition-title-label"></div>
                    </div>
                    <div class="content">
                        <input type="text" class="csc-exhibition-title" />
                    </div>
                 </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-exhibition-type-label"></div>
                    </div>
                    <div class="content">
                        <select class="csc-exhibition-type input-select"><option value="">Options not loaded</option></select>
                    </div>
                 </div>
                 <div class="info-column cs-multipleEdit" id="multipleEdit">
                     <div class="info-pair">
                         <div class="header">
                             <div class="label csc-exhibition-venueGroup-label"></div>
                         </div>
                         <div class="content csc-exhibition-venueGroup cs-repeatable-stretched">
                             <div class="info-column">
                                 <div class="info-pair">
                                     <div class="header">
                                         <div class="label csc-exhibition-venue-label"></div>
                                     </div>
                                     <div class="content clearfix">
                                         <input type="text" class="csc-exhibition-venue"/>
                                     </div>
                                 </div>
                                 <div class="info-pair">
                                     <div class="header">
                                         <div class="label csc-exhibition-venueOpeningDate-label"></div>
                                     </div>
                                     <div class="content">
                                         <table>
                                             <thead>
                                                 <tr>
                                                     <td class="csc-exhibition-venueOpeningDateStart-label"></td>
                                                     <td class="csc-exhibition-venueOpeningDateEnd-label"></td>
                                                 </tr>
                                             </thead>
                                             <tbody>
                                                 <tr>
                                                     <td><input type="text" class="csc-exhibition-venueOpeningDateStart" /></td>
                                                     <td><input type="text" class="csc-exhibition-venueOpeningDateEnd" /></td>
                                                 </tr>
                                             </tbody>
                                         </table>
                                     </div>
                                 </div>
                                 <div class="info-pair">
                                     <div class="header">
                                         <div class="label csc-exhibition-venueClosingDate-label"></div>
                                     </div>
                                     <div class="content">
                                         <table>
                                             <thead>
                                                 <tr>
                                                     <td class="csc-exhibition-venueClosingDateStart-label"></td>
                                                     <td class="csc-exhibition-venueClosingDateEnd-label"></td>
                                                 </tr>
                                             </thead>
                                             <tbody>
                                                 <tr>
                                                     <td><input type="text" class="csc-exhibition-venueClosingDateStart" /></td>
                                                     <td><input type="text" class="csc-exhibition-venueClosingDateEnd" /></td>
                                                 </tr>
                                             </tbody>
                                         </table>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="info-pair">
                     <div class="header">
                         <div class="label csc-exhibition-updatedBy-label"></div>
                     </div>
                     <div class="content clearfix">
                         <input type="text" class="csc-exhibition-updatedBy"/>
                     </div>
                 </div>
                 <div class="info-pair">
                     <div class="header">
                         <div class="label csc-exhibition-updatedAt-label"></div>
                     </div>
                     <div class="content">
                         <table>
                             <thead>
                                 <tr>
                                     <td class="csc-exhibition-updatedAtStart-label"></td>
                                     <td class="csc-exhibition-updatedAtEnd-label"></td>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr>
                                     <td><input type="text" class="csc-exhibition-updatedAtStart" /></td>
                                     <td><input type="text" class="csc-exhibition-updatedAtEnd" /></td>
                                 </tr>
                             </tbody>
                         </table>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</div>