<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanin-loanInNumber-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-loanin-loanInNumber"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanin-lender-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-loanIn-lender"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanin-loanInDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-loanin-loanInDateStart-label"></td>
                                    <td class="csc-loanin-loanInDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-loanin-loanInDateStart" /></td>
                                    <td><input type="text" class="csc-loanin-loanInDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>     
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanin-loanReturnDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-loanin-loanInReturnDateStart-label"></td>
                                    <td class="csc-loanin-loanInReturnDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-loanin-loanInReturnDateStart" /></td>
                                    <td><input type="text" class="csc-loanin-loanInReturnDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>        
                </div>                                                              
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanin-loanRenewalApplicationDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-loanin-loanInRenewalDateStart-label"></td>
                                    <td class="csc-loanin-loanInRenewalDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-loanin-loanInRenewalDateStart" /></td>
                                    <td><input type="text" class="csc-loanin-loanInRenewalDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>     
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-loanin-loanPurpose-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-loanin-loanPurpose input-select"><option value="">Options not loaded</option></select>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanin-editUsername-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-loanin-editUsername"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-loanin-editDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-loanin-editDateStart-label"></td>
                                    <td class="csc-loanin-editDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-loanin-editDateStart" /></td>
                                    <td><input type="text" class="csc-loanin-editDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                                                                     
            </div>
        </div>
    </div>
</div>    