<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-preferredCA-termDisplayName-label"></div>
                    </div>
                    <div class="content clearfix csc-concept-conceptTermGroup">
                        <input type="text" class="csc-concept-termDisplayName"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-preferredCA-termName-label"></div>
                    </div>
                    <div class="content clearfix csc-concept-conceptTermGroup">
                        <input type="text" class="csc-concept-termName"/>
                    </div>        
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-preferredCA-termLanguage-label"></div>
                    </div>
                    <div class="content clearfix csc-concept-conceptTermGroup">
                        <select class="csc-concept-termLanguage input-select"><option value="">Options not loaded</option></select>
                    </div>        
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-preferredCA-termStatus-label"></div>
                    </div>
                    <div class="content clearfix csc-concept-conceptTermGroup">
                        <select class="csc-concept-termStatus input-select"><option value="">Options not loaded</option></select>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-concept-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-concept-updatedAtStart-label"></td>
                                    <td class="csc-concept-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-concept-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-concept-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                                                     
            </div>
        </div>
    </div>
</div>    
