<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">

                <div class="info-column" id="multipleEdit">
                    <div class="info-pair">
                        <div class="header">
                            <div class="label csc-preferredOA-orgTermGroup-label"></div>
                        </div>
                        <div class="content csc-preferredOA-orgTermGroup cs-repeatable-stretched">
                            <div class="info-column">
                                <div class="info-column2-50 fl-force-left">
                                    <div class="info-pair">
                                        <div class="header">
                                            <div class="label csc-organization-termDisplayName-label"></div>
                                        </div>
                                        <div class="content clearfix">
                                            <input type="text" class="csc-orgAuthority-termDisplayName"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-column2-50 fl-force-right">
                                    <div class="info-pair">
                                        <div class="header">
                                            <div class="label csc-organization-termStatus-label"></div>
                                        </div>
                                        <div class="content clearfix">
                                            <select class="csc-orgAuthority-termStatus input-select">
                                                <option value="">Options not loaded</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-organization-foundingDateGroup-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-organization-foundingDateGroupStart-label"></td>
                                    <td class="csc-organization-foundingDateGroupEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-organization-foundingDateGroupStart" /></td>
                                    <td><input type="text" class="csc-organization-foundingDateGroupEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-organization-dissolutionDateGroup-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-organization-dissolutionDateGroupStart-label"></td>
                                    <td class="csc-organization-dissolutionDateGroupEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-organization-dissolutionDateGroupStart" /></td>
                                    <td><input type="text" class="csc-organization-dissolutionDateGroupEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-organization-foundingPlace-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-orgAuthority-foundingPlace"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-organization-group-label"> </div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-orgAuthority-group" />
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-organization-function-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-orgAuthority-function" />
                    </div>
                </div>

                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-organization-updatedBy-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-organization-updatedBy"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-organization-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-organization-updatedAtStart-label"></td>
                                    <td class="csc-organization-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-organization-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-organization-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
