<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-location-displayName-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-location-displayName"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-location-name-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-location-name"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-location-accessNote-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-location-accessNote"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-location-address-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-location-address"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-location-conditionNote-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-location-conditionNote"/>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-location-securityNote-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-location-securityNote"/>
                    </div>        
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-location-locationType-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-location-type input-select"><option value="">Options not loaded</option></select>
                    </div>        
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-location-termStatus-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-location-termStatus input-select"><option value="">Options not loaded</option></select>
                    </div>        
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-location-editUsername-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-location-editUsername"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-location-editDate-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-location-editDateStart-label"></td>
                                    <td class="csc-location-editDateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-location-editDateStart" /></td>
                                    <td><input type="text" class="csc-location-editDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                                                     
            </div>
        </div>
    </div>
</div>    