<div class="csc-right-sidebar">
    <div class="fl-force-right right-sidebar" id="csc-right-sidebar">
		<div class="csc-sidebar-report"></div>
		<div class="pivot-box csc-sidebar-media">
		    <div class="media-snapshot csc-media-snapshot">
                <div class="csc-sidebar-mediaHeader cs-sidebar-header csc-media-header fl-container-flex header toggle"></div>
                <div class="csc-media-togglable content cs-sidebar-mediaImage">
                    <img class="csc-sidebar-mediumImage" src="" />
                </div>
            </div>
		</div>
        <div class="pivot-box csc-sidebar-termsUsed">
	        <div class="csc-sidebar-header cs-sidebar-header fl-container-flex header toggle">
	            <span class="csc-sidebar-termsHeader"></span>
	        </div>
	        <div class="csc-sidebar-togglable">
                <div class="content csc-integrated-authorities"></div>
                <div class="csc-sidebar-banner">
                    <div class="csc-sidebar-banner-message"></div>
                </div>
	        </div>
	    </div>
        <div class="csc-related-record"><!-- relatedRecordListTemplate here --></div>
    </div>
    <div class="clear"></div>
</div>