<div class="csc-right-sidebar">
    <div class="fl-force-right right-sidebar" id="csc-right-sidebar">
		<div class="csc-sidebar-report"></div>
		<div class="csc-sidebar-batch"></div>
		<div class="pivot-box csc-sidebar-media">
		    <div class="csc-sidebar-mediaHeader cs-sidebar-header csc-media-header fl-container-flex header toggle"></div>
            <div class="csc-media-togglable content">
                <div class="csc-mediaView-container"></div>
            </div>
		</div>
        <div class="csc-related-record"><!-- relatedRecordListTemplate here --></div>
    </div>
    <div class="clear"></div>
</div>