<div class="fl-container-flex fl-fix information-group">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">                   
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="csc-templateEditor-templateName-label label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-templateEditor-templateName"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>